
//
// fc-datagrid-indent
//

.fc-datagrid-indent {
  display: flex;
  flex-direction: row;
  align-items: center; // vertical align
}

//
// fc-datagrid-indent > icon
//

.fc-datagrid-expander { // (expander)
  cursor: pointer;
  opacity: 0.65;
}

.fc-direction-ltr .fc-datagrid-indent > .fc-icon:last-child { // (ltr)
  margin-right: 3px;
}
.fc-direction-rtl .fc-datagrid-indent > .fc-icon:last-child { // (rtl)
  margin-left: 3px;
}

//
// fc-datagrid-col-resizer
//

.fc-datagrid-col-resizer {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  width: 5px;
  cursor: col-resize;
}

.fc-direction-ltr .fc-datagrid-col-resizer { // (ltr)
  right: -3px;
}
.fc-direction-rtl .fc-datagrid-col-resizer { // (rtl)
  left: -3px;
}
