
.fcnew {

  // the column resizer (only in HEADER)

  & .fcnew-header-cell { // weird name
    display: flex;
    align-items: center; // vertical align
  }

  & .fcnew-datagrid-cell-resizer {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    width: 5px;
    cursor: col-resize;
  }

  & .fcnew-roworigin {
    position: relative;
  }
  & .fcnew-roworigin > .fcnew-row {
    // TODO: DRY-up with fcnew-resource-timeline-row
    position: absolute;
    left: 0;
    right: 0;
    // transition: top 0.5s ease;
  }

  & .fcnew-supercolumns > * { // TODO: better selector
    border-right: 1px solid var(--fcnew-border-color);
  }
  & .fcnew-supercolumns > *:last-child { // TODO: better selector
    border-right: 0;
  }

  // the cushion

  & .fcnew-datagrid-cell-cushion {
    padding: 8px;
    white-space: nowrap;
    overflow: hidden; // problem for col resizer :(
  }

  // expander icons

  & .fcnew-icons > .fcnew-icon { // TODO: better selector!
    width: 1em; /* ensure constant width, esp for empty icons */
  }

  & .fcnew-datagrid-expander {
    cursor: pointer;
    opacity: 0.65;
  }
}

.fcnew-direction-ltr .fcnew-datagrid-cell-resizer { right: -3px }
.fcnew-direction-rtl .fcnew-datagrid-cell-resizer { left: -3px }

.fcnew-direction-ltr .fcnew-icons > .fcnew-icon:last-child { margin-right: 3px }
.fcnew-direction-rtl .fcnew-icons > .fcnew-icon:last-child { margin-left: 3px }
