
// TODO: move to flex utils for most of these things?

//
// Cell
//

.fcnew-datagrid-cell {
  display: flex;
  flex-direction: column;
}

// (in header)
.fcnew-datagrid-header .fcnew-datagrid-cell {
  justify-content: center; // vertical align
}

//
// Cell > Cushion
//

.fcnew-datagrid-cell-cushion {
  display: flex;
  align-items: center; // horizontally align icons & main
  padding: 8px;
  white-space: nowrap;
  overflow: hidden;
}

//
// Cell > Cushion > Indent
//

.fcnew-datagrid-indent {
  display: flex;
  align-items: center; // vertical align
}

// > Icon (rightmost when LTR)
.fcnew-direction-ltr .fcnew-datagrid-indent > .fcnew-icon:last-child {
  margin-right: 3px;
}

// > Icon (leftmost when RTL)
.fcnew-direction-rtl .fcnew-datagrid-indent > .fcnew-icon:last-child {
  margin-left: 3px;
}

// > Icon (expander)
.fcnew-datagrid-expander {
  cursor: pointer;
  opacity: 0.65;
}

//
// Cell > Cushion > Main
// .fcnew-datagrid-cell-main
//

//
// ColHeader > Resizer
//

.fcnew-datagrid-cell-resizer {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  width: 5px;
  cursor: col-resize;
}

// (LTR)
.fcnew-direction-ltr .fcnew-datagrid-cell-resizer {
  right: -3px;
}

// (RTL)
.fcnew-direction-rtl .fcnew-datagrid-cell-resizer {
  left: -3px;
}
