
.fcnew {

  & .fcnew-resource-timeline-divider {
    width: 3px; // important to have width to shrink this cell. no cross-browser problems
    cursor: col-resize;
  }

  & .fcnew-resource-timeline-row {
    border-bottom: 1px solid var(--fcnew-border-color);
  }
  & .fcnew-resource-timeline-row:last-child {
    border-bottom: 0;
  }

  & .fcnew-roworigin > .fcnew-resource-timeline-row {
    position: absolute;
    left: 0;
    right: 0;
    // transition: top 0.5s ease;
  }
}
