
.fcnew {

  & .fcnew-resource-timeline-divider {
    width: 3px; // important to have width to shrink this cell. no cross-browser problems
    cursor: col-resize;
  }

  & .fcnew-roworigin > .fcnew-row {
    position: absolute;
    left: 0;
    right: 0;
    // transition: top 0.5s ease;
  }
}
