
//
// Common
//

.fc-list-event,
.fc-list-day {
  padding: 8px 14px;
}
// make the dot closer to the event title
.fc-direction-ltr .fc-list-event-dot-outer { padding-right: 0 }
.fc-direction-rtl .fc-list-event-dot-outer { padding-left: 0 }

//
// ListEmpty
//

.fc-list-empty {
  background-color: var(--fc-neutral-bg-color);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; // vertically aligns fc-list-empty-inner
}

.fc-list-empty-inner {
  margin: 5em 0;
}

//
// Borders
//

.fc-list-day-and-events:not(:last-child),
.fc-list-day,
.fc-list-event:not(:last-child) {
  border-bottom: 1px solid var(--fc-border-color);
}
