
//
// list-day > cell
//

.fc-list-day-cell-sticky { // (sticky)
  position: sticky;
  top: 0;
  background: var(--fc-page-bg-color); // for fc-list-day-inner's semitransparent color
}

//
// list-day > cell > inner
//

.fc-list-day-inner {
  display: flex;
  justify-content: space-between;
  background: var(--fc-neutral-bg-color);
}
