
.fc-list-event {
  display: flex;
  flex-direction: row;
}

// reset <a> styling
a.fc-list-event {
  color: inherit;
  text-decoration: none;
}

// underline link when hovering over any part of row
a.fc-list-event:hover {
  text-decoration: underline;
}

.fc-list-event:hover td {
  background-color: var(--fc-list-event-hover-bg-color);
}

// shrink certain cols
.fc-list-event-dot-outer,
.fc-list-event-time {
  white-space: nowrap;
}

.fc-list-event-dot {
  display: inline-block;
  box-sizing: content-box;
  width: 0;
  height: 0;
  border: calc(var(--fc-list-event-dot-width) / 2) solid var(--fc-event-border-color);
  border-radius: calc(var(--fc-list-event-dot-width) / 2);
}
