
.fcnew {

  // table within the scroller
  // ----------------------------------------------------------------------------------------------------

  & .fcnew-list-table {
    width: 100%;
    border-style: hidden; // kill outer border on theme
    border-spacing: 0;
    border-collapse: collapse;
  }

  & .fcnew-list-table tr > * {
    // hack. will need to separate-out for theming
    border-style: solid;
    border-color: var(--fcnew-border-color);
    border-width: 1px 0; // top and bottom
  }

  & .fcnew-list-sticky {
    & .fcnew-list-day > * { // the cells
      position: sticky;
      top: 0;
      background: var(--fcnew-page-bg-color); // for when headers are styled to be transparent and sticky
    }
  }

  // only exists for aria reasons, hide for non-screen-readers
  & .fcnew-list-table thead {
    position: absolute;
    left: -10000px;
  }

  // the table's border-style:hidden gets confused by hidden thead. force-hide top border of first cell
  & .fcnew-list-table tbody > tr:first-child th {
    border-top: 0;
  }

  & .fcnew-list-table th {
    padding: 0; // uses an inner-wrapper instead...
  }

  & .fcnew-list-table td,
  & .fcnew-list-day-cushion {
    padding: 8px 14px;
  }


  // date heading rows
  // ----------------------------------------------------------------------------------------------------

  & .fcnew-list-day-cushion {
    &:after {
      @include clearfix; // clear floating
    }
  }

}

.fcnew-theme-standard {

  & .fcnew-list-day-cushion {
    background-color: var(--fcnew-neutral-bg-color);
  }

}

.fcnew-direction-ltr .fcnew-list-day-text,
.fcnew-direction-rtl .fcnew-list-day-side-text {
  float: left;
}

.fcnew-direction-ltr .fcnew-list-day-side-text,
.fcnew-direction-rtl .fcnew-list-day-text {
  float: right;
}

// make the dot closer to the event title
.fcnew-direction-ltr .fcnew-list-table .fcnew-list-event-graphic { padding-right: 0 }
.fcnew-direction-rtl .fcnew-list-table .fcnew-list-event-graphic { padding-left: 0 }
