
.fcnew-theme-standard {

  & .fcnew-list {
    border: 1px solid var(--fcnew-border-color);
  }

}

.fc {

  // message when no events
  & .fcnew-list-empty {
    background-color: var(--fcnew-neutral-bg-color);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; // vertically aligns fcnew-list-empty-inner
  }

  & .fcnew-list-empty-cushion {
    margin: 5em 0;
  }

}
