
//
// ListViewHeaderRow (<TR>)
// .fcnew-list-day
//

//
// ListViewHeaderRow > Cell
// .fcnew-list-day-cell
//

.fcnew-list-day-cell-sticky { // (sticky variant)
  position: sticky;
  top: 0;
  background: var(--fcnew-page-bg-color); // for fcnew-list-day-inner's semitransparent color
}

//
// ListViewHeaderRow > Cell > Inner
// .fcnew-list-day-inner
//

.fcnew-list-day-inner {
  display: flex;
  justify-content: space-between;
  background: var(--fcnew-neutral-bg-color);
}

//
// ListViewHeaderRow > Cell > Inner > Text
// .fcnew-list-day-text
//

//
// ListViewHeaderRow > Cell > Inner > SideText
// .fcnew-list-day-side-text
//
