
:root {
  /* primary */
  --fc-monarch-primary: rgb(76 102 43);
  --fc-monarch-primary-foreground: rgb(255 255 255);
  --fc-monarch-primary-over: color-mix(in oklab, var(--fc-monarch-primary) 90%, white);
  --fc-monarch-primary-down: color-mix(in oklab, var(--fc-monarch-primary) 80%, white);

  /* secondary */
  --fc-monarch-secondary: rgb(205 237 163);
  --fc-monarch-secondary-foreground: rgb(53 78 22);
  --fc-monarch-secondary-over: color-mix(in oklab, var(--fc-monarch-secondary) 95%, var(--fc-monarch-foreground));
  --fc-monarch-secondary-down: color-mix(in oklab, var(--fc-monarch-secondary) 90%, var(--fc-monarch-foreground));

  /* tertiary */
  --fc-monarch-tertiary: rgb(56 102 99);
  --fc-monarch-tertiary-foreground: rgb(255 255 255);
  --fc-monarch-tertiary-over: color-mix(in oklab, var(--fc-monarch-tertiary) 90%, white);
  --fc-monarch-tertiary-down: color-mix(in oklab, var(--fc-monarch-tertiary) 80%, white);

  /* calendar content */
  --fc-monarch-event: var(--fc-monarch-primary);
  --fc-monarch-event-contrast: var(--fc-monarch-primary-foreground);
  --fc-monarch-highlight: color-mix(in oklab, var(--fc-monarch-secondary) 30%, transparent);
  --fc-monarch-now: rgb(186 26 26);

  /* controls */
  --fc-monarch-selected: rgb(88 98 73);
  --fc-monarch-selected-foreground: rgb(255 255 255);
  --fc-monarch-selected-over: color-mix(in oklab, var(--fc-monarch-selected) 90%, white);
  --fc-monarch-selected-down: color-mix(in oklab, var(--fc-monarch-selected) 80%, white);
  --fc-monarch-outline: red;

  /* popover */
  --fc-monarch-popover: var(--fc-monarch-background);

  /* neutral backgrounds */
  --fc-monarch-background: #ffffff;
  --fc-monarch-faint: #6b72801A;
  --fc-monarch-muted: #6b728026;
  --fc-monarch-strong: #6b72804D;
  --fc-monarch-stronger: #6b728059;
  --fc-monarch-strongest: #6b728066;

  /* neutral foregrounds */
  --fc-monarch-foreground: #030712;
  --fc-monarch-faint-foreground: #bebebe;
  --fc-monarch-muted-foreground: #8d8d8d;

  /* neutral borders */
  --fc-monarch-border: rgb(197 200 186);
  --fc-monarch-strong-border: rgb(197 200 186);
}

[data-color-scheme=dark] {
  /* primary */
  --fc-monarch-primary: rgb(177 209 138);
  --fc-monarch-primary-foreground: rgb(31 55 1);

  /* secondary */
  --fc-monarch-secondary: rgb(53 78 22);
  --fc-monarch-secondary-foreground: rgb(205 237 163);

  /* tertiary */
  --fc-monarch-tertiary: rgb(160 208 203);
  --fc-monarch-tertiary-foreground: rgb(0 55 53);

  /* calendar content */
  --fc-monarch-now: rgb(255 180 171);

  /* controls */
  --fc-monarch-selected: rgb(191 203 173);
  --fc-monarch-selected-foreground: rgb(42 51 30);
  --fc-monarch-outline: red;

  /* popover */
  --fc-monarch-popover: rgb(18 20 14);
  --fc-monarch-popover-foreground: rgb(226 227 216);

  /* neutral backgrounds */
  --fc-monarch-background: #030712;
  --fc-monarch-faint: #6b72801A;
  --fc-monarch-muted: #6b728026;
  --fc-monarch-strong: #6b72804D;
  --fc-monarch-stronger: #6b728059;
  --fc-monarch-strongest: #6b728066;

  /* neutral foregrounds */
  --fc-monarch-foreground: #ffffff;
  --fc-monarch-faint-foreground: #898989;
  --fc-monarch-muted-foreground: #b0b0b0;

  /* neutral borders */
  --fc-monarch-border: rgb(68 72 61);
  --fc-monarch-strong-border: rgb(68 72 61);
}

