
:root {
  /* primary */
  --fc-monarch-primary: rgb(143 76 56);
  --fc-monarch-primary-foreground: rgb(255 255 255);
  --fc-monarch-primary-over: color-mix(in oklab, var(--fc-monarch-primary) 90%, white);
  --fc-monarch-primary-down: color-mix(in oklab, var(--fc-monarch-primary) 80%, white);

  /* secondary */
  --fc-monarch-secondary: rgb(255 219 209);
  --fc-monarch-secondary-foreground: rgb(114 53 35);
  --fc-monarch-secondary-over: color-mix(in oklab, var(--fc-monarch-secondary) 95%, var(--fc-monarch-foreground));
  --fc-monarch-secondary-down: color-mix(in oklab, var(--fc-monarch-secondary) 90%, var(--fc-monarch-foreground));

  /* tertiary */
  --fc-monarch-tertiary: rgb(108 93 47);
  --fc-monarch-tertiary-foreground: rgb(255 255 255);
  --fc-monarch-tertiary-over: color-mix(in oklab, var(--fc-monarch-tertiary) 90%, white);
  --fc-monarch-tertiary-down: color-mix(in oklab, var(--fc-monarch-tertiary) 80%, white);

  /* calendar content */
  --fc-monarch-event: var(--fc-monarch-primary);
  --fc-monarch-event-contrast: var(--fc-monarch-primary-foreground);
  --fc-monarch-highlight: color-mix(in oklab, var(--fc-monarch-secondary) 30%, transparent);
  --fc-monarch-now: rgb(186 26 26);

  /* controls */
  --fc-monarch-selected: rgb(119 87 78);
  --fc-monarch-selected-foreground: rgb(255 255 255);
  --fc-monarch-selected-over: color-mix(in oklab, var(--fc-monarch-selected) 90%, white);
  --fc-monarch-selected-down: color-mix(in oklab, var(--fc-monarch-selected) 80%, white);
  --fc-monarch-outline: red;

  /* popover */
  --fc-monarch-popover: var(--fc-monarch-background);

  /* neutral backgrounds */
  --fc-monarch-background: #ffffff;
  --fc-monarch-faint: #6b72801A;
  --fc-monarch-muted: #6b728026;
  --fc-monarch-strong: #6b72804D;
  --fc-monarch-stronger: #6b728059;
  --fc-monarch-strongest: #6b728066;

  /* neutral foregrounds */
  --fc-monarch-foreground: #030712;
  --fc-monarch-faint-foreground: #bebebe;
  --fc-monarch-muted-foreground: #8d8d8d;

  /* neutral borders */
  --fc-monarch-border: rgb(216 194 188);
  --fc-monarch-strong-border: rgb(216 194 188);
}

[data-color-scheme=dark] {
  /* primary */
  --fc-monarch-primary: rgb(255 181 160);
  --fc-monarch-primary-foreground: rgb(86 31 15);

  /* secondary */
  --fc-monarch-secondary: rgb(114 53 35);
  --fc-monarch-secondary-foreground: rgb(255 219 209);

  /* tertiary */
  --fc-monarch-tertiary: rgb(216 197 141);
  --fc-monarch-tertiary-foreground: rgb(59 47 5);

  /* calendar content */
  --fc-monarch-now: rgb(255 180 171);

  /* controls */
  --fc-monarch-selected: rgb(231 189 178);
  --fc-monarch-selected-foreground: rgb(68 42 34);
  --fc-monarch-outline: red;

  /* popover */
  --fc-monarch-popover: rgb(26 17 15);
  --fc-monarch-popover-foreground: rgb(241 223 218);

  /* neutral backgrounds */
  --fc-monarch-background: #030712;
  --fc-monarch-faint: #6b72801A;
  --fc-monarch-muted: #6b728026;
  --fc-monarch-strong: #6b72804D;
  --fc-monarch-stronger: #6b728059;
  --fc-monarch-strongest: #6b728066;

  /* neutral foregrounds */
  --fc-monarch-foreground: #ffffff;
  --fc-monarch-faint-foreground: #898989;
  --fc-monarch-muted-foreground: #b0b0b0;

  /* neutral borders */
  --fc-monarch-border: rgb(83 67 63);
  --fc-monarch-strong-border: rgb(83 67 63);
}

