
.fc {

  & .fc-timeline-bg { // a container for bg content
    position: absolute;
    z-index: $timeline-bg-z;
    top: 0;
    bottom: 0;
    width: 0;
    left: 0; // will take precedence when LTR
    right: 0; // will take precedence when RTL

    @include bg-z-indexes;
  }

  & .fc-timeline-bg-harness {
    position: absolute;
    top: 0;
    bottom: 0;
  }

}
