
.fc {

  & .fc-timeline-now-indicator-arrow,
  & .fc-timeline-now-indicator-line {
    position: absolute;
    z-index: $timeline-now-indicator-z;
    top: 0;
    border-style: solid;
    border-color: $now-indicator-color;
  }

  & .fc-timeline-now-indicator-arrow {
    margin: 0 -6px; // 5, then one more to counteract scroller's negative margins

    // triangle pointing down. TODO: mixin
    border-width: 6px 5px 0 5px;
    border-left-color: transparent;
    border-right-color: transparent;
  }

  & .fc-timeline-now-indicator-line {
    margin: 0 -1px; // counteract scroller's negative margins
    bottom: 0;
    border-width: 0 0 0 1px;
  }

}
