
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

#top {
  background: #eee;
  border-bottom: 1px solid #ddd;
  padding: 0 10px;
  line-height: 40px;
  font-size: 12px;
}

#calendar {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 10px;
}
