
:root {
  --fc-classic-background: var(--color-white);
  --fc-classic-border: #ddd;
  --fc-classic-strong-border: var(--color-gray-400);
  --fc-classic-today: color-mix(in oklab, var(--color-yellow-400) 15%, transparent);
  --fc-classic-highlight: color-mix(in oklab, var(--color-cyan-100) 40%, transparent);
  --fc-classic-glassy: color-mix(in oklab, var(--color-gray-500) 10%, transparent);
  --fc-classic-muted: var(--color-gray-100);
  --fc-classic-muted-foreground: var(--color-gray-500);
  --fc-classic-now: var(--color-red-500);
  --fc-classic-strong: var(--color-gray-300);
}

[data-color-scheme=dark] {
  --fc-classic-background: var(--color-gray-950);
  --fc-classic-border: var(--color-gray-800);
  --fc-classic-strong-border: var(--color-gray-700);
  --fc-classic-today: color-mix(in oklab, var(--color-yellow-200) 10%, transparent);
  --fc-classic-highlight: color-mix(in oklab, var(--color-blue-500) 20%, transparent);
  --fc-classic-glassy: color-mix(in oklab, var(--color-gray-500) 15%, transparent);
  --fc-classic-muted: var(--color-gray-900);
  --fc-classic-muted-foreground: var(--color-gray-300);
  --fc-classic-strong: var(--color-gray-700);
}
