
:root {
  --fc-classic-background-color: var(--color-white);
  --fc-classic-border-color: #ddd;
  --fc-classic-major-border-color: var(--color-gray-400);
  --fc-classic-today-color: color-mix(in oklab, var(--color-yellow-400) 15%, transparent);
  --fc-classic-highlight-color: color-mix(in oklab, var(--color-cyan-100) 40%, transparent);
  --fc-classic-muted-transparent-color: color-mix(in oklab, var(--color-gray-500) 10%, transparent);
  --fc-classic-muted-color: var(--color-gray-100);
  --fc-classic-muted-text-color: var(--color-gray-500);
  --fc-classic-now-indicator-color: var(--color-red-500);
  --fc-classic-neutral-color: var(--color-gray-300);
}

[data-color-scheme=dark] {
  --fc-classic-background-color: var(--color-gray-950);
  --fc-classic-border-color: var(--color-gray-800);
  --fc-classic-major-border-color: var(--color-gray-700);
  --fc-classic-today-color: color-mix(in oklab, var(--color-yellow-200) 10%, transparent);
  --fc-classic-highlight-color: color-mix(in oklab, var(--color-blue-500) 20%, transparent);
  --fc-classic-muted-transparent-color: color-mix(in oklab, var(--color-gray-500) 15%, transparent);
  --fc-classic-muted-color: var(--color-gray-900);
  --fc-classic-muted-text-color: var(--color-gray-300);
  --fc-classic-neutral-color: var(--color-gray-700);
}
