
/*
NOTE: button/toolbar UI is not defined here

TODO: make --fc-classic-foreground ?
*/

:root {
  /* primary */
  --fc-classic-primary: #3788d8;
  --fc-classic-primary-foreground: #fff;

  /* calendar content */
  --fc-classic-event: var(--fc-classic-primary);
  --fc-classic-event-contrast: var(--fc-classic-primary-foreground);
  --fc-classic-background-event: var(--color-green-500);
  --fc-classic-highlight: color-mix(in oklab, var(--color-cyan-100) 40%, transparent);
  --fc-classic-today: color-mix(in oklab, var(--color-yellow-400) 15%, transparent);
  --fc-classic-now: var(--color-red-500);

  /* neutral backgrounds */
  --fc-classic-background: var(--color-white);
  --fc-classic-faint: color-mix(in oklab, var(--color-black) 4%, transparent); /* TODO */
  --fc-classic-muted: color-mix(in oklab, var(--color-black) 8%, transparent); /* TODO */
  --fc-classic-strong: color-mix(in oklab, var(--color-black) 14%, transparent); /* TODO */

  /* neutral foregrounds */
  --fc-classic-faint-foreground: var(--color-gray-400);
  --fc-classic-muted-foreground: var(--color-gray-500);

  /* neutral borders */
  --fc-classic-border: #ddd;
  --fc-classic-strong-border: var(--color-gray-400);
}

[data-color-scheme=dark] {
  /* calendar content */
  --fc-classic-highlight: color-mix(in oklab, var(--color-blue-500) 20%, transparent);
  --fc-classic-today: color-mix(in oklab, var(--color-yellow-200) 10%, transparent);

  /* neutral backgrounds */
  --fc-classic-background: var(--color-gray-950);
  --fc-classic-faint: color-mix(in oklab, var(--color-white) 4%, transparent); /* TODO */
  --fc-classic-muted: color-mix(in oklab, var(--color-white) 8%, transparent); /* TODO */
  --fc-classic-strong: color-mix(in oklab, var(--color-white) 14%, transparent); /* TODO */

  /* neutral foregrounds */
  --fc-classic-faint-foreground: var(--color-gray-600);
  --fc-classic-muted-foreground: var(--color-gray-500);

  /* neutral borders */
  --fc-classic-border: var(--color-gray-800);
  --fc-classic-strong-border: var(--color-gray-700);
}
