
:root {
  --fc-classic-primary: #3788d8;
  --fc-classic-primary-foreground: #fff;
  --fc-classic-background: var(--color-white);
  --fc-classic-border: #ddd;
  --fc-classic-strong-border: var(--color-gray-400);
  --fc-classic-today: color-mix(in oklab, var(--color-yellow-400) 15%, transparent);
  --fc-classic-highlight: color-mix(in oklab, var(--color-cyan-100) 40%, transparent);

  --fc-classic-strong: color-mix(in oklab, var(--color-black) 14%, transparent); /* TODO */
  --fc-classic-muted: color-mix(in oklab, var(--color-black) 8%, transparent); /* TODO */
  --fc-classic-muted-foreground: var(--color-gray-500);
  --fc-classic-faint: color-mix(in oklab, var(--color-black) 4%, transparent); /* TODO */
  --fc-classic-faint-foreground: var(--color-gray-400);

  --fc-classic-now: var(--color-red-500);
}

[data-color-scheme=dark] {
  --fc-classic-primary: #3788d8; /* TODO */
  --fc-classic-primary-foreground: #fff; /* TODO */
  --fc-classic-background: var(--color-gray-950);
  --fc-classic-border: var(--color-gray-800);
  --fc-classic-strong-border: var(--color-gray-700);
  --fc-classic-today: color-mix(in oklab, var(--color-yellow-200) 10%, transparent);
  --fc-classic-highlight: color-mix(in oklab, var(--color-blue-500) 20%, transparent);

  --fc-classic-strong: color-mix(in oklab, var(--color-white) 14%, transparent); /* TODO */
  --fc-classic-muted: color-mix(in oklab, var(--color-white) 8%, transparent); /* TODO */
  --fc-classic-muted-foreground: var(--color-gray-500);
  --fc-classic-faint: color-mix(in oklab, var(--color-white) 4%, transparent); /* TODO */
  --fc-classic-faint-foreground: var(--color-gray-600);
}
