[submodule "contrib/angular"]
	path = contrib/angular
	url = ../fullcalendar-angular.git
[submodule "contrib/react"]
	path = contrib/react
	url = ../fullcalendar-react.git
[submodule "contrib/vue2"]
	path = contrib/vue2
	url = ../fullcalendar-vue2.git
[submodule "contrib/vue3"]
	path = contrib/vue3
	url = ../fullcalendar-vue.git
