
node_modules

/*/packages/*/tsconfig.tsbuildinfo
/*/packages/*/tsc
/*/packages/*/*.js
/*/packages/*/*.css
/*/packages/*/*.map
/*/packages/*/*.d.ts

/*/tests/tsconfig.tsbuildinfo
/*/tests/tsc
/*/tests/*.js
/*/tests/*.css
/*/tests/*.map
/*/tests/*.d.ts

# /*/packages/*/locales
# /*/packages/core/src/locales-all.ts
