
:root {
  /* primary */
  --fc-pulse-primary: #ad46ff;
  --fc-pulse-primary-over: color-mix(in oklab, var(--fc-pulse-primary) 90%, white);
  --fc-pulse-primary-down: color-mix(in oklab, var(--fc-pulse-primary) 80%, white);
  --fc-pulse-primary-foreground: #fff;

  /* secondary */
  --fc-pulse-secondary: var(--fc-pulse-background);
  --fc-pulse-secondary-over: var(--fc-pulse-faint);
  --fc-pulse-secondary-down: var(--fc-pulse-muted);
  --fc-pulse-secondary-foreground: var(--fc-pulse-foreground);
  --fc-pulse-secondary-icon: var(--fc-pulse-faint-foreground);
  --fc-pulse-secondary-icon-over: var(--fc-pulse-muted-foreground);

  /* tertiary */
  --fc-pulse-tertiary: var(--fc-pulse-primary);
  --fc-pulse-tertiary-over: color-mix(in oklab, var(--fc-pulse-tertiary) 90%, white);
  --fc-pulse-tertiary-down: color-mix(in oklab, var(--fc-pulse-tertiary) 80%, white);
  --fc-pulse-tertiary-foreground: var(--fc-pulse-primary-foreground);

  /* calendar content */
  --fc-pulse-background-event: #22c55e;
  --fc-pulse-highlight: #cffafe66;
  --fc-pulse-now: red;
  --fc-pulse-event: #430575;
  --fc-pulse-event-contrast: #fff;

  /* controls */
  --fc-pulse-unselected: var(--fc-pulse-muted);
  --fc-pulse-unselected-foreground: var(--fc-pulse-foreground);
  --fc-pulse-selected: var(--fc-pulse-background);
  --fc-pulse-selected-foreground: var(--fc-pulse-foreground);

  /* neutral backgrounds */
  --fc-pulse-background: #fff;
  --fc-pulse-faint: #00000008;
  --fc-pulse-muted: #00000012;
  --fc-pulse-strong: #0000001F;
  --fc-pulse-stronger: #00000029;
  --fc-pulse-strongest: #00000033;

  /* neutral foregrounds */
  --fc-pulse-foreground: #232d3e;
  --fc-pulse-faint-foreground: #9ca3af;
  --fc-pulse-muted-foreground: #545c6c;

  /* neutral borders */
  --fc-pulse-border: #e5e7eb;
  --fc-pulse-strong-border: #d5d5d6;
}

[data-color-scheme=dark] {
  /* secondary */
  --fc-pulse-secondary: var(--fc-pulse-muted);
  --fc-pulse-secondary-over: var(--fc-pulse-strong);
  --fc-pulse-secondary-down: var(--fc-pulse-stronger);
  --fc-pulse-secondary-foreground: var(--fc-pulse-foreground);
  --fc-pulse-secondary-icon: var(--fc-pulse-muted-foreground);
  --fc-pulse-secondary-icon-over: var(--fc-pulse-foreground);

  /* calendar content */
  --fc-pulse-highlight: #3b82f633;
  --fc-pulse-now: red;

  /* controls */
  --fc-pulse-unselected: var(--fc-pulse-muted);
  --fc-pulse-unselected-foreground: var(--fc-pulse-foreground);
  --fc-pulse-selected: var(--fc-pulse-strong);
  --fc-pulse-selected-foreground: var(--fc-pulse-foreground);

  /* neutral backgrounds */
  --fc-pulse-background: #030712;
  --fc-pulse-faint: #ffffff08;
  --fc-pulse-muted: #ffffff12;
  --fc-pulse-strong: #ffffff1F;
  --fc-pulse-stronger: #ffffff29;
  --fc-pulse-strongest: #ffffff33;

  /* neutral foregrounds */
  --fc-pulse-foreground: #a0aec0;
  --fc-pulse-faint-foreground: #4a5568;
  --fc-pulse-muted-foreground: #718096;

  /* neutral borders */
  --fc-pulse-border: #1a202c;
  --fc-pulse-strong-border: #374257;
}

