
/* DayGrid > Event */
/* ------------------------------------------------------------------------------------------------- */

xxx.fc-media-print .fc-daygrid-block-event {
  background: #fff !important;
}
xxx.fc-media-print .fc-daygrid-block-event .fc-event-inner {
  /* better to assign text-color within to bypass link color */
  color: #000 !important;
}

/* TimeGrid > Event */
/* ------------------------------------------------------------------------------------------------- */

xxx.fc-media-print .fc-timegrid-event {
  background: #fff !important;
}
xxx.fc-media-print .fc-timegrid-event .fc-event-inner {
  /* better to assign text-color within to bypass link color */
  color: #000 !important;
}

/* Timeline > Event */
/* ------------------------------------------------------------------------------------------------- */

xxx.fc-media-print .fc-timeline-event {
  background: #fff !important;
}
xxx.fc-media-print .fc-timeline-event .fc-event-inner {
   /* better to assign text-color within to bypass link color */
  color: #000 !important;
}
