
/*
From Outlook Calendar web interface:
  OLD light values:
    --fc-forma-strong: #D6D6D6;
    --fc-forma-muted: #FAFAFA;
  OLD dark values:
    --fc-forma-strong: #404040;
    --fc-forma-muted: #1A1A1A;
  TODO: ensure below values have same hue!

Further color reference:
  https://fluent2.microsoft.design/color
  https://react.fluentui.dev/?path=/docs/theme-colors--docs
*/

:root {
  /* primary */

  /* calendar content */
  --fc-forma-background-event: var(--color-green-500); /* TODO */
  --fc-forma-highlight: color-mix(in oklab, var(--color-cyan-100) 40%, transparent);

  /* neutral backgrounds */
  --fc-forma-background: #FFFFFF;
  --fc-forma-faint: color-mix(in oklab, var(--color-black) 3%, transparent); /* TODO */
  --fc-forma-muted: color-mix(in oklab, var(--color-black) 7%, transparent); /* TODO */
  --fc-forma-strong: color-mix(in oklab, var(--color-black) 12%, transparent); /* TODO */
  --fc-forma-stronger: color-mix(in oklab, var(--color-black) 16%, transparent); /* TODO */
  --fc-forma-strongest: color-mix(in oklab, var(--color-black) 20%, transparent); /* TODO */

  /* neutral foregrounds */
  --fc-forma-faint-foreground: var(--color-gray-400);
  --fc-forma-muted-foreground: var(--color-gray-500);

  /* neutral borders */
  --fc-forma-border: #E0E0E0;
  --fc-forma-muted-border: #E5E5E5;
  --fc-forma-strong-border: #A6A6A6;
}
[data-color-scheme=dark] {
  /* primary */

  /* calendar content */
  --fc-forma-highlight: color-mix(in oklab, var(--color-blue-500) 20%, transparent);

  /* neutral backgrounds */
  --fc-forma-background: var(--color-gray-950);
  --fc-forma-faint: color-mix(in oklab, var(--color-white) 4%, transparent); /* TODO */
  --fc-forma-muted: color-mix(in oklab, var(--color-white) 8%, transparent); /* TODO */
  --fc-forma-strong: color-mix(in oklab, var(--color-white) 12%, transparent); /* TODO */
  --fc-forma-stronger: color-mix(in oklab, var(--color-white) 16%, transparent); /* TODO */
  --fc-forma-strongest: color-mix(in oklab, var(--color-white) 20%, transparent); /* TODO */

  /* neutral foregrounds */
  --fc-forma-faint-foreground: var(--color-gray-600);
  --fc-forma-muted-foreground: var(--color-gray-500);

  /* neutral borders */
  --fc-forma-border: #404040;
  --fc-forma-muted-border: #3A3A3A;
  --fc-forma-strong-border: #707070;
}

[data-palette=blue] {
  /* primary */
  --fc-forma-primary: #0F6CBD;
  --fc-forma-primary-over: #0A5AA3;
  --fc-forma-primary-down: #064889;
  --fc-forma-primary-foreground: #FFFFFF;

  /* calendar content */
  --fc-forma-event: #3788d8; /* a bit lighter than primary */
  --fc-forma-event-contrast: #FFFFFF;
}
[data-palette=blue][data-color-scheme=dark] {
  /* primary */
  --fc-forma-primary: #3788d8;
  --fc-forma-primary-over: #4A9BE8;
  --fc-forma-primary-down: #5DAEF8;
}

[data-palette=red] {
  /* primary */
  --fc-forma-primary: #d83b01;
  --fc-forma-primary-over: #B03001;
  --fc-forma-primary-down: #8A2601;
  --fc-forma-primary-foreground: #FFFFFF;

  /* calendar content */
  --fc-forma-event: var(--fc-forma-primary);
  --fc-forma-event-contrast: var(--fc-forma-primary-foreground);
}
[data-palette=red][data-color-scheme=dark] {
  /* primary */
  --fc-forma-primary: #E84A11;
  --fc-forma-primary-over: #F15D21;
  --fc-forma-primary-down: #FA7031;
}

[data-palette=green] {
  /* primary */
  --fc-forma-primary: #107c41;
  --fc-forma-primary-over: #0D6334;
  --fc-forma-primary-down: #0A4A27;
  --fc-forma-primary-foreground: #FFFFFF;

  /* calendar content */
  --fc-forma-event: var(--fc-forma-primary);
  --fc-forma-event-contrast: var(--fc-forma-primary-foreground);
}
[data-palette=green][data-color-scheme=dark] {
  /* primary */
  --fc-forma-primary: #218D52;
  --fc-forma-primary-over: #329E63;
  --fc-forma-primary-down: #43AF74;
}

[data-palette=purple] { /* "power apps" */
  /* primary */
  --fc-forma-primary: #742774;
  --fc-forma-primary-over: #5D1F5D;
  --fc-forma-primary-down: #461746;
  --fc-forma-primary-foreground: #FFFFFF;

  /* calendar content */
  --fc-forma-event: var(--fc-forma-primary);
  --fc-forma-event-contrast: var(--fc-forma-primary-foreground);
}
[data-palette=purple][data-color-scheme=dark] {
  /* primary */
  --fc-forma-primary: #853885;
  --fc-forma-primary-over: #964996;
  --fc-forma-primary-down: #A75AA7;
}
