
/* Table Cell Common
--------------------------------------------------------------------------------------------------*/

.fc-timeline th,
.fc-timeline td {
  white-space: nowrap;
}

.fc-timeline th {
  vertical-align: middle;
}

.fc-timeline .fc-cell-content {
  overflow: hidden;
}

.fc-timeline .fc-cell-text {
  padding-left: 4px;
  padding-right: 4px;
}

.fc-timeline .fc-head .fc-cell-content {
  padding-top: 3px;
  padding-bottom: 3px;
}

.fc-timeline .fc-head .fc-cell-text {
  display: inline-block; // for stickiness
}

.fc-timeline-header .fc-cell-content { // contains sticky children
  overflow: visible; // undo previous rule
}

/*
Cells at the start of a week
TODO: figure out better styling

.fc-ltr .fc-timeline .fc-em-cell div {
  border-left: 3px solid #eee;
  height: 100%;
}
.fc-rtl .fc-timeline .fc-em-cell {
  border-right-width: 3px;
}
*/


/* Time Area
--------------------------------------------------------------------------------------------------*/

.fc-timeline-grid {
  min-height: 100%;
  position: relative;
}

.fc-time-area col {
  min-width: 2.2em; // can remove hardcoded 30 in JS?
}

/* head */

.fc-ltr .fc-time-area .fc-chrono th {
  text-align: left;
}
.fc-rtl .fc-time-area .fc-chrono th {
  text-align: right;
}

/* body slats (vertical lines) */

.fc-timeline-slots { /* fc-bg is responsible for a lot of this now! */
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.fc-timeline-slot {
  border-width: 0 1px; /* need to do this. sometimes -1 margin wouldn't hide the dotted */
}

.fc-timeline-slot-minor {
  border-style: dotted;
}

/* body content containers
   can be within rows or directly within the pane's content
*/

.fc-time-area .fc-bgevent-container,
.fc-time-area .fc-highlight-container {
  position: absolute;
  z-index: 2; /* only for directly within pane. not for row. overridden later */
  top: 0;
  bottom: 0;
  width: 0;
}

.fc-ltr .fc-time-area .fc-mirror-container,
.fc-ltr .fc-time-area .fc-bgevent-container,
.fc-ltr .fc-time-area .fc-highlight-container {
  left: 0;
}
.fc-rtl .fc-time-area .fc-mirror-container,
.fc-rtl .fc-time-area .fc-bgevent-container,
.fc-rtl .fc-time-area .fc-highlight-container {
  right: 0;
}

.fc-time-area .fc-bgevent,
.fc-time-area .fc-highlight {
  position: absolute;
  top: 0;
  bottom: 0;
}


/* Now Indicator
--------------------------------------------------------------------------------------------------*/

.fc-timeline .fc-now-indicator { /* both the arrow and the line */
  z-index: 3; /* one above scroller's fc-content */
  top: 0;
}

.fc-time-area .fc-now-indicator-arrow {
  margin: 0 -6px; /* 5, then one more to counteract scroller's negative margins */
  /* triangle pointing down... */
  border-width: 6px 5px 0 5px;
  border-left-color: transparent;
  border-right-color: transparent;
}

.fc-time-area .fc-now-indicator-line {
  margin: 0 -1px; /* counteract scroller's negative margins */
  bottom: 0;
  border-left-width: 1px;
}


/* Event Container
--------------------------------------------------------------------------------------------------*/

.fc-timeline-lane {
  position: relative;
}

.scrollgrid-vgrow-cell-hack td > .fc-timeline-lane {
  // when the lane isn't able to grow to fill the height, we want the <td> to become the
  // offset parent instead of the lane, for background event absolute positioning.
  position: static;
}

.fc-timeline-events {
  position: relative;
  z-index: 2; /* above bgevent and highlight */
  width: 0; /* for event positioning. will end up on correct side based on dir */
}

.fc-timeline-event-harness {
  position: absolute;
  top: 0; // default
}

.fc-timeline-bgcontent {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0;
  left: 0; // will take precedence when LTR
  right: 0; // will take precedence when RTL
}


/* Time Grid Events
--------------------------------------------------------------------------------------------------*/

// TODO: flexbox to allow for stickyness

.fc-timeline-event {
  display: flex;
  border-radius: 0;
  padding: 2px 1px;
  margin-bottom: 1px;
}

.fc-ltr .fc-timeline-event { margin-right: 1px }
.fc-rtl .fc-timeline-event { margin-left: 1px }

.fc-timeline-event:not(.fc-event-mirror) {
  // min-width: 100px;
}

.fc-no-overlap .fc-timeline-event {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0;
}

.fc-timeline-event:not(.fc-event-start):before,
.fc-timeline-event:not(.fc-event-end):after {
  content: "";
  align-self: center;
  width: 0;
  height: 0;
  margin: 0 1px;
  border: 5px solid #000;
  border-top-color: transparent;
  border-bottom-color: transparent;
  opacity: .5;
}

// pointing left
.fc-ltr .fc-timeline-event:not(.fc-event-start):before,
.fc-rtl .fc-timeline-event:not(.fc-event-end):after {
  border-left: 0;
}

// pointing right
.fc-ltr .fc-timeline-event:not(.fc-event-end):after,
.fc-rtl .fc-timeline-event:not(.fc-event-start):before {
  border-right: 0;
}
