@import "tailwindcss";

@source "../node_modules/@fullcalendar/theme-monarch/src/index.tsx";

@custom-variant dark (&:where(.dark, .dark *));

html {
  --fc-canvas-color: var(--color-white);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html.dark {
  @apply scheme-dark bg-gray-950 text-gray-200;
  --fc-canvas-color: var(--color-gray-950);
}

body {
  margin: 40px 10px;
  padding: 0;
}

#calendar {
  max-width: 1100px;
  margin: 0 auto;
}
