
:root {
  /* primary */
  --fc-forma-primary: #0F6CBD;
  --fc-forma-primary-over: #0A5AA3;
  --fc-forma-primary-down: #064889;
  --fc-forma-primary-foreground: #FFFFFF;

  /* calendar content */
  --fc-forma-background-event: #22c55e;
  --fc-forma-highlight: #cffafe66;
  --fc-forma-event: #3788d8;
  --fc-forma-event-contrast: #FFFFFF;

  /* neutral backgrounds */
  --fc-forma-background: #FFFFFF;
  --fc-forma-faint: #00000008;
  --fc-forma-muted: #00000012;
  --fc-forma-strong: #0000001F;
  --fc-forma-stronger: #00000029;
  --fc-forma-strongest: #00000033;

  /* neutral foregrounds */
  --fc-forma-faint-foreground: #9ca3af;
  --fc-forma-muted-foreground: #6b7280;

  /* neutral borders */
  --fc-forma-border: #E0E0E0;
  --fc-forma-muted-border: #E5E5E5;
  --fc-forma-strong-border: #A6A6A6;
}

[data-color-scheme=dark] {
  /* primary */
  --fc-forma-primary: #3788d8;
  --fc-forma-primary-over: #4A9BE8;
  --fc-forma-primary-down: #5DAEF8;

  /* calendar content */
  --fc-forma-highlight: #3b82f633;

  /* neutral backgrounds */
  --fc-forma-background: #030712;
  --fc-forma-faint: #ffffff0A;
  --fc-forma-muted: #ffffff14;
  --fc-forma-strong: #ffffff1F;
  --fc-forma-stronger: #ffffff29;
  --fc-forma-strongest: #ffffff33;

  /* neutral foregrounds */
  --fc-forma-faint-foreground: #4b5563;
  --fc-forma-muted-foreground: #6b7280;

  /* neutral borders */
  --fc-forma-border: #404040;
  --fc-forma-muted-border: #3A3A3A;
  --fc-forma-strong-border: #707070;
}

