
/*
pointing down
callers must set border-color themselves
*/
@mixin arrow-down($halfWidth, $height) {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: $height $halfWidth 0 $halfWidth;
  border-left-color: transparent;
  border-right-color: transparent;
}

/*
pointing at left or right
callers must set border-color themselves
callers must choose pointing-left/right be setting left/right border to zero
*/
@mixin arrow-left-right($width, $halfHeight) {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: $halfHeight $width;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.fc-resource-area-header-row,
.fc-resource-area-header,
.fc-resource-area-row,
.fc-resource-cell,
.fc-slot-label-row,
.fc-slot-label,
.fc-slot-lane,
.fc-resource-lane,
.fc-resource-group-lane,
.fc-day-header-row,
.fc-day-header-cell,
.fc-day-row,
.fc-day-cell,
.fc-day-lane,
.fc-resource-day-header,
.fc-view-bordered {
  border: 1px solid var(--fc-border-color);
}

.fc-slot-minor {
  border-style: dotted;
}

.fc {
  gap: 1.5em; // space between toolbars and view
}

.fc-navlink {
  cursor: pointer;
}

.fc-navlink:hover {
  text-decoration: underline;
}

.fc-toolbar {
  gap: .75em; // space between start/center/right
}

.fc-toolbar-section {
  gap: .75em; // space between items
}

.fc-toolbar-title {
  font-size: 1.75em;
  font-weight: bold;
  white-space: nowrap;
}

.fc-day-disabled {
  background: var(--fc-neutral-bg-color);
}

// Popover
// -------------------------------------------------------------------------------------------------

.fc-popover {
  box-shadow: 0 2px 6px rgba(0,0,0,.15);
  border: 1px solid var(--fc-border-color);
  background: var(--fc-page-bg-color);
}

.fc-popover-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3px 4px;
  background: var(--fc-neutral-bg-color);
}

.fc-popover-title {
  margin: 0 2px;
}

.fc-popover-close {
  cursor: pointer;
  vertical-align: middle;
  line-height: 1.357em;
}

.fc-popover-close svg { // icon. TODO: DRY with fc-button
  vertical-align: middle;
  font-size: 1.357em;
  width: 1em;
  height: 1em;
  opacity: 0.65;
}

// ONLY the more-popover
.fc-more-popover .fc-popover-body {
  min-width: 220px;
  padding: 10px; // TODO: make this for all popovers?
}

// Button Group
// -------------------------------------------------------------------------------------------------

.fc-button-group {
  position: relative;
}

.fc-button-group > .fc-button {
  position: relative;
  flex: 1 1 auto;
}

.fc-button-group > .fc-button:hover {
  z-index: 1;
}

.fc-button-group > .fc-button:focus,
.fc-button-group > .fc-button:active,
.fc-button-group > .fc-button.fc-button-active {
  z-index: 1;
}

.fc-direction-ltr {

  & .fc-button-group > .fc-button:not(:first-child) {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  & .fc-button-group > .fc-button:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

}

.fc-direction-rtl {

  & .fc-button-group > .fc-button:not(:first-child) {
    margin-right: -1px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  & .fc-button-group > .fc-button:not(:last-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

}

// Button
// -------------------------------------------------------------------------------------------------
/*
Lots taken from Flatly (MIT): https://bootswatch.com/4/flatly/bootstrap.css

These styles only apply when the standard-theme is activated.
When it's NOT activated, the fc-button classes won't even be in the DOM.
*/

// reset

.fc-button {
  border-radius: 0;
  overflow: visible;
  text-transform: none;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.fc-button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.fc-button {
  -webkit-appearance: button;
}

.fc-button:not(:disabled) {
  cursor: pointer;
}

// theme

.fc-button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.4em 0.65em;
  font-size: 1em;
  line-height: 1.5;
  border-radius: 0.25em;
}

.fc-button:hover {
  text-decoration: none;
}

.fc-button:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(44, 62, 80, 0.25);
}

.fc-button:disabled {
  opacity: 0.65;
}

// "primary" coloring

.fc-button-primary {
  color: var(--fc-button-text-color);
  background-color: var(--fc-button-bg-color);
  border-color: var(--fc-button-border-color);
}

.fc-button-primary:hover {
  color: var(--fc-button-text-color);
  background-color: var(--fc-button-hover-bg-color);
  border-color: var(--fc-button-hover-border-color);
}

.fc-button-primary:disabled { // not DRY
  color: var(--fc-button-text-color);
  background-color: var(--fc-button-bg-color);
  border-color: var(--fc-button-border-color); // overrides :hover
}

.fc-button-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(76, 91, 106, 0.5);
}

.fc-button-primary:not(:disabled):active,
.fc-button-primary:not(:disabled).fc-button-active {
  color: var(--fc-button-text-color);
  background-color: var(--fc-button-active-bg-color);
  border-color: var(--fc-button-active-border-color);
}

.fc-button-primary:not(:disabled):active:focus,
.fc-button-primary:not(:disabled).fc-button-active:focus {
  box-shadow: 0 0 0 0.2rem rgba(76, 91, 106, 0.5);
}

// icons within buttons

.fc-button svg {
  vertical-align: middle;
  font-size: 1.5em; // bump up the size (but don't make it bigger than line-height of button, which is 1.5em also)
  width: 1em;
  height: 1em;
}

// MultiMonth
// -------------------------------------------------------------------------------------------------

.fc-single-month-multicol {
  margin: 1.2em;
}

.fc-single-month-title {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}

.fc-single-month-title-singlecol {
  padding: 0.5em 0;
}

.fc-single-month-title-multicol {
  padding-bottom: 1em;
}

.fc-single-month-title-sticky {
  border-bottom: 1px solid var(--fc-border-color);
  background: var(--fc-page-bg-color);
}

.fc-single-month-table {
  // shrink font
  font-size: 0.9em;
  line-height: 1;
}

.fc-single-month-table-borderx {
  border-left: 1px solid var(--fc-border-color);
  border-right: 1px solid var(--fc-border-color);
}

.fc-single-month-table-bordertop {
  border-top: 1px solid var(--fc-border-color);
}

.fc-single-month-table-borderbottom {
  border-bottom: 1px solid var(--fc-border-color);
}

.fc-single-month-title-sticky,
.fc-single-month-table-header-sticky {
  background: var(--fc-page-bg-color);
}

// Filler
// -------------------------------------------------------------------------------------------------

.fc-filler { // scrollbar gutter filler
  opacity: 0.5;
}

.fc-filler-y {
  border-top: 1px solid var(--fc-border-color);
}

.fc-direction-ltr .fc-filler-x {
  border-left: 1px solid var(--fc-border-color);
}

.fc-direction-rtl .fc-filler-x {
  border-right: 1px solid var(--fc-border-color);
}

// Dividers
// -------------------------------------------------------------------------------------------------

.fc-day-header-divider {
  border-top: 1px solid var(--fc-border-color);
}

.fc-resource-area-divider {
  border-left: 1px solid var(--fc-border-color);
  border-right: 1px solid var(--fc-border-color);
  padding-left: 2px;
  background-color: var(--fc-neutral-bg-color);
}

.fc-all-day-divider {
  border-top: 1px solid var(--fc-border-color);
  border-bottom: 1px solid var(--fc-border-color);
  padding-bottom: 2px; // can use just height if we move towards content-box!
  background-color: var(--fc-neutral-bg-color);
}

.fc-timegrid-slot-label-divider {
  border-left: 1px solid var(--fc-border-color);
}

.fc-timeline-slot-label-divider {
  border-top: 1px solid var(--fc-border-color);
}

// Fills & BG event
// -------------------------------------------------------------------------------------------------

.fc-non-business {
  background: var(--fc-non-business-color);
}

.fc-highlight {
  background: var(--fc-highlight-color);
}

.fc-bg-event {
  background: var(--fc-bg-event-color);
  opacity: var(--fc-bg-event-opacity);
}

.fc-bg-event-title {
  margin: .5em;
  font-size: var(--fc-small-font-size);
  font-style: italic;
}

// DayGrid
// -------------------------------------------------------------------------------------------------

.fc-day-cell.fc-day-today { // (today) -- TODO: remove compound selector?
  // only in body cells, not header cells
  background-color: var(--fc-today-bg-color);
}

.fc-day-cell-top {
  display: flex;
  flex-direction: row-reverse;
}

.fc-day-other .fc-day-cell-top { // TODO: remove compound selector?
  opacity: 0.3;
}

.fc-day-cell-top-inner {
  position: relative;
  padding: 4px;
}

.fc-day-cell-top-inner-monthstart {
  font-weight: bold;
  font-size: 1.1em;
}

.fc-daygrid-more-link {
  position: relative;
  max-width: 100%;
  border-radius: 3px;
  margin: 0 2px 1px;
  padding: 2px;
  overflow: hidden;
  white-space: nowrap;
  font-size: var(--fc-small-font-size);
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.fc-day-not-narrow .fc-daygrid-more-link { // (button)
  align-self: flex-start;
}

.fc-day-narrow .fc-daygrid-more-link { // (block)
  // looks like an event
  border: 1px solid var(--fc-event-border-color);
  padding: 1px;
}

.fc-daygrid-week-number {
  position: absolute;
  z-index: 1; // HACK
  top: 0;
  padding: 2px;
  min-width: 1.5em;
  text-align: center;
  background-color: var(--fc-neutral-bg-color);
  color: var(--fc-neutral-text-color);
}

.fc-direction-ltr .fc-daygrid-week-number { // (ltr)
  border-radius: 0 0 3px;
}

.fc-direction-rtl .fc-daygrid-week-number { // (rtl)
  border-radius: 0 0 0 3px;
}

// TimeGrid
// -------------------------------------------------------------------------------------------------

.fc-day-lane.fc-day-today { // (today)
  background-color: var(--fc-today-bg-color);
}

.fc-direction-ltr .fc-day-lane-inner { // (ltr)
  margin: 0 2.5% 0 2px;
}

.fc-direction-rtl .fc-day-lane-inner { // (rtl)
  margin: 0 2px 0 2.5%;
}

.fc-all-day-header-inner {
  // respect newlines in long text like "Toute la journée", meant to break
  white-space: pre;
}

.fc-timegrid-axis {
  display: flex;
  flex-direction: column;
  justify-content: center; // vertically
  align-items: flex-end; // horizontally
}

.fc-timegrid-axis-inner {
  text-align: end;
  min-height: 1.5em;

  // vertical alignment for *text inside*
  display: flex;
  flex-direction: column;
  justify-content: center; // vertically
}

.fc-timegrid-more-link {
  z-index: 9999; // HACK to get above all data-dependent z-indexes of events
  color: var(--fc-more-link-text-color);
  background: var(--fc-more-link-bg-color);
  margin-bottom: 1px; // match space below fc-timegrid-event
  cursor: pointer;

  // TODO: DRY with timegrid-event?
  box-shadow: 0px 0px 0px 1px var(--fc-page-bg-color);
  font-size: var(--fc-small-font-size);
  border-radius: 3px;
}

.fc-direction-ltr .fc-timegrid-more-link {
  right: 0; // alignment within column. has natural width
}

.fc-direction-rtl .fc-timegrid-more-link {
  left: 0; // alignment within column. has natural width
}

.fc-timegrid-more-link-inner {
  padding: 3px 2px;
}

.fc-timegrid-now-indicator-label {
  position: absolute;
  margin-top: -5px; // vertically center on top coordinate
  border-color: var(--fc-now-indicator-color);
  @include arrow-left-right(6px, 5px);
}

.fc-direction-ltr .fc-timegrid-now-indicator-label { // (ltr)
  left: 0;
  border-right: 0;
}

.fc-direction-rtl .fc-timegrid-now-indicator-label { // (rtl)
  right: 0;
  border-left: 0;
}

.fc-timegrid-now-indicator-line {
  position: absolute;
  left: 0;
  right: 0;
  border-top: 1px solid var(--fc-now-indicator-color);
}

// List
// -------------------------------------------------------------------------------------------------

.fc-list-day-header,
.fc-list-event {
  border-bottom: 1px solid var(--fc-border-color);
}

.fc-list-day:last-child .fc-list-event:last-child {
  border-bottom: 0;
}

.fc-list-day-header-inner,
.fc-list-event {
  padding: 8px 14px;
}

.fc-list-day-header {
  display: flex;
  justify-content: space-between;
  background: var(--fc-neutral-bg-color);
  // TODO: somehow layer-in when sticky: background: var(--fc-page-bg-color);
  font-weight: bold;
}

.fc-list-empty {
  background-color: var(--fc-neutral-bg-color);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; // vertically aligns fc-list-empty-inner
}

.fc-list-empty-inner {
  margin: 5em 0;
}

// Timeline
// -------------------------------------------------------------------------------------------------

.fc-timeline-now-indicator-label {
  position: absolute;
  top: 0;
  margin: 0 -5px; // center triangle at element origin
  border-color: var(--fc-now-indicator-color);
  @include arrow-down(5px, 6px);
}

.fc-timeline-now-indicator-line {
  position: absolute;
  top: 0;
  bottom: 0;
  border-left: 1px solid var(--fc-now-indicator-color);
}

.fc-timeline-more-link {
  font-size: var(--fc-small-font-size);
  color: var(--fc-more-link-text-color);
  background: var(--fc-more-link-bg-color);
  padding: 1px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.fc-direction-ltr .fc-timeline-more-link { // (ltr)
  margin-right: 1px; // TODO: DRY with timeline-event?
}

.fc-direction-rtl .fc-timeline-more-link { // (rtl)
  margin-left: 1px; // TODO: DRY with timeline-event?
}

.fc-timeline-more-link-inner {
  padding: 2px;
}

.fc-timeline-bottom {
  padding-bottom: 10px;
}

// Resource Timeline
// -------------------------------------------------------------------------------------------------

.fc-resource-lane-bottom {
  padding-bottom: 10px;
}

.fc-resource-lane-bottom-compact {
  padding-bottom: 0;
}
