
.fc-resource-area-header-row,
.fc-resource-area-header,
.fc-resource-area-row,
.fc-resource-cell,
.fc-slot-label-row,
.fc-slot-label,
.fc-slot-lane,
.fc-resource-lane,
.fc-resource-group-lane,
.fc-day-header-row,
.fc-day-header-cell,
.fc-day-row,
.fc-day-cell,
.fc-day-lane,
.fc-resource-day-header,
.fc-view-bordered {
  border: 1px solid var(--fc-border-color);
}

.fc-slot-minor {
  border-style: dotted;
}

// Filler
// -------------------------------------------------------------------------------------------------

.fc-filler { // scrollbar gutter filler
  opacity: 0.5;
}

.fc-filler-y {
  border-top: 1px solid var(--fc-border-color);
}

.fc-direction-ltr .fc-filler-x {
  border-left: 1px solid var(--fc-border-color);
}

.fc-direction-rtl .fc-filler-x {
  border-right: 1px solid var(--fc-border-color);
}

// Dividers
// -------------------------------------------------------------------------------------------------

.fc-day-header-divider {
  border-top: 1px solid var(--fc-border-color);
}

.fc-resource-area-divider {
  border-left: 1px solid var(--fc-border-color);
  border-right: 1px solid var(--fc-border-color);
  padding-left: 2px;
  background-color: var(--fc-neutral-bg-color);
}

.fc-all-day-divider {
  border-top: 1px solid var(--fc-border-color);
  border-bottom: 1px solid var(--fc-border-color);
  padding-bottom: 2px; // can use just height if we move towards content-box!
  background-color: var(--fc-neutral-bg-color);
}

.fc-timegrid-slot-label-divider {
  border-left: 1px solid var(--fc-border-color);
}

.fc-timeline-slot-label-divider {
  border-top: 1px solid var(--fc-border-color);
}
