
.fc {
  display: flex;
  flex-direction: column;

  &,
  & *,
  & *:before,
  & *:after {
    box-sizing: border-box;
  }
}

.fc-direction-ltr {
  direction: ltr;
  text-align: left;
}

.fc-direction-rtl {
  direction: rtl;
  text-align: right;
}
