
/*
NOTE: prefer using z-index util classes like .fc-fg-z
*/
// z-indexes :: view structure
$fg-z: 1; // optional. only needed if must get higher than a bg
$event-z: 2;
$event-mirror-z: 3;
$now-indicator-z: 4;
$sticky-header-footer-z: 5;
$popover-z: 6;

// z-indexes :: subparts within events
// NOTE: would be nice to rely on natural DOM order, but :before complicates that
$event-selected-dimmer-z: 1;
$event-main-z: 2;
$event-selected-hit-z: 3;
$event-resizer-z: 4;
