
// z-indexes :: view structure
$event-z: 1;
$event-mirror-z: 2;
$now-indicator-z: 3;
$sticky-header-footer-z: 4;
$popover-z: 5;

// z-indexes :: subparts within events
// NOTE: would be nice to rely on natural DOM order, but :before complicates that
$event-selected-dimmer-z: 1;
$event-main-z: 2;
$event-selected-hit-z: 3;
$event-resizer-z: 4;
