
//
// fc-event
//   REQUIREMENTS for subclasses:
//   - set position:relative/absolute to take advantage of selected, focus, inner, resizer
//   - expand the hit-area
//

a.fc-event, // (anchor)
a.fc-event:hover { // (anchor:hover)
  text-decoration: none;
}

.fc-event[href], // (link)
.fc-event.fc-event-draggable { // (draggable)
  cursor: pointer;
}

.fc-event-dragging:not(.fc-event-selected) { // (dragging)
  opacity: 0.75;
}

.fc-event-dragging.fc-event-selected { // (touch-selected)
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
}

.fc-event-selected:before { // (touch-selected) > hit-area
  @include fill;
  content: "";
  z-index: $event-selected-hit-z;
}

.fc-event-selected, // (touch-selected)
.fc-event:focus { // (tab-focused)
  // shadow
  // TODO: improve focus-styling for .fc-daygrid-dot-event
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  &:after { // > dimmer-effect
    // assume there's a border on all sides. overcome it.
    // sometimes there's NOT a border, in which case the dimmer will go over
    // an adjacent border, which looks fine.
    @include fill(-1px);

    content: "";
    z-index: $event-selected-dimmer-z;
    background: var(--fc-event-selected-overlay-color);
  }
}

//
// fc-event > inner
//

.fc-event-inner {
  position: relative;
  z-index: $event-main-z;
}

//
// fc-event > resizer
//

.fc-event-resizer {
  display: none; // hide
  position: absolute;
  z-index: $event-resizer-z;
}

.fc-event:hover .fc-event-resizer, // (hover)
.fc-event-selected .fc-event-resizer { // (touch-selected)
  display: block; // reveal
}

.fc-event-selected .fc-event-resizer { // (touch-selected)
  border-radius: calc(var(--fc-event-resizer-dot-total-width) / 2);
  border-width: var(--fc-event-resizer-dot-border-width);
  width: var(--fc-event-resizer-dot-total-width);
  height: var(--fc-event-resizer-dot-total-width);
  border-style: solid;
  border-color: inherit;
  background: var(--fc-page-bg-color);

  // expand hit area
  &:before {
    @include fill(-20px);
    content: '';
  }
}
