
//
// fc-h-event (extends fc-event)
//   "horizontal"
//

.fc-h-event {
  position: relative; // required by fc-event
  display: flex;
  flex-direction: column;
  border: 1px solid var(--fc-event-border-color);
  background-color: var(--fc-event-bg-color);
}

.fc-h-event.fc-event-mirror { // (mirror)
  z-index: $event-mirror-z;
}

.fc-h-event.fc-event-selected:before { // (touch-selected) > hit-area
  // expand
  top: -10px;
  bottom: -10px;
}

//
// fc-h-event > inner
//

.fc-h-event .fc-event-inner {
  display: flex;
  flex-direction: row;
  color: var(--fc-event-text-color);
}

.fc-h-event .fc-event-time, // > time
.fc-h-event .fc-event-title { // > title-outer > title
  // CAN be overridden
  white-space: nowrap;
  overflow: hidden;
}
.fc-media-print .fc-h-event .fc-event-time, // (print) > time
.fc-media-print .fc-h-event .fc-event-title { // (print) > title-outer > title
  // CANNOT be overridden. print view depends on width-independent height
  white-space: nowrap !important;
  overflow: hidden !important;
}

.fc-h-event .fc-event-title-outer { // > title-outer
  @include liquid; // horizontally liquid
  display: flex;
  flex-direction: row;
}

.fc-h-event .fc-event-title { // > title-outer > title
  position: sticky;
  left: 0;
  right: 0;
}

//
// h-event > resizer
//

.fc-h-event:not(.fc-event-selected) .fc-event-resizer {
  top: 0;
  bottom: 0;
  width: var(--fc-event-resizer-thickness);
}

// (mouse)

.fc-direction-ltr .fc-h-event:not(.fc-event-selected) .fc-event-resizer-start,
.fc-direction-rtl .fc-h-event:not(.fc-event-selected) .fc-event-resizer-end {
  cursor: w-resize;
  left: calc(-0.5 * var(--fc-event-resizer-thickness));
}

.fc-direction-ltr .fc-h-event:not(.fc-event-selected) .fc-event-resizer-end,
.fc-direction-rtl .fc-h-event:not(.fc-event-selected) .fc-event-resizer-start {
  cursor: e-resize;
  right: calc(-0.5 * var(--fc-event-resizer-thickness));
}

// (touch)

.fc-h-event.fc-event-selected .fc-event-resizer {
  top: 50%;
  margin-top: calc(-0.5 * var(--fc-event-resizer-dot-total-width));
}

.fc-direction-ltr .fc-h-event.fc-event-selected .fc-event-resizer-start,
.fc-direction-rtl .fc-h-event.fc-event-selected .fc-event-resizer-end {
  left: calc(-0.5 * var(--fc-event-resizer-dot-total-width));
}

.fc-direction-ltr .fc-h-event.fc-event-selected .fc-event-resizer-end,
.fc-direction-rtl .fc-h-event.fc-event-selected .fc-event-resizer-start {
  right: calc(-0.5 * var(--fc-event-resizer-dot-total-width));
}
