
.fcu-daygrid-row-print { // (print)
  // Print view squishes width which results in overly tall cells that can't adapt to new width
  // hardcode a value that looks good in portrait and landscape
  // In print view, the row <div> is NOT a flexbox child, so no interference with expanding algorithm
  /*
  TODO: for measurement refactor...
    FOR NOW: override dayRowMinHeight with a pixel value (100px-ish?) if print
    LATER: have this settable via media-type-specific options
  */
  min-height: 6em;
}

.fcu-daygrid-day-body {
  // TODO: use fcu-flex-row, or maybe remove this element
  display: flex;
  flex-direction: column;

  // TODO: use dayCellBottom after measurement refactor
  margin-bottom: 1px;
}

.fcu-daygrid-day-body-tall { // (tall) -- extra spaciout for ALL-DAY SECTION
  /*
  TODO: make this new setting dayRowMinHeight, always pixels
  In the theme, have view-specific setting...
    timeGrid: {
      dayRowMinHeight: 150
    }
  */
  min-height: 2em;

  /*
  TODO: fix after measurement refactor
  SOLUTION: dayCellBottom should be responsible for this space
  In theme, have view-specific setting...
    timeGrid: {
      dayCellBottomClassName: 'min-height-[1em]'
    }
  */
  margin-bottom: 1em;
}

/*
BUSTED. TODO: fix after measurement refactor
SOLUTION: have the dayCellTop wrapper be responsible for this space,
Always have this div, even if no content within it.
Give it min-height of 2px.
*/
.fcu-daygrid-day-body:only-child { // (without header)
  margin-top: 2px;
}

/*
TODO: for measurement refactor, for DayGrid,
put the more-link in the dayCellBottom, or its own wrapper just before it.
This will allow themes to put liquid-expandable height on the event container (w/o +more link)
so the more-link can move to the bottom
*/
