
.fc-popover {
  position: absolute;
  z-index: $popover-z;
  box-shadow: 0 2px 6px rgba(0,0,0,.15);
}

.fc-popover-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3px 4px;
}

.fc-popover-title {
  margin: 0 2px;
}

.fc-popover-close {
  cursor: pointer;
  vertical-align: middle;
  line-height: 1.357em;
}

.fc-popover-close svg { // icon. TODO: DRY with fc-button
  vertical-align: middle;
  font-size: 1.357em;
  width: 1em;
  height: 1em;
  opacity: 0.65;
}

.fc-theme-standard {

  & .fc-popover {
    border: 1px solid var(--fc-border-color);
    background: var(--fc-page-bg-color);
  }

  & .fc-popover-header {
    background: var(--fc-neutral-bg-color);
  }

}
