
.fc-scroller-nobars {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.fc-scroller-nobars::-webkit-scrollbar {
  display: none;
}
