
.fc-scroller {
  padding: 0 !important;
}

.fc-scroller-no-bars {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.fc-scroller-no-bars::-webkit-scrollbar {
  display: none;
}
