
//
// toolbar
//

.fc-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; // vertical
  gap: .75em; // space between start/center/right
}

.fc-direction-rtl .fc-toolbar-ltr { // (explicitly ltr within rtl)
  flex-direction: row-reverse; // reverse to ensure ltr
}

//
// toolbar > section
//

.fc-toolbar-section {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  gap: .75em; // space between items
}

//
// toolbar > section > title
//

.fc-toolbar-title {
  font-size: 1.75em;
  margin: 0;
  white-space: nowrap;
}
