
// Flexbox Utils
// -------------------------------------------------------------------------------------------------

.fc-flex-row {
  display: flex;
  flex-direction: row;
}

.fc-flex-column {
  display: flex;
  flex-direction: column;
}

.fc-grow {
  flex-grow: 1;
}

/*
Only important if there are siblings that are expanding too.
Rarely used. Just inline this?
*/
.fc-basis0 {
  flex-basis: 0;
}

.fc-liquid {
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0;
  min-height: 0;
}

// Table Utils
// -------------------------------------------------------------------------------------------------

// TODO: introduce fc-table/fc-table-border classnames?

.fc-table-header, // TODO: change name to just fc-header?
.fc-table-body { // TODO: change name to just fc-body?
  // TODO: too often elements want the borders, but override the flex-direction. what to do!?
  display: flex;
  flex-direction: column;
}

// HACK for precedence
.fc-table-header.fc-flex-row,
.fc-table-body.fc-flex-row {
  flex-direction: row;
}

.fc-table-header,
.fc-table-body,
.fc-row,
.fc-row-border, // can be used standalone
.fc-rowdivider,
.fc-cell,
.fc-celldivider {
  border: 0 solid var(--fc-border-color);
}

.fc-table-header {
  border-bottom-width: 1px;
}

.fc-table-body + .fc-table-body,
.fc-row + .fc-row,
.fc-row-border {
  border-top-width: 1px;
}

.fc-rowdivider { // TOOD: change name to fc-row-divider?
  border-width: 1px 0;
}

.fc-celldivider { // TOOD: change name to fc-cell-divider?
  border-width: 0 1px;
}

.fc-row {
  display: flex;
  flex-direction: row;
}

.fc-cell {
  margin: 0 !important;
  padding: 0 !important;
}
.fc-cell-border-fake { // best?
  border: 0 solid transparent;
}
.fc-direction-ltr .fc-cell + .fc-cell,
.fc-direction-ltr .fc-cell-border,
.fc-direction-ltr .fc-cell-border-fake {
  border-left-width: 1px;
}
.fc-direction-rtl .fc-cell + .fc-cell,
.fc-direction-rtl .fc-cell-border,
.fc-direction-rtl .fc-cell-border-fake {
  border-right-width: 1px;
}

.fc-cell-inner {
  flex-shrink: 0; // so that cell (whose height is controlled the row) does not compress
  white-space: nowrap;
  overflow: hidden;
}

/*
Lone cell in a row should always fill row. Makes axis widths much easier
*/
.fc-cell:only-child {
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0;
}

.fc-rowdivider,
.fc-celldivider {
  background: var(--fc-neutral-bg-color);
}

.fc-celldivider {
  padding-left: 2px;
}
.fc-rowdivider {
  padding-bottom: 2px; // can use just height if we move towards content-box!
}

// Misc Utils
// -------------------------------------------------------------------------------------------------

.fc-crop {
  overflow: hidden;
}

.fc-rel {
  position: relative;
}

.fc-abs {
  position: absolute;
}

.fc-fill {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.fc-fill-x {
  position: absolute;
  left: 0;
  right: 0;
}

.fc-fill-y {
  position: absolute;
  top: 0;
  bottom: 0;
}

.fc-sticky-y {
  position: sticky;
  top: 0;
  bottom: 0;
}

.fc-sticky-x {
  position: sticky;
  left: 0;
  right: 0;
}

.fc-table-header-sticky {
  position: sticky;
  top: 0;
  background: var(--fc-page-bg-color);
  z-index: 9999; // TODO: what was it before?
}

.fc-sticky-footer-scrollbar {
  position: sticky;
  bottom: 0;
  z-index: 9999; // TODO: what was it before?
}
.fc-sticky-footer-scrollbar > .fc-scroller {
  margin-top: -1px; // HACK for 1px height...
}
.fc-sticky-footer-scrollbar > .fc-scroller > * {
  height: 1px; // ...needs 1px height or else scrollbars will never appear
}

/*
Only needed when padding/border must be separate from width/height
*/
.fc-content-box {
  box-sizing: content-box;
}

.fc-border {
  border: 1px solid var(--fc-border-color);
}

.fc-offscreen {
  position: absolute;
  left: -10000px;
}

.fc-shaded {
  background-color: var(--fc-neutral-bg-color);
}

.fc-padding-sm {
  padding: 2px 4px;
}
.fc-padding-md {
  padding: 4px 5px;
}
.fc-padding-lg {
  padding: 8px;
}

.fc-justify-center {
  justify-content: center;
}

.fc-align-center {
  align-items: center;
}

.fc-align-start {
  align-items: flex-start;
}
