
$sticky-header-footer-z: 3;
// $popover-z: 4; -- TODO: reintroduce

.fcu-border-box-root {
  &,
  & *,
  & *:before,
  & *:after {
    box-sizing: border-box;
  }
}

.fcu-ltr-root {
  direction: ltr;
  text-align: left;
}

.fcu-rtl-root {
  direction: rtl;
  text-align: right;
}

// classes attached to <body>
.fcu-not-allowed,
.fcu-not-allowed * { // override events' custom cursors
  cursor: not-allowed;
}

.fcu-no-scrollbars {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.fcu-no-scrollbars::-webkit-scrollbar {
  display: none;
}

.fcu-no-shrink {
  flex-shrink: 0;
}

.fcu-calendar-screen-root .fcu-safe-tiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/*
HACK for Safari. Can't do break-inside:avoid with flexbox items, likely b/c it's not standard:
https://stackoverflow.com/a/60256345
*/
.fcu-calendar-print-root.fcu-ltr-root .fcu-safe-tiles > * {
  float: left;
}
.fcu-calendar-print-root.fcu-rtl-root .fcu-safe-tiles > * {
  float: right;
}
.fcu-calendar-print-root .fcu-safe-tiles::after {
  content: "";
  display: block;
  clear: both;
}

.fcu-col-resizer { // TODO: maybe have theme define this. might want grippy texture or hover effect
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  width: 5px;
  cursor: col-resize;
}
.fcu-ltr-root .fcu-col-resizer { // (ltr)
  right: -3px;
}
.fcu-rtl-root .fcu-col-resizer { // (rtl)
  left: -3px;
}

.fcu-cursor-pointer {
  cursor: pointer;
}

.fcu-cursor-resize-t {
  cursor: n-resize;
}

.fcu-cursor-resize-b {
  cursor: s-resize;
}

.fcu-ltr-root .fcu-cursor-resize-s,
.fcu-rtl-root .fcu-cursor-resize-e {
  cursor: w-resize;
}

.fcu-ltr-root .fcu-cursor-resize-e,
.fcu-rtl-root .fcu-cursor-resize-s {
  cursor: e-resize;
}

.fcu-hit,
.fcu-hit-x,
.fcu-hit-y {
  position: absolute;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
}

.fcu-hit {
  padding: 10px;
  margin: -10px;
}

.fcu-hit-x {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: -10px;
  margin-right: -10px;
}

.fcu-hit-y {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -10px;
  margin-bottom: -10px;
}

// Border Utils
// -------------------------------------------------------------------------------------------------

// TODO: break-out to x and y. don't have "only" all
// TODO: instead of "border" utils, call them "borderless" to subtract?

.fcu-border-none {
  border: 0 !important;
}

.fcu-border-only-t {
  border-left: 0 !important;
  border-right: 0 !important;
  border-bottom: 0 !important;
}

.fcu-border-only-b {
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
}

.fcu-border-only-s,
.fcu-border-only-e {
  border-top: 0 !important;
  border-bottom: 0 !important;
}

.fcu-ltr-root .fcu-border-only-s {
  border-right: 0 !important;
}
.fcu-rtl-root .fcu-border-only-s {
  border-left: 0 !important;
}

.fcu-ltr-root .fcu-border-only-e {
  border-left: 0 !important;
}
.fcu-rtl-root .fcu-border-only-e {
  border-right: 0 !important;
}

// for matching cell start-border, assumed to be 1px, which can't be guaranteed
.fcu-ltr-root .fcu-fake-border-s {
  border-left: 1px solid transparent;
}
.fcu-rtl-root .fcu-fake-border-s {
  border-right: 1px solid transparent;
}

// Flexbox Utils
// -------------------------------------------------------------------------------------------------

.fcu-flex-row {
  display: flex;
  flex-direction: row;
}

.fcu-flex-col {
  display: flex;
  flex-direction: column;
}

.fcu-grow {
  flex-grow: 1;
}

.fcu-liquid {
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0;
  min-height: 0;
}

// Print-Safe Utils (media:screen ONLY)
// -------------------------------------------------------------------------------------------------

.fcu-calendar-screen-root {
  & .fcu-print-root,
  & .fcu-print-header {
    display: flex;
    flex-direction: column;
  }
}

// Table Utils
// -------------------------------------------------------------------------------------------------

.fcu-tight {
  margin: 0 !important;
  padding: 0 !important;
}

.fcu-no-padding {
  padding: 0 !important;
}

.fcu-no-margin { // used?
  margin: 0 !important;
}

.fcu-rigid {
  flex-shrink: 0; // so that cell (whose height is controlled by the row) does not compress
  white-space: nowrap;
  overflow: hidden; // should this be on here?
}

// Misc Utils
// -------------------------------------------------------------------------------------------------

.fcu-crop {
  overflow: hidden;
}

.fcu-rel {
  position: relative;
}

.fcu-abs {
  position: absolute;
}

.fcu-fill {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.fcu-fill-top,
.fcu-fill-x {
  position: absolute;
  left: 0;
  right: 0;
}

.fcu-fill-y,
.fcu-fill-start {
  position: absolute;
  top: 0;
  bottom: 0;
}

.fcu-fill-top {
  top: 0;
}

.fcu-fill-start {
  left: 0;
  right: 0;
  width: 0; // because of this, dir=ltr/rtl will respect one of left or right
}

.fcu-sticky-t { // top
  position: sticky;
  top: 0;
}

/*
Sticks to either left or right (the flex "start") depending on ltr/rtl
*/
.fcu-sticky-s {
  position: sticky;
  left: 0;
  right: 0;
}

.fcu-table-header-sticky { // rename?
  position: sticky;
  top: 0;
  z-index: $sticky-header-footer-z;
}

/*
Only needed when padding/border must be separate from width/height
*/
.fcu-content-box {
  box-sizing: content-box;
}

.fcu-offscreen { // TODO: just use visibility:hidden with position:absolute?
  position: absolute;
  left: -10000px;
}

// TODO: add the no-margin, no-padding utils

.fcu-justify-center {
  justify-content: center;
}

.fcu-justify-centerspace-between {
  justify-content: space-between;
}

.fcu-justify-centerend {
  justify-content: flex-end;
}

.fcu-align-center {
  align-items: center;
}

.fcu-align-start {
  align-items: flex-start;
}

// Footer Scrollbar
// -------------------------------------------------------------------------------------------------

.fcu-footer-scrollbar-sticky {
  position: sticky;
  bottom: 0;
  z-index: $sticky-header-footer-z;
}

.fcu-footer-scrollbar > * { // > scroller
  margin-top: -1px; // HACK for 1px height...
}

.fcu-footer-scrollbar > * > * { // > scroller > canvas
  height: 1px; // ...needs 1px height or else scrollbars will never appear
}

// Print-Safe Utils
// -------------------------------------------------------------------------------------------------

.fcu-calendar-print-root {
  & .fcu-break-inside-avoid {
    break-inside: avoid;
  }

  & .fcu-print-root {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse; // so bottom-border can be put on fcu-print-header
  }

  & .fcu-print-header {
    display: table-header-group;
    break-inside: avoid; // required

    // TODO: make a separate className
    background: #fff; // for when absolute-positioned items in body, doesn't appear under header
    z-index: 9999; // for when there's absolutely-positioned items in body
    position: relative;
  }
}
