
.fc-border-box-root {
  &,
  & *,
  & *:before,
  & *:after {
    box-sizing: border-box;
  }
}

.fc-ltr-root {
  direction: ltr;
  text-align: left;
}

.fc-rtl-root {
  direction: rtl;
  text-align: right;
}

// classes attached to <body>
.fc-not-allowed,
.fc-not-allowed * { // override events' custom cursors
  cursor: not-allowed;
}

.fc-no-padding { // TODO: use more elsewhere
  padding: 0 !important;
}

.fc-no-scrollbars {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.fc-no-scrollbars::-webkit-scrollbar {
  display: none;
}

.fc-no-shrink {
  flex-shrink: 0;
}

.fc-calendar-screen-root .fc-safe-tiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/*
HACK for Safari. Can't do break-inside:avoid with flexbox items, likely b/c it's not standard:
https://stackoverflow.com/a/60256345
*/
.fc-calendar-print-root.fc-ltr-root .fc-safe-tiles > * {
  float: left;
}
.fc-calendar-print-root.fc-rtl-root .fc-safe-tiles > * {
  float: right;
}
.fc-calendar-print-root .fc-safe-tiles::after {
  content: "";
  display: block;
  clear: both;
}

.fc-col-resizer { // TODO: maybe have theme define this. might want grippy texture or hover effect
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  width: 5px;
  cursor: col-resize;
}
.fc-ltr-root .fc-col-resizer { // (ltr)
  right: -3px;
}
.fc-rtl-root .fc-col-resizer { // (rtl)
  left: -3px;
}

.fc-cursor-pointer {
  cursor: pointer;
}

.fc-cursor-resize-t {
  cursor: n-resize;
}

.fc-cursor-resize-b {
  cursor: s-resize;
}

.fc-ltr-root .fc-cursor-resize-s,
.fc-rtl-root .fc-cursor-resize-e {
  cursor: w-resize;
}

.fc-ltr-root .fc-cursor-resize-e,
.fc-rtl-root .fc-cursor-resize-s {
  cursor: e-resize;
}

.fc-hit,
.fc-hit-x,
.fc-hit-y {
  position: absolute;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
}

.fc-hit {
  padding: 10px;
  margin: -10px;
}

.fc-hit-x {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: -10px;
  margin-right: -10px;
}

.fc-hit-y {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -10px;
  margin-bottom: -10px;
}

// Border Utils
// -------------------------------------------------------------------------------------------------

// TODO: break-out to x and y. don't have "only" all
// TODO: instead of "border" utils, call them "borderless" to subtract?

.fc-border-none {
  border: 0 !important;
}

.fc-border-only-t {
  border-left: 0 !important;
  border-right: 0 !important;
  border-bottom: 0 !important;
}

.fc-border-only-b {
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
}

.fc-border-only-s,
.fc-border-only-e {
  border-top: 0 !important;
  border-bottom: 0 !important;
}

.fc-direction-ltr .fc-border-only-s {
  border-right: 0 !important;
}
.fc-direction-rtl .fc-border-only-s {
  border-left: 0 !important;
}

.fc-direction-ltr .fc-border-only-e {
  border-left: 0 !important;
}
.fc-direction-rtl .fc-border-only-e {
  border-right: 0 !important;
}

// for matching cell start-border, assumed to be 1px, which can't be guaranteed
.fc-direction-ltr .fc-fake-border-s {
  border-left: 1px solid transparent;
}
.fc-direction-rtl .fc-fake-border-s {
  border-right: 1px solid transparent;
}

// Flexbox Utils
// -------------------------------------------------------------------------------------------------

.fc-flex-row {
  display: flex;
  flex-direction: row;
}

.fc-flex-col {
  display: flex;
  flex-direction: column;
}

.fc-grow {
  flex-grow: 1;
}

/*
Only important if there are siblings that are expanding too.
Rarely used. Just inline this?
*/
.fc-basis0 {
  flex-basis: 0;
}

.fc-liquid {
  @include liquid;
}

// Print-Safe Utils (media:screen ONLY)
// -------------------------------------------------------------------------------------------------

.fc-media-screen {
  & .fc-print-root,
  & .fc-print-header {
    display: flex;
    flex-direction: column;
  }
}

// Table Utils
// -------------------------------------------------------------------------------------------------

.fc-cell { /* fc-tight... should be on row too??? */
  margin: 0 !important;
  padding: 0 !important;
}

.fc-cell-inner { /* fc-rigid ? */
  flex-shrink: 0; // so that cell (whose height is controlled by the row) does not compress
  white-space: nowrap;
  overflow: hidden; // should this be on here?
}

// Misc Utils
// -------------------------------------------------------------------------------------------------

.fc-crop {
  overflow: hidden;
}

.fc-rel {
  position: relative;
}

.fc-abs {
  position: absolute;
}

.fc-fill {
  @include fill;
}

.fc-fill-top,
.fc-fill-x {
  position: absolute;
  left: 0;
  right: 0;
}

.fc-fill-y,
.fc-fill-start {
  position: absolute;
  top: 0;
  bottom: 0;
}

.fc-fill-top {
  top: 0;
}

.fc-fill-start {
  left: 0;
  right: 0;
  width: 0; // because of this, dir=ltr/rtl will respect one of left or right
}

.fc-sticky-t { // top
  position: sticky;
  top: 0;
}

/*
Sticks to either left or right (the flex "start") depending on ltr/rtl
*/
.fc-sticky-s {
  position: sticky;
  left: 0;
  right: 0;
}

.fc-table-header-sticky { // rename?
  position: sticky;
  top: 0;
  background: var(--fc-page-bg-color);
  z-index: $sticky-header-footer-z;
}

/*
Only needed when padding/border must be separate from width/height
*/
.fc-content-box {
  box-sizing: content-box;
}

.fc-offscreen {
  position: absolute;
  left: -10000px;
}

.fc-shaded {
  background-color: var(--fc-neutral-bg-color);
}

.fc-padding-sm {
  padding: 2px 4px;
}
.fc-padding-md {
  padding: 4px 5px;
}
.fc-padding-lg {
  padding: 8px;
}

.fc-justify-center {
  justify-content: center;
}

.fc-justify-space-between {
  justify-content: space-between;
}

.fc-justify-end {
  justify-content: flex-end;
}

.fc-align-center {
  align-items: center;
}

.fc-align-start {
  align-items: flex-start;
}

// Footer Scrollbar
// -------------------------------------------------------------------------------------------------

.fc-footer-scrollbar-sticky {
  position: sticky;
  bottom: 0;
  z-index: $sticky-header-footer-z;
}

.fc-footer-scrollbar > * { // > scroller
  margin-top: -1px; // HACK for 1px height...
}

.fc-footer-scrollbar > * > * { // > scroller > canvas
  height: 1px; // ...needs 1px height or else scrollbars will never appear
}
