
$event-selected-dimmer-z: 1;
$event-main-z: 2;
$event-selected-hit-z: 3;
$event-resizer-z: 4;

:root {
  --fcnew-small-font-size: .85em;
  --fcnew-page-bg-color: #fff;
  --fcnew-neutral-bg-color: rgba(208, 208, 208, 0.3);
  --fcnew-neutral-text-color: #808080;
  --fcnew-border-color: #ddd;

  --fcnew-button-text-color: #fff;
  --fcnew-button-bg-color: #2C3E50;
  --fcnew-button-border-color: #2C3E50;
  --fcnew-button-hover-bg-color: #1e2b37;
  --fcnew-button-hover-border-color: #1a252f;
  --fcnew-button-active-bg-color: #1a252f;
  --fcnew-button-active-border-color: #151e27;

  --fcnew-event-bg-color: #3788d8;
  --fcnew-event-border-color: #3788d8;
  --fcnew-event-text-color: #fff;
  --fcnew-event-selected-overlay-color: rgba(0, 0, 0, 0.25);

  --fcnew-more-link-bg-color: #d0d0d0;
  --fcnew-more-link-text-color: inherit;

  --fcnew-event-resizer-thickness: 8px;
  --fcnew-event-resizer-dot-total-width: 8px;
  --fcnew-event-resizer-dot-border-width: 1px;

  --fcnew-non-business-color: rgba(215, 215, 215, 0.3);
  --fcnew-bg-event-color: rgb(143, 223, 130);
  --fcnew-bg-event-opacity: 0.3;
  --fcnew-highlight-color: rgba(188, 232, 241, 0.3);
  --fcnew-today-bg-color: rgba(255, 220, 40, 0.15);
  --fcnew-now-indicator-color: red;
}
