
// TODO: convert this to util classes?

.fc-view-outer {
  position: relative; // for aspect-ratio AND for being origin for premium-message at bottom-left corner
}

.fc-view-outer-liquid,
.fc-view-outer-static {
  display: flex;
  flex-direction: column;
}

.fc-view-outer-liquid,
.fc-view-outer-liquid > .fc-view,
.fc-view-outer-static > .fc-view {
  @include liquid;
}

.fc-view-outer-aspect-ratio > .fc-view {
  @include fill;
}
