
// TODO: convert this to util classes?

.fc-view-harness {
  position: relative; // for aspectratio AND for being origin for premium-message at bottom-left corner
}

.fc-view-harness-liquid,
.fc-view-harness-fixedheight {
  display: flex;
  flex-direction: column;
}

.fc-view-harness-liquid,
.fc-view-harness-liquid > .fc-view,
.fc-view-harness-fixedheight > .fc-view {
  @include liquid;
}

.fc-view-harness-aspectratio > .fc-view {
  @include fill;
}
