
.fcnew {

  & .fcnew-event,
  & .fcnew-scrollgrid table tr {
    break-inside: avoid;
  }

}

.fcnew-media-print {
  display: block; // undo flexbox. FF doesn't know how to flow
  max-width: 100%; // width will be hardcoded too

  & .fcnew-timegrid-slots,
  & .fcnew-timegrid-axis-chunk, // when it's a separate axis
  & .fcnew-timeline-slots,
  & .fcnew-non-business,
  & .fcnew-bg-event {
    display: none;
  }

  & .fcnew-toolbar button,
  & .fcnew-h-event,
  & .fcnew-v-event {
    color: #000 !important;
    background: #fff !important;
  }

  & .fcnew-event,
  & .fcnew-event-main { // often controls the text-color
    color: #000 !important;
  }

  & .fcnew-timegrid-event {
    margin: 0.5em 0;
  }
}
