
.fc-media-print {
  // & .fc-timegrid-slots,
  // & .fc-timeline-slots,
  & .fc-non-business,
  & .fc-bg-event {
    display: none;
  }

  & .fc-toolbar button,
  & .fc-h-event,
  & .fc-v-event {
    color: #000 !important;
    background: #fff !important;
  }

  & [role=row], // HACK
  & .fc-event {
    break-inside: avoid;
  }

  /*
  HACK to reveal problems
  */
  & .fc-daygrid-body [role=row] {
    min-height: 13em !important;
  }

  & .fc-event,
  & .fc-event-inner { // often controls the text-color
    color: #000 !important;
  }
}

/*
Workaround for Safari needing block children for break-inside:avoid
Instead, can simply omit fc-flex-col, right?
*/
.fc-block {
  display: block;
}
