
.fc-break-inside-avoid {
  break-inside: avoid;
}

.fc-media-print {
  & .fc-toolbar button,
  & .fc-h-event,
  & .fc-v-event {
    color: #000 !important;
    background: #fff !important;
  }

  & .fc-event,
  & .fc-event-inner { // often controls the text-color
    color: #000 !important;
  }

  // Print-Safe Utils (media:print ONLY)
  // -----------------------------------------------------------------------------------------------

  & .fc-ps-root {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse; // so bottom-border can be put on fc-ps-header
  }

  & .fc-ps-header {
    display: table-header-group;
    break-inside: avoid; // required

    // TODO: make a separate className
    background: #fff; // for when absolute-positioned items in body, doesn't appear under header
    z-index: 9999; // for when there's absolutely-positioned items in body
    position: relative;
  }

  /*
  HACK for Safari. Can't do break-inside:avoid with flexbox items, likely b/c it's not standard:
  https://stackoverflow.com/a/60256345
  */
  & .fc-ps-col {
    display: block;
  }
}
