
@import "tailwindcss";
@import "tw-animate-css";

@source "../node_modules/@fullcalendar/theme-classic/src";
@source "../node_modules/@fullcalendar/theme-breezy/src";
@source "../node_modules/@fullcalendar/theme-pulse/src";
@source "../node_modules/@fullcalendar/theme-monarch/src";
@source "../node_modules/@fullcalendar/theme-forma/src";
@source "../node_modules/@fullcalendar/mui-material/src";
@source "../node_modules/@fullcalendar/shadcn/src";

@import "../node_modules/@fullcalendar/theme-breezy/src/ui-default-palettes.css";
@import "../node_modules/@fullcalendar/theme-pulse/src/ui-default-palettes.css";
@import "../node_modules/@fullcalendar/theme-monarch/src/ui-default-palettes.css";
@import "../node_modules/@fullcalendar/theme-forma/src/ui-default-palettes.css";

@custom-variant dark (&:is([data-color-scheme=dark] *));

html {
  --fc-canvas-color: var(--color-white);
  color-scheme: light;
  /* ShadCN will set page bg color */
}
html[data-color-scheme=dark] {
  --fc-canvas-color: var(--color-gray-950);
  color-scheme: dark;
  /* ShadCN will set page bg color */
}

body {
  display: flex;
  flex-direction: column;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@import "./palettes-shadcn.css";
