
//
// daygrid-row > week-number
//

.fc-daygrid-week-number {
  position: absolute;
  z-index: $daygrid-weeknum-z;
  top: 0;
  padding: 2px;
  min-width: 1.5em;
  text-align: center;
  background-color: var(--fc-neutral-bg-color);
  color: var(--fc-neutral-text-color);
}

//
// daygrid-cell
//

.fc-daygrid-cell.fc-day-today { // (today)
  // TODO: can we just make all fc-day-today's a bg color?
  background-color: var(--fc-today-bg-color);
}

//
// daygrid-cell > inner
//

.fc-daygrid-cell-inner-tall { // (tall)
  min-height: 3em;
}

//
// daygrid-cell > inner > header
//

.fc-daygrid-cell-header {
  display: flex;
  flex-direction: row-reverse;
}

.fc-day-other .fc-daygrid-cell-header { // (day-other)
  opacity: 0.3;
}

//
// daygrid-cell > inner > header > number
//

.fc-daygrid-cell-number {
  position: relative;
  z-index: $daygrid-topbottom-z;
  padding: 4px;
}

.fc-daygrid-month-start { // (month-start) on .fc-daygrid-cell-number
  font-weight: bold;
  font-size: 1.1em;
}

//
// daygrid-cell > inner > footer
//

.fc-daygrid-cell-footer {
  font-size: .85em;

  // control alignment of +more link
  display: flex;
  flex-direction: column;
}

//
// daygrid-cell > inner > footer > more-link
//

.fc-daygrid-more-link {
  position: relative;
  z-index: $daygrid-topbottom-z;
  max-width: 100%;
  border-radius: 3px;
  margin: 1px 2px;
  padding: 2px;
  overflow: hidden;
  white-space: nowrap;
  line-height: 1; // undo themes that have thick line-height
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.fc-daygrid-more-link-button {
  align-self: flex-start;
}

.fc-daygrid-more-link-block {
  // look like an event
  border: 1px solid var(--fc-event-border-color);
  padding: 1px;
}

//
// daygrid-cell > inner > bg-content (???)
//

.fc-daygrid-cell {
  & .fc-non-business { z-index: $daygrid-non-business-z }
  & .fc-bg-event { z-index: $daygrid-bg-event-z }
  & .fc-highlight { z-index: $daygrid-highlight-z }
}

//
// more-popover > body
//

.fc-more-popover .fc-popover-body {
  min-width: 220px;
  padding: 10px;
}
