
//
// daygrid-event (extends h-event)
//

.fc-daygrid-event {
  z-index: $daygrid-event-z;
  margin-bottom: 1px;
  border-radius: 3px; // dot event needs this to when selected
  font-size: var(--fc-small-font-size);
}

.fc-daygrid-event.fc-event-mirror { // (mirror)
  z-index: $daygrid-event-mirror-z;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-start,
.fc-direction-rtl .fc-daygrid-event.fc-event-end {
  margin-left: 2px;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-end,
.fc-direction-rtl .fc-daygrid-event.fc-event-start {
  margin-right: 2px;
}

// spacing between time and title
// TODO: use gap, though be mindful of 3 siblings
.fc-direction-ltr .fc-daygrid-event .fc-event-time { // (ltr) > time
  margin-right: 3px;
}
.fc-direction-rtl .fc-daygrid-event .fc-event-time { // (rtl) > time
  margin-left: 3px;
}

//
// daygrid-block-event (extends daygrid-event --- BUT *NOT* h-event, WEIRD, TODO)
//   the rectangle ("block") style of event
//

.fc-direction-ltr .fc-daygrid-block-event:not(.fc-event-start),
.fc-direction-rtl .fc-daygrid-block-event:not(.fc-event-end) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 0;
}

.fc-direction-ltr .fc-daygrid-block-event:not(.fc-event-end),
.fc-direction-rtl .fc-daygrid-block-event:not(.fc-event-start) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-width: 0;
}

.fc-daygrid-block-event .fc-event-time { // > time
  font-weight: bold;
}

.fc-daygrid-block-event .fc-event-time, // > time
.fc-daygrid-block-event .fc-event-title { // > title
  padding: 1px;
}

//
// daygrid-dot-event (extends daygrid-event)
//   the dot style of event
//

.fc-daygrid-dot-event {
  position: relative; // HACK: related to "BUT *NOT* h-event" above
  display: flex;
  direction: row;
  align-items: center; // vertical
  padding: 2px 0;
}

.fc-daygrid-dot-event:hover, // (hover)
.fc-daygrid-dot-event.fc-event-mirror { // (mirror)
  background: rgba(0, 0, 0, 0.1);
}

// NOTE: does NOT have .fc-event-inner, .fc-event-resizer, or .fc-event-title-outer

.fc-daygrid-event-dot { // > dot
  margin: 0 4px;
  box-sizing: content-box;
  width: 0;
  height: 0;
  border: calc(var(--fc-daygrid-event-dot-width) / 2) solid var(--fc-event-border-color);
  border-radius: calc(var(--fc-daygrid-event-dot-width) / 2);
}

.fc-daygrid-dot-event .fc-event-time, // > time
.fc-daygrid-dot-event .fc-event-title { // > title
  white-space: nowrap;
  overflow: hidden;
}

.fc-daygrid-dot-event .fc-event-title { // > title
  // liquid
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0;

  font-weight: bold;
}
