
//
// fc-daygrid-row
//

.fc-daygrid-row-print { // (print)
  // Print view squishes width which results in overly tall cells that can't adapt to new width
  // hardcode a value that looks good in portrait and landscape
  // In print view, the row <div> is NOT flexbox, so no interference with expanding algorithm
  min-height: 6em;
}

//
// fc-daygrid-row > fg > cell
//

.fc-daygrid-day.fc-day-today { // (today)
  // only in body cells, not header cells
  background-color: var(--fc-today-bg-color);
}

//
// fc-daygrid-row > fg > cell > header
//

.fc-daygrid-day-header {
  display: flex;
  flex-direction: row-reverse;
}

.fc-day-other .fc-daygrid-day-header { // (day-other)
  opacity: 0.3;
}

//
// fc-daygrid-row > fg > cell > header > number
//

.fc-daygrid-day-number {
  position: relative;
  padding: 4px;
}

.fc-daygrid-month-start { // (month-start) on .fc-daygrid-day-number
  font-weight: bold;
  font-size: 1.1em;
}

//
// fc-daygrid-row > fg > cell > body > number
//

.fc-daygrid-day-body {
  display: flex;
  flex-direction: column;
  margin-bottom: 1px;
}

.fc-daygrid-day-body-tall { // (tall)
  min-height: 2em;
  margin-bottom: 1em;
}

.fc-daygrid-day-body:only-child { // (without header)
  margin-top: 2px;
}

//
// fc-daygrid-row > fg > cell > main > more-link
//

.fc-daygrid-more-link {
  position: relative;
  max-width: 100%;
  border-radius: 3px;
  margin: 0 2px 1px;
  padding: 2px;
  overflow: hidden;
  white-space: nowrap;
  font-size: var(--fc-small-font-size);
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.fc-daygrid-more-link-button { // (button)
  align-self: flex-start;
}

.fc-daygrid-more-link-block { // (block)
  // looks like an event
  border: 1px solid var(--fc-event-border-color);
  padding: 1px;
}

//
// fc-daygrid-row > week-number
//

.fc-daygrid-week-number {
  position: absolute;
  top: 0;
  padding: 2px;
  min-width: 1.5em;
  text-align: center;
  background-color: var(--fc-neutral-bg-color);
  color: var(--fc-neutral-text-color);
}

.fc-direction-ltr .fc-daygrid-week-number { // (ltr)
  border-radius: 0 0 3px;
}

.fc-direction-rtl .fc-daygrid-week-number { // (rtl)
  border-radius: 0 0 0 3px;
}

//
// more-popover > body
//

.fc-more-popover .fc-popover-body {
  min-width: 220px;
  padding: 10px;
}
