
/*
extends fcnew-h-event
*/

.fcnew-daygrid-event { // make root-level, because will be dragged-and-dropped outside of a component root
  position: relative; // for z-indexes assigned later
  border-radius: 3px; // dot event needs this to when selected
  font-size: var(--fcnew-small-font-size);
}

/* this used to be in daygrid.css */
.fcnew-direction-ltr .fcnew-daygrid-event.fcnew-event-start,
.fcnew-direction-rtl .fcnew-daygrid-event.fcnew-event-end {
  margin-left: 2px;
}
.fcnew-direction-ltr .fcnew-daygrid-event.fcnew-event-end,
.fcnew-direction-rtl .fcnew-daygrid-event.fcnew-event-start {
  margin-right: 2px;
}

// --- the rectangle ("block") style of event ---

.fcnew-daygrid-block-event {

  & .fcnew-event-time {
    font-weight: bold;
  }

  & .fcnew-event-time,
  & .fcnew-event-title {
    padding: 1px;
  }

}

// adjust border and border-radius (if there is any) for non-start/end

.fcnew-direction-ltr .fcnew-daygrid-block-event:not(.fcnew-event-start),
.fcnew-direction-rtl .fcnew-daygrid-block-event:not(.fcnew-event-end) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 0;
}

.fcnew-direction-ltr .fcnew-daygrid-block-event:not(.fcnew-event-end),
.fcnew-direction-rtl .fcnew-daygrid-block-event:not(.fcnew-event-start) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-width: 0;
}

// --- the dot style of event ---

.fcnew-daygrid-dot-event {
  display: flex;
  align-items: center;
  padding: 2px 0;

  & .fcnew-event-title {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0; // important for allowing to shrink all the way
    overflow: hidden;
    font-weight: bold;
  }

  &:hover,
  &.fcnew-event-mirror {
    background: rgba(0, 0, 0, 0.1);
  }

  &.fcnew-event-selected:before {
    // expand hit area
    top: -10px;
    bottom: -10px;
  }

}

.fcnew-daygrid-event-dot { // the actual dot
  margin: 0 4px;
  box-sizing: content-box;
  width: 0;
  height: 0;
  border: calc(var(--fcnew-daygrid-event-dot-width) / 2) solid var(--fcnew-event-border-color);
  border-radius: calc(var(--fcnew-daygrid-event-dot-width) / 2);
}


// --- spacing between time and title ---

$daygrid-event-inner-margin: 3px;

.fcnew-direction-ltr {
  & .fcnew-daygrid-event .fcnew-event-time {
    margin-right: $daygrid-event-inner-margin;
  }
}

.fcnew-direction-rtl {
  & .fcnew-daygrid-event .fcnew-event-time {
    margin-left: $daygrid-event-inner-margin;
  }
}
