
//
// fc-daygrid-event
//   a MIXIN
//   works with different structures, like fc-daygrid-block-event and fc-daygrid-dot-event
//

.fc-daygrid-event {
  margin-bottom: 1px;
  border-radius: 3px; // dot event needs this too when selected
  font-size: var(--fc-small-font-size);
}

// left/right margins
.fc-direction-ltr .fc-daygrid-event.fc-event-start, // (ltr-left-terminus)
.fc-direction-rtl .fc-daygrid-event.fc-event-end { // (rtl-left-terminus)
  margin-left: 2px;
}
.fc-direction-ltr .fc-daygrid-event.fc-event-end, // (ltr-right-terminus)
.fc-direction-rtl .fc-daygrid-event.fc-event-start { // (rtl-right-terminus)
  margin-right: 2px;
}

// space between time and title
// (can't use gap b/c dot is often a first sibling)
.fc-direction-ltr .fc-daygrid-event .fc-event-time { // (ltr) > time
  margin-right: 3px;
}
.fc-direction-rtl .fc-daygrid-event .fc-event-time { // (rtl) > time
  margin-left: 3px;
}

/*
HACK: force for print, which has liquid-width days but event-heights don't adapt
*/
.fc-media-print .fc-daygrid-event .fc-event-time, // (print) > time
.fc-media-print .fc-daygrid-event .fc-event-title { // (print) > * > title
  white-space: nowrap !important;
  overflow: hidden !important;
}

//
// fc-daygrid-block-event (extends fc-event, fc-h-event, fc-daygrid-event)
//   the RECTANGLE style of event
//

// kill left/right margin and border-radius
.fc-direction-ltr .fc-daygrid-block-event:not(.fc-event-start), // (ltr-left-continuation)
.fc-direction-rtl .fc-daygrid-block-event:not(.fc-event-end) { // (rtl-left-continuation)
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 0;
}
.fc-direction-ltr .fc-daygrid-block-event:not(.fc-event-end), // (ltr-right-continuation)
.fc-direction-rtl .fc-daygrid-block-event:not(.fc-event-start) { // (rtl-right-continuation)
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-width: 0;
}

.fc-daygrid-block-event .fc-event-time { // > time
  font-weight: bold;
}

.fc-daygrid-block-event .fc-event-time, // > time
.fc-daygrid-block-event .fc-event-title { // > title-outer > title
  padding: 1px;
}

//
// fc-daygrid-dot-event (extends fc-event, fc-daygrid-event)
//   the DOT style of event
//   does NOT extend fc-h-event, so need to complete fc-event's REQUIREMENTS
//   does NOT ever do mirror
//

.fc-daygrid-dot-event {
  position: relative; // required by fc-event
  z-index: $event-z;

  display: flex;
  direction: row;
  align-items: center; // vertical
  padding: 2px 0;
}

.fc-daygrid-dot-event.fc-event-mirror, // (mirror)
.fc-daygrid-dot-event:hover { // (hover)
  background: rgba(0, 0, 0, 0.1);
}

.fc-daygrid-dot-event.fc-event-selected:before { // (touch-selected) > hit-area
  // expand
  top: -10px;
  bottom: -10px;
}

.fc-daygrid-event-dot { // > dot
  margin: 0 4px;
  box-sizing: content-box;
  width: 0;
  height: 0;
  border: calc(var(--fc-daygrid-event-dot-width) / 2) solid var(--fc-event-border-color);
  border-radius: calc(var(--fc-daygrid-event-dot-width) / 2);
}

.fc-daygrid-dot-event .fc-event-time, // > time
.fc-daygrid-dot-event .fc-event-title { // > title
  white-space: nowrap;
  overflow: hidden;
}

.fc-daygrid-dot-event .fc-event-title { // > title
  @include liquid; // horizontally liquid
  font-weight: bold;
}
