
$daygrid-non-business-z: 1;
$daygrid-bg-event-z: 2;
$daygrid-highlight-z: 3;
$daygrid-topbottom-z: 4;
$daygrid-weeknum-z: 5;
$daygrid-event-z: 6;
$daygrid-event-mirror-z: 7;

$daygrid-event-inner-margin: 3px;

:root {
  --fc-daygrid-event-dot-width: 8px;
}
