
.fcnew-timegrid-col {
  position: relative;

  &.fcnew-day-today {
    background-color: var(--fcnew-today-bg-color);
  }
}

.fcnew-timegrid-bg-harness {
  @include bg-z-indexes;
}

.fcnew-direction-ltr {
  & .fcnew-timegrid-col-fg {
    margin: 0 2.5% 0 2px;
  }
}

.fcnew-direction-rtl {
  & .fcnew-timegrid-col-fg {
    margin: 0 2px 0 2.5%;
  }
}
