
//
// fc-timegrid-slots
//

.fc-timegrid-slots {
  position: relative;
  z-index: $fg-z;
}

//
// fc-timegrid-slots > slot
//

.fc-timegrid-slot-minor { // (minor)
  border-style: dotted;
}

//
// fc-timegrid-axis
// (applied to cells across first column, for both Normal and Pannable layouts)
//

.fc-timegrid-axis {
  display: flex;
  flex-direction: column;
  justify-content: center; // vertically
  align-items: flex-end; // horizontally
}

.fc-timegrid-axis-inner {
  min-height: 1.5em;

  // vertical alignment for *text inside*
  display: flex;
  flex-direction: column;
  justify-content: center; // vertically
}

//
// fc-timegrid-day
//

.fc-timegrid-day.fc-day-today { // (today)
  background-color: var(--fc-today-bg-color);
}

//
// fc-timegrid-day > fg
//

.fc-timegrid-day-events {
  z-index: $event-z;
}

.fc-direction-ltr .fc-timegrid-day-events { // (ltr)
  margin: 0 2.5% 0 2px;
}

.fc-direction-rtl .fc-timegrid-day-events { // (rtl)
  margin: 0 2px 0 2.5%;
}
