
.fc-timegrid-col {
  position: relative;

  &.fc-day-today {
    background-color: var(--fc-today-bg-color);
  }
}

.fc-timegrid-bg-harness {
  @include bg-z-indexes;
}

/*
HACK because fc-timegrid-event isn't doing its job with z-index
*/
.fc-timegrid-col-fg { // has .fc-rel
  z-index: $timegrid-col-fg-z;
}

.fc-direction-ltr {
  & .fc-timegrid-col-fg {
    margin: 0 2.5% 0 2px;
  }
}

.fc-direction-rtl {
  & .fc-timegrid-col-fg {
    margin: 0 2px 0 2.5%;
  }
}
