
//
// fc-timegrid-event (extends fc-event, fc-v-event)
//

.fc-timegrid-event {
  @include fill;
  margin-bottom: 1px; // give some space from bottom
  border-radius: 3px;
  font-size: var(--fc-small-font-size);
}

.fc-timegrid-event-inset, // (inset)
.fc-timegrid-event.fc-event-mirror { // (mirror)
  box-shadow: 0px 0px 0px 1px var(--fc-page-bg-color); // apply border w/o mass
}

// HACK
.fc-timegrid-harness-plain > .fc-timegrid-event { // (plain)
  position: static; // overrides above abs
}

//
// fc-timegrid-event > inner
//

.fc-timegrid-event .fc-event-inner {
  padding: 1px 1px 0;
}

.fc-timegrid-event-short .fc-event-inner { // (short)
  flex-direction: row; // overrides fc-v-event!
  overflow: hidden;
}

//
// fc-timegrid-event > inner > time
//

.fc-timegrid-event .fc-event-time {
  white-space: nowrap;
  font-size: var(--fc-small-font-size);
  margin-bottom: 1px;
}

.fc-timegrid-event-short .fc-event-time:after { // (short) > dash
  content: '\00a0-\00a0'; // dash surrounded by non-breaking spaces
}

//
// fc-timegrid-event > inner > title-outer
//

.fc-timegrid-event-short .fc-event-title-outer { // (short)
  // liquid (like what h-event does)
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0;
}

//
// fc-timegrid-event > inner > title-outer > title
//

.fc-timegrid-event-short .fc-event-title { // (short)
  font-size: var(--fc-small-font-size);
}
