
//
// fc-timegrid-now-indicator-container
//

.fc-timegrid-now-indicator-container {
  @include fill;
  z-index: $now-indicator-z;
  overflow: hidden; // don't let overflow of lines/arrows cause unnecessary scrolling
  pointer-events: none;
}

//
// fc-timegrid-now-indicator-container > arrow
//

.fc-timegrid-now-indicator-arrow {
  position: absolute;
  margin-top: -5px; // vertically center on top coordinate
  border-color: var(--fc-now-indicator-color);
  @include arrow-left-right(6px, 5px);
}

.fc-direction-ltr .fc-timegrid-now-indicator-arrow { // (ltr)
  left: 0;
  border-right: 0;
}

.fc-direction-rtl .fc-timegrid-now-indicator-arrow { // (rtl)
  right: 0;
  border-left: 0;
}

//
// fc-timegrid-now-indicator-container > line
//

.fc-timegrid-now-indicator-line {
  position: absolute;
  left: 0;
  right: 0;
  border-top: 1px solid var(--fc-now-indicator-color);
}
