
//
// fc-timegrid-slots > slot
//

.fc-timegrid-slot-minor { // (minor)
  border-style: dotted;
}

//
// fc-timegrid-axis
// (applied to cells across first column, for both Normal and Pannable layouts)
//

.fc-timegrid-axis {
  display: flex;
  flex-direction: column;
  justify-content: center; // vertically
  align-items: flex-end; // horizontally
}

.fc-timegrid-axis-inner {
  min-height: 1.5em;

  // vertical alignment for *text inside*
  display: flex;
  flex-direction: column;
  justify-content: center; // vertically
}

// for line-breaks in text, text-align compliments align-items
.fc-direction-ltr .fc-timegrid-axis-inner { // (ltr)
  text-align: right;
}
.fc-direction-rtl .fc-timegrid-axis-inner { // (rtl)
  text-align: left;
}

//
// timegrid-allday-label
//

.fc-timegrid-allday-label-inner { // > inner
  // respect newlines in long text like "Toute la journée", meant to break
  white-space: pre;
}

//
// fc-timegrid-day
//

.fc-timegrid-day.fc-day-today { // (today)
  background-color: var(--fc-today-bg-color);
}

//
// fc-timegrid-day > fg
//

.fc-direction-ltr .fc-timegrid-day-events { // (ltr)
  margin: 0 2.5% 0 2px;
}

.fc-direction-rtl .fc-timegrid-day-events { // (rtl)
  margin: 0 2px 0 2.5%;
}

.fc-timegrid-day-events.fc-timegrid-day-events-simple {
  margin: 4px;
}
