
.fcnew {

  // TODO: fix bad selectors
  & .fcnew-timegrid-view {
    // axis of slots
    & .fcnew-rowheader:not(.fcnew-scroller) { // HACK for hscroll view
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    // axis of slots --- inside
    & .fcnew-timegrid-axis-frame,
    & .fcnew-timegrid-slot-label-frame,
    & .fcnew-timegrid-slot-lane-frame {
      min-height: 1.5em;
      display: flex;
      flex-direction: row;
      // aligns the single-item in the flexrow; needs to measure its width
      align-items: center; // vertically center
      justify-content: flex-end; // horizontally (right)
    }
    // specifically the all-day
    & .fcnew-timegrid-axis-cushion {
      max-width: 60px; // limits the width of the "all-day" text
    }
  }

  & .fcnew-timegrid-slot-minor {
    border-style: dotted;
    // how to do this when cell controls the BOTTOM border???
    // THINK ABOUT:
    // - bottom-sticky scrollbars prefer NO top border
    // - top-sticky header prefers bottom border
  }

  & .fcnew-timegrid-slot-label-cushion,
  & .fcnew-timegrid-slot-lane-cushion {
    white-space: nowrap;
  }

  // slots AND axis cells (top-left corner of view including the "all-day" text)

  & .fcnew-timegrid-axis-cushion,
  & .fcnew-timegrid-slot-label-cushion {
    padding: 0 4px;
  }
}
