
.fcnew-timegrid-axis {
  display: flex;
  flex-direction: column;
  justify-content: center; // vertically
  align-items: flex-end; // horizontally
}

.fcnew-timegrid-axis-inner {
  min-height: 1.5em;

  // vertical alignment for *text inside*
  display: flex;
  flex-direction: column;
  justify-content: center; // vertically
}

.fcnew-timegrid-slot-minor {
  border-style: dotted;
}
