
//
// timegrid-more-link
//   does NOT inherit from fc-timegrid-event
//

.fc-timegrid-more-link {
  z-index: 9999; // HACK to get above all data-dependent z-indexes of events
  color: var(--fc-more-link-text-color);
  background: var(--fc-more-link-bg-color);
  margin-bottom: 1px; // match space below fc-timegrid-event
  cursor: pointer;

  // TODO: DRY with timegrid-event?
  box-shadow: 0px 0px 0px 1px var(--fc-page-bg-color);
  font-size: var(--fc-small-font-size);
  border-radius: 3px;
}

.fc-direction-ltr .fc-timegrid-more-link {
  right: 0; // alignment within column. has natural width
}

.fc-direction-rtl .fc-timegrid-more-link {
  left: 0; // alignment within column. has natural width
}

//
// timegrid-more-link > inner
//

.fc-timegrid-more-link-inner {
  padding: 3px 2px;
}
