
/*
A VERTICAL event
*/

.fcnew-v-event {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--fcnew-event-border-color);
  background-color: var(--fcnew-event-bg-color);
  position: relative;

  & .fcnew-event-inner {
    flex-grow: 1; // expand horizontally
    min-width: 0; // can shrink regardless of inner content
    display: flex;
    flex-direction: column;
    color: var(--fcnew-event-text-color); // why all this repeating?
  }

  & .fcnew-event-time,
  & .fcnew-event-title {
    overflow: hidden;
  }

  & .fcnew-event-title-outer {
    flex-grow: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
  }

  & .fcnew-event-title { // will have fcnew-v-sticky on it
    position: sticky;
    top: 0;
    bottom: 0;
  }

  &:not(.fcnew-event-start) {
    border-top-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &:not(.fcnew-event-end) {
    border-bottom-width: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &.fcnew-event-selected:before {
    // expand hit area
    left: -10px;
    right: -10px;
  }

  // resizer (mouse AND touch)

  & .fcnew-event-resizer-start {
    cursor: n-resize;
  }

  & .fcnew-event-resizer-end {
    cursor: s-resize;
  }

  // resizer for MOUSE

  &:not(.fcnew-event-selected) {

    & .fcnew-event-resizer {
      height: var(--fcnew-event-resizer-thickness);
      left: 0;
      right: 0;
    }

    & .fcnew-event-resizer-start {
      top: calc(var(--fcnew-event-resizer-thickness) / -2);
    }

    & .fcnew-event-resizer-end {
      bottom: calc(var(--fcnew-event-resizer-thickness) / -2);
    }

  }

  // resizer for TOUCH (when event is "selected")

  &.fcnew-event-selected {

    & .fcnew-event-resizer {
      left: 50%;
      margin-left: calc(var(--fcnew-event-resizer-dot-total-width) / -2);
    }

    & .fcnew-event-resizer-start {
      top: calc(var(--fcnew-event-resizer-dot-total-width) / -2);
    }

    & .fcnew-event-resizer-end {
      bottom: calc(var(--fcnew-event-resizer-dot-total-width) / -2);
    }

  }

}
