
//
// fc-v-event (extends event)
//   "vertical"
//   REQUIREMENTS for subclasses:
//   - set position:relative/absolute
//

// THEME
.fc-v-event {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--fc-event-border-color);
  background-color: var(--fc-event-bg-color);
}

// THEME: kill top border and radius when isStart
.fc-v-event:not(.fc-event-start) { // (not-start)
  border-top-width: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

// THEME: kill bottom border and rardius when isEnd
.fc-v-event:not(.fc-event-end) { // (not-end)
  border-bottom-width: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

//
// fc-v-event > inner
//

// THEME
.fc-v-event .fc-event-inner {
  // like liquid, but with no basis:0, so can have natural height
  flex-grow: 1;
  min-height: 0;

  display: flex;
  flex-direction: column;
  color: var(--fc-event-text-color); // better to assign text-color within to bypass link color
}

// THEME
.fc-v-event .fc-event-time { // > time
  flex-shrink: 0;
  white-space: nowrap;
}

// THEME
.fc-v-event .fc-event-time, // > time
.fc-v-event .fc-event-title { // > title-outer > title
  overflow: hidden;
}

// THEME
.fc-v-event .fc-event-title-outer { // > title-outer
  // like liquid, but with no basis:0, so can have natural height
  // (but needs fc-event-time sibling to have shrink:0 to work)
  flex-grow: 1;
  min-height: 0;

  display: flex;
  flex-direction: column;
}

// THEME should decide whether to put stickiness on title-div or inner-div
.fc-v-event .fc-event-title { // > title-outer > title
  position: sticky;
  z-index: 1;
  top: 0;
  bottom: 0;
}

//
// fc-v-event > resizer
//

// THEME: mouse resizing
.fc-v-event:not(.fc-event-selected) { // (mouse)
  & .fc-event-resizer {
    height: var(--fc-event-resizer-thickness);
    left: 0;
    right: 0;
  }

  & .fc-event-resizer-start { // (start)
    top: calc(var(--fc-event-resizer-thickness) / -2);
  }

  & .fc-event-resizer-end { // (end)
    bottom: calc(var(--fc-event-resizer-thickness) / -2);
  }
}

// THEME: touch resizing with dot
.fc-v-event.fc-event-selected { // (touch)
  & .fc-event-resizer {
    left: 50%;
    margin-left: calc(var(--fc-event-resizer-dot-total-width) / -2);
  }

  & .fc-event-resizer-start { // (start)
    top: calc(var(--fc-event-resizer-dot-total-width) / -2);
  }

  & .fc-event-resizer-end { // (end)
    bottom: calc(var(--fc-event-resizer-dot-total-width) / -2);
  }
}
