
//
// timeline-events
//   the container for multiple events
//

.fcnew-timeline-events {
  z-index: $timeline-fg-z;
}

.fcnew-timeline-events-overlap-enabled { // (overlap-enabled)
  padding-bottom: 10px;
}

//
// timeline-event (extends h-event)
//

.fcnew-timeline-event {
  border-radius: 0;
  margin-bottom: 1px;
  font-size: var(--fcnew-small-font-size);
  z-index: 1; // scoped within container
}

.fcnew-timeline-event.fcnew-event-mirror { // (mirror)
  z-index: 2; // scoped within container
}

.fcnew-direction-ltr .fcnew-timeline-event.fcnew-event-end { // (ltr+end)
  margin-right: 1px;
}

.fcnew-direction-rtl .fcnew-timeline-event.fcnew-event-end { // (rtl+end)
  margin-left: 1px;
}

.fcnew-timeline-event-spacious { // (spacious)
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0;
}

//
// timeline-event > inner
//

.fcnew-timeline-event .fcnew-event-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px 1px;
}

//
// timeline-event > inner > arrows
//

.fcnew-timeline-event:not(.fcnew-event-start) .fcnew-event-inner:before,
.fcnew-timeline-event:not(.fcnew-event-end) .fcnew-event-inner:after {
  content: "";
  flex-grow: 0;
  flex-shrink: 0;
  opacity: .5;

  // triangle. TODO: mixin
  width: 0;
  height: 0;
  margin: 0 1px;
  border: 5px solid #000; // TODO: var
  border-top-color: transparent;
  border-bottom-color: transparent;
}

// (pointing left variant)
.fcnew-direction-ltr .fcnew-timeline-event:not(.fcnew-event-start) .fcnew-event-inner:before,
.fcnew-direction-rtl .fcnew-timeline-event:not(.fcnew-event-end) .fcnew-event-inner:after {
  border-left: 0;
}

// (pointing right variant)
.fcnew-direction-ltr .fcnew-timeline-event:not(.fcnew-event-end) .fcnew-event-inner:after,
.fcnew-direction-rtl .fcnew-timeline-event:not(.fcnew-event-start) .fcnew-event-inner:before {
  border-right: 0;
}

//
// timeline-event > inner > *
//

.fcnew-timeline-event .fcnew-event-time { // > time
  font-weight: bold;
}

.fcnew-timeline-event .fcnew-event-time, // > time
.fcnew-timeline-event .fcnew-event-title { // > title-outer > title-outer
  padding: 0 2px;
}
