
/*
vertical slots in both the header AND the body
*/

.fcnew {

  & .fcnew-timeline-slots {
    position: absolute;
    z-index: $timeline-slots-z;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  // border for both header AND body cells

  & .fcnew-timeline-slot-minor {
    border-style: dotted;
  }

  // header cells (aka "label")

  & .fcnew-timeline-slot {
    display: flex;
    align-items: center; // vertical align
    justify-content: center; // horizontal align

    // so text doesn't bleed out and cause extra scroll
    // (won't work with sticky elements)
    overflow: hidden;
  }

  & .fcnew-timeline-slot-inner {
  }

  & .fcnew-timeline-header-row-chrono { // a row of times
    & .fcnew-timeline-slot {
      justify-content: flex-start; // horizontal align left or right
    }
  }

  & .fcnew-timeline-slot-cushion {
    display: block; // NOTE: it's normally an <a> tag
    padding: 4px 5px; // TODO: unify with fcnew-col-header?
    white-space: nowrap;
  }

  // NOTE: how does the top row of cells get horizontally centered?
  // for the non-chrono-row, the fcnew-sticky system looks for text-align center,
  // and it's a fluke that the default browser stylesheet already does this for <th>
  // TODO: have StickyScrolling look at natural left coord to detect centeredness.
}
