
.fcnew {

  // container
  & .fcnew-timeline-events {
    position: relative;
    z-index: $timeline-fg-z;
    box-sizing: content-box; // so padding and height are separate. height is set in js
  }
  & .fcnew-timeline-events-overlap-enabled {
    padding-bottom: 10px;
  }

  // harness
  // for MORE-LINK too. is this okay?
  & .fcnew-timeline-event-harness {
    position: absolute;
    top: 0; // for when when top can't be computed yet
    // JS will set tht left/right
  }

}

// z-index, scoped within fcnew-timeline-events
.fcnew-timeline-event { z-index: 1 }
.fcnew-timeline-event.fcnew-event-mirror { z-index: 2 }


.fcnew-timeline-event {
  position: relative; // contains things. TODO: make part of fcnew-h-event and fcnew-v-event
  display: flex; // for v-aligning start/end arrows and making fcnew-event-main stretch all the way
  align-items: center;
  border-radius: 0;
  padding: 2px 1px;
  margin-bottom: 1px;
  font-size: var(--fcnew-small-font-size);

  // time and title spacing
  // ----------------------------------------------------------------------------------------------------

  & .fcnew-event-main {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0; // important for allowing to shrink all the way
  }

  & .fcnew-event-time {
    font-weight: bold;
  }

  & .fcnew-event-time,
  & .fcnew-event-title {
    white-space: nowrap;
    padding: 0 2px;
  }
}
.fcnew-timeline-event-thick {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0;
}

// move 1px away from slot line
.fcnew-direction-ltr {
  & .fcnew-timeline-event.fcnew-event-end,
  & .fcnew-timeline-more-link {
    margin-right: 1px;
  }
}
.fcnew-direction-rtl {
  & .fcnew-timeline-event.fcnew-event-end,
  & .fcnew-timeline-more-link {
    margin-left: 1px;
  }
}

// make event beefier when overlap not allowed
.fcnew-timeline-overlap-disabled .fcnew-timeline-event {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0;
}

// arrows indicating the event continues into past/future
// ----------------------------------------------------------------------------------------------------

// part of the flexbox flow

.fcnew-timeline-event:not(.fcnew-event-start):before,
.fcnew-timeline-event:not(.fcnew-event-end):after {
  content: "";
  flex-grow: 0;
  flex-shrink: 0;
  opacity: .5;

  // triangle. TODO: mixin
  width: 0;
  height: 0;
  margin: 0 1px;
  border: 5px solid #000; // TODO: var
  border-top-color: transparent;
  border-bottom-color: transparent;
}

// pointing left
.fcnew-direction-ltr .fcnew-timeline-event:not(.fcnew-event-start):before,
.fcnew-direction-rtl .fcnew-timeline-event:not(.fcnew-event-end):after {
  border-left: 0;
}

// pointing right
.fcnew-direction-ltr .fcnew-timeline-event:not(.fcnew-event-end):after,
.fcnew-direction-rtl .fcnew-timeline-event:not(.fcnew-event-start):before {
  border-right: 0;
}

// +more events indicator
// ----------------------------------------------------------------------------------------------------

.fcnew-timeline-more-link {
  font-size: var(--fcnew-small-font-size);
  color: var(--fcnew-more-link-text-color);
  background: var(--fcnew-more-link-bg-color);
  padding: 1px;
  cursor: pointer;
}

.fcnew-timeline-more-link-inner { // has fcnew-h-sticky
  display: inline-block;
  left: 0;
  right: 0;
  padding: 2px;
}
