
//
// fc-timeline-now-indicator-container
//

.fc-timeline-now-indicator-container {
  @include fill;
  z-index: $now-indicator-z;
  overflow: hidden; // so arrow doesn't bleed out and cause overflow
  pointer-events: none;
}

//
// fc-timeline-now-indicator-container > arrow
//

.fc-timeline-now-indicator-arrow {
  position: absolute;
  top: 0;
  margin: 0 -5px; // center triangle at element origin
  border-color: var(--fc-now-indicator-color);
  @include arrow-down(5px, 6px);
}

//
// fc-timeline-now-indicator-container > line
//

.fc-timeline-now-indicator-line {
  position: absolute;
  top: 0;
  bottom: 0;
  border-left: 1px solid var(--fc-now-indicator-color);
}
