
//
// timeline-more-link
//

.fc-timeline-more-link {
  font-size: var(--fc-small-font-size);
  color: var(--fc-more-link-text-color);
  background: var(--fc-more-link-bg-color);
  padding: 1px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.fc-direction-ltr .fc-timeline-more-link { // (ltr)
  margin-right: 1px; // TODO: DRY with timeline-event?
}

.fc-direction-rtl .fc-timeline-more-link { // (rtl)
  margin-left: 1px; // TODO: DRY with timeline-event?
}

//
// timeline-more-link > inner
//

.fc-timeline-more-link-inner {
  padding: 2px;
}
