
//
// fc-timeline-slots
//

.fc-timeline-slots { // already position:absolute (fc-fill)
  z-index: $fg-z;
}

//
// fc-timeline-events
//

.fc-timeline-events {
  position: relative;
  z-index: $event-z;
}

//
// fc-timeline-slots > slot
//

.fc-timeline-slot-minor { // (minor)
  border-style: dotted;
}
