
//
// fc-timeline-events (extends fc-event, fc-h-event)
//   a CONTAINER for multiple events
//

.fc-timeline-events-overlap-enabled { // (overlap-enabled)
  padding-bottom: 10px;
}

//
// fc-timeline-event (extends fc-h-event)
//

.fc-timeline-event {
  border-radius: 0;
  margin-bottom: 1px;
  font-size: var(--fc-small-font-size);
}

.fc-direction-ltr .fc-timeline-event.fc-event-end { // (ltr+end)
  margin-right: 1px;
}

.fc-direction-rtl .fc-timeline-event.fc-event-end { // (rtl+end)
  margin-left: 1px;
}

.fc-timeline-event-spacious { // (spacious)
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0;
}

//
// fc-timeline-event > inner
//

.fc-timeline-event .fc-event-inner {
  display: flex;
  flex-direction: row;
  align-items: center; // vertically centered items
  padding: 2px 1px;
}

.fc-timeline-event .fc-event-time { // > time
  font-weight: bold;
}

.fc-timeline-event .fc-event-time, // > time
.fc-timeline-event .fc-event-title { // > title-outer > title-outer
  padding: 0 2px;
}

//
// fc-timeline-event > inner > arrows
//

.fc-timeline-event:not(.fc-event-start) .fc-event-inner:before,
.fc-timeline-event:not(.fc-event-end) .fc-event-inner:after {
  content: "";
  flex-grow: 0;
  flex-shrink: 0;
  opacity: .5;
  border-color: #000; // TODO: var
  @include arrow-left-right(5px, 5px);
}

// (pointing left variant)
.fc-direction-ltr .fc-timeline-event:not(.fc-event-start) .fc-event-inner:before,
.fc-direction-rtl .fc-timeline-event:not(.fc-event-end) .fc-event-inner:after {
  border-left: 0;
}

// (pointing right variant)
.fc-direction-ltr .fc-timeline-event:not(.fc-event-end) .fc-event-inner:after,
.fc-direction-rtl .fc-timeline-event:not(.fc-event-start) .fc-event-inner:before {
  border-right: 0;
}
