
// TimelineNowIndicatorContainer
// -------------------------------------------------------------------------------------------------

.fc-timeline-now-indicator-container {
  position: absolute;
  z-index: $timeline-now-indicator-z;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  // ^so arrow doesn't bleed out and cause overflow. DRY this up from elsewhere?
}

// TimelineNowIndicatorContainer > TimelineNowIndicator(Arrow|Line)
// -------------------------------------------------------------------------------------------------

.fc-timeline-now-indicator-arrow,
.fc-timeline-now-indicator-line {
  position: absolute;
  top: 0;
  border-style: solid;
  border-color: var(--fc-now-indicator-color);
  pointer-events: none;
}

// TimelineNowIndicatorContainer > TimelineNowIndicatorArrow
// -------------------------------------------------------------------------------------------------

.fc-timeline-now-indicator-arrow {
  margin: 0 -5px; // center triangle at element origin

  // triangle pointing down. TODO: mixin
  border-width: 6px 5px 0 5px;
  border-left-color: transparent;
  border-right-color: transparent;
}

// TimelineNowIndicatorContainer > TimelineNowIndicatorLine
// -------------------------------------------------------------------------------------------------

.fc-timeline-now-indicator-line {
  bottom: 0;
  border-width: 0 0 0 1px;
}
