
// TimelineEventContainer
// -------------------------------------------------------------------------------------------------

.fcnew-timeline-events {
  position: relative;
  z-index: $timeline-fg-z;
}

.fcnew-timeline-events-overlap-enabled { // (allow-overlap variant)
  padding-bottom: 10px;
}

// TimelineEventContainer > TimelineEvent
// -------------------------------------------------------------------------------------------------
// extends fcnew-h-event

.fcnew-timeline-event {
  align-items: center; // vertically align items, for arrow
  border-radius: 0;
  padding: 2px 1px;
  margin-bottom: 1px;
  font-size: var(--fcnew-small-font-size);
  z-index: 1; // scoped within container
}

.fcnew-timeline-event.fcnew-event-mirror { // (mirror variant)
  z-index: 2; // scoped within container
}

.fcnew-direction-ltr { // (end-edge w/ LTR variant)
  & .fcnew-timeline-event.fcnew-event-end,
  & .fcnew-timeline-more-link {
    margin-right: 1px;
  }
}

.fcnew-direction-rtl { // (end-edge w/ RTL variant)
  & .fcnew-timeline-event.fcnew-event-end,
  & .fcnew-timeline-more-link {
    margin-left: 1px;
  }
}

.fcnew-timeline-event-thick { // (thick variant)
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0;
}

.fcnew-timeline-event {
  & .fcnew-event-time, // > Time
  & .fcnew-event-title { // > TitleOuter > Title
    padding: 0 2px;
  }

  & .fcnew-event-time { // > Time
    font-weight: bold;
  }
}

// TimelineEventContainer > TimelineEvent > Arrows
// -------------------------------------------------------------------------------------------------
// (indicating the event continues into past/future)

.fcnew-timeline-event:not(.fcnew-event-start):before,
.fcnew-timeline-event:not(.fcnew-event-end):after {
  content: "";
  flex-grow: 0;
  flex-shrink: 0;
  opacity: .5;

  // triangle. TODO: mixin
  width: 0;
  height: 0;
  margin: 0 1px;
  border: 5px solid #000; // TODO: var
  border-top-color: transparent;
  border-bottom-color: transparent;
}

// (pointing left variant)
.fcnew-direction-ltr .fcnew-timeline-event:not(.fcnew-event-start):before,
.fcnew-direction-rtl .fcnew-timeline-event:not(.fcnew-event-end):after {
  border-left: 0;
}

// (pointing right variant)
.fcnew-direction-ltr .fcnew-timeline-event:not(.fcnew-event-end):after,
.fcnew-direction-rtl .fcnew-timeline-event:not(.fcnew-event-start):before {
  border-right: 0;
}

// TimelineEventContainer > MoreLink
// -------------------------------------------------------------------------------------------------

.fcnew-timeline-more-link {
  font-size: var(--fcnew-small-font-size);
  color: var(--fcnew-more-link-text-color);
  background: var(--fcnew-more-link-bg-color);
  padding: 1px;
  cursor: pointer;
}

.fcnew-timeline-more-link-inner { // has fcnew-h-sticky???
  display: inline-block; // ???
  left: 0;
  right: 0;
  padding: 2px;
}
