
/*
TODO

over = mouseover OR focus
down = mousedown (active)

for ARIA, when tab-group, is the currently-selected on focusable ever?
*/

:root {
  --fc-forma-canvas-color: #fff;

  --fc-forma-icon-color: #424242;
  --fc-forma-muted-text-color: #242424;
  --fc-forma-highlight-color: color-mix(in oklab, var(--color-cyan-100) 40%, transparent);

  --fc-forma-muted: #FAFAFA;
  --fc-forma-glassy: #EBEBEB; /* yuck. not glassy */
  --fc-forma-cloudy: #E0E0E0; /* yuck. not cloudy. where used directly? */
  --fc-forma-strong: #D6D6D6;

  --fc-forma-border: #E0E0E0;
  --fc-forma-strong-border: #A6A6A6;
  --fc-forma-secondary-border: var(--fc-forma-border); /* TODO: just use default border directly */

  --fc-forma-tab-hover: var(--fc-forma-muted);
  --fc-forma-tab-hover-border: #E5E5E5;
  --fc-forma-tab-active-border: var(--fc-forma-border);
  --fc-forma-tab-down: #E5E5E5;

  --fc-forma-tab-selected: #F5F5F5;
  --fc-forma-tab-selected-border: var(--fc-forma-strong-border);
  --fc-forma-tab-selected-hover: #F0F0F0; /* "over" */
  --fc-forma-tab-selected-down: #EBEBEB; /* maybe glassy */
}
[data-color-scheme=dark] {
  --fc-forma-canvas-color: var(--color-gray-950);

  --fc-forma-icon-color: #BDBDBD;
  --fc-forma-muted-text-color: #DBDBDB;
  --fc-forma-highlight-color: color-mix(in oklab, var(--color-blue-500) 20%, transparent);

  --fc-forma-muted: #1A1A1A;
  --fc-forma-glassy: #2C2C2C; /* yuck. not glassy */
  --fc-forma-cloudy: #383838; /* yuck. not cloudy. where used directly? */
  --fc-forma-strong: #404040;

  --fc-forma-border: #404040;
  --fc-forma-strong-border: #707070;
  --fc-forma-secondary-border: var(--fc-forma-border); /* TODO: just use default border directly */

  --fc-forma-tab-hover: var(--fc-forma-muted);
  --fc-forma-tab-hover-border: #3A3A3A;
  --fc-forma-tab-active-border: var(--fc-forma-border);
  --fc-forma-tab-down: #323232;

  --fc-forma-tab-selected: #202020;
  --fc-forma-tab-selected-border: var(--fc-forma-strong-border);
  --fc-forma-tab-selected-hover: #262626; /* "over" */
  --fc-forma-tab-selected-down: #2C2C2C; /* maybe glassy */
}

[data-palette=blue] {
  --fc-forma-primary-color0: #0F6CBD; /* main bg */
  --fc-forma-primary-color1: #0A5AA3; /* hover bg */
  --fc-forma-primary-color2: #064889; /* active + focus bg */
  --fc-forma-primary-text-color: #fff;

  --fc-forma-event-color: #3788d8;
}
[data-palette=blue][data-color-scheme=dark] {
  --fc-forma-primary-color0: #3788d8;
  --fc-forma-primary-color1: #4A9BE8;
  --fc-forma-primary-color2: #5DAEF8;
}

[data-palette=red] {
  --fc-forma-primary-color0: #d83b01;
  --fc-forma-primary-color1: #B03001;
  --fc-forma-primary-color2: #8A2601;
  --fc-forma-primary-text-color: #fff;

  --fc-forma-event-color: #d83b01;
}
[data-palette=red][data-color-scheme=dark] {
  --fc-forma-primary-color0: #E84A11;
  --fc-forma-primary-color1: #F15D21;
  --fc-forma-primary-color2: #FA7031;
}

[data-palette=green] {
  --fc-forma-primary-color0: #107c41;
  --fc-forma-primary-color1: #0D6334;
  --fc-forma-primary-color2: #0A4A27;
  --fc-forma-primary-text-color: #fff;

  --fc-forma-event-color: #107c41;
}
[data-palette=green][data-color-scheme=dark] {
  --fc-forma-primary-color0: #218D52;
  --fc-forma-primary-color1: #329E63;
  --fc-forma-primary-color2: #43AF74;
}

[data-palette=purple] { /* "power apps" */
  --fc-forma-primary-color0: #742774;
  --fc-forma-primary-color1: #5D1F5D;
  --fc-forma-primary-color2: #461746;
  --fc-forma-primary-text-color: #fff;

  --fc-forma-event-color: #742774;
}
[data-palette=purple][data-color-scheme=dark] {
  --fc-forma-primary-color0: #853885;
  --fc-forma-primary-color1: #964996;
  --fc-forma-primary-color2: #A75AA7;
}
