
/*
NAMING
over = mouseover OR focus
down = mousedown (active)
*/

:root {
  --fc-forma-background: #fff;

  --fc-forma-muted: #FAFAFA;
  --fc-forma-glassy: #EBEBEB; /* yuck. not glassy */
  --fc-forma-cloudy: #E0E0E0; /* yuck. not cloudy. where used directly? */
  --fc-forma-strong: #D6D6D6;
  --fc-forma-highlight: color-mix(in oklab, var(--color-cyan-100) 40%, transparent);

  --fc-forma-border: #E0E0E0;
  --fc-forma-strong-border: #A6A6A6;

  --fc-forma-tab-foreground: #242424; /* does NOT apply to selected i don't think */
  --fc-forma-tab-over: var(--fc-forma-muted);
  --fc-forma-tab-over-border: #E5E5E5;
  --fc-forma-tab-down: #E5E5E5;
  --fc-forma-tab-down-border: var(--fc-forma-border);

  --fc-forma-tab-selected: #F5F5F5;
  --fc-forma-tab-selected-border: var(--fc-forma-strong-border);
  --fc-forma-tab-selected-over: #F0F0F0;
  --fc-forma-tab-selected-down: #EBEBEB; /* maybe glassy */

  --fc-forma-secondary-icon: #424242;
}
[data-color-scheme=dark] {
  --fc-forma-background: var(--color-gray-950);

  --fc-forma-muted: #1A1A1A;
  --fc-forma-glassy: #2C2C2C; /* yuck. not glassy */
  --fc-forma-cloudy: #383838; /* yuck. not cloudy. where used directly? */
  --fc-forma-strong: #404040;
  --fc-forma-highlight: color-mix(in oklab, var(--color-blue-500) 20%, transparent);

  --fc-forma-border: #404040;
  --fc-forma-strong-border: #707070;

  --fc-forma-tab-foreground: #DBDBDB; /* does NOT apply to selected i don't think */
  --fc-forma-tab-over: var(--fc-forma-muted);
  --fc-forma-tab-over-border: #3A3A3A;
  --fc-forma-tab-down: #323232;
  --fc-forma-tab-down-border: var(--fc-forma-border);

  --fc-forma-tab-selected: #202020;
  --fc-forma-tab-selected-border: var(--fc-forma-strong-border);
  --fc-forma-tab-selected-over: #262626;
  --fc-forma-tab-selected-down: #2C2C2C; /* maybe glassy */

  --fc-forma-secondary-icon: #BDBDBD;
}

[data-palette=blue] {
  --fc-forma-primary: #0F6CBD;
  --fc-forma-primary-over: #0A5AA3;
  --fc-forma-primary-down: #064889;
  --fc-forma-primary-foreground: #fff;

  --fc-forma-event: #3788d8;
}
[data-palette=blue][data-color-scheme=dark] {
  --fc-forma-primary: #3788d8;
  --fc-forma-primary-over: #4A9BE8;
  --fc-forma-primary-down: #5DAEF8;
}

[data-palette=red] {
  --fc-forma-primary: #d83b01;
  --fc-forma-primary-over: #B03001;
  --fc-forma-primary-down: #8A2601;
  --fc-forma-primary-foreground: #fff;

  --fc-forma-event: #d83b01;
}
[data-palette=red][data-color-scheme=dark] {
  --fc-forma-primary: #E84A11;
  --fc-forma-primary-over: #F15D21;
  --fc-forma-primary-down: #FA7031;
}

[data-palette=green] {
  --fc-forma-primary: #107c41;
  --fc-forma-primary-over: #0D6334;
  --fc-forma-primary-down: #0A4A27;
  --fc-forma-primary-foreground: #fff;

  --fc-forma-event: #107c41;
}
[data-palette=green][data-color-scheme=dark] {
  --fc-forma-primary: #218D52;
  --fc-forma-primary-over: #329E63;
  --fc-forma-primary-down: #43AF74;
}

[data-palette=purple] { /* "power apps" */
  --fc-forma-primary: #742774;
  --fc-forma-primary-over: #5D1F5D;
  --fc-forma-primary-down: #461746;
  --fc-forma-primary-foreground: #fff;

  --fc-forma-event: #742774;
}
[data-palette=purple][data-color-scheme=dark] {
  --fc-forma-primary: #853885;
  --fc-forma-primary-over: #964996;
  --fc-forma-primary-down: #A75AA7;
}
