
/*
NOTE: apply this to calendar root AND popover
*/
.reset-root {
  line-height: 1.5;
  --fc-forma-border-style: solid;
}

/*
NOTE: apply this to buttonClass and popoverCloseClass
*/
.button-reset {
  appearance: button;
  font: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  letter-spacing: inherit;
  color: inherit;
  opacity: 1;
  background-color: #0000;
  border-radius: 0;
  border: 0
}

.pointer-events-none {
  pointer-events: none
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.inset-x-0 {
  inset-inline: 0
}

.inset-y-0 {
  inset-block: 0
}

.-start-2 {
  inset-inline-start: -.5rem
}

.-end-1 {
  inset-inline-end: -.25rem
}

.end-0 {
  inset-inline-end: 0
}

.end-1 {
  inset-inline-end: .25rem
}

.end-\[-3px\] {
  inset-inline-end: -3px
}

.-top-1 {
  top: -.25rem
}

.top-0 {
  top: 0
}

.top-0\.5 {
  top: 0.125rem
}

.top-1 {
  top: .25rem
}

.top-1\/2 {
  top: 50%
}

.-bottom-1 {
  bottom: -.25rem
}

.left-1\/2 {
  left: 50%
}

.-m-\[6px\] {
  margin: -6px
}

.-m-px {
  margin: -1px
}

.m-1 {
  margin: .25rem
}

.m-2 {
  margin: .5rem
}

.m-4 {
  margin: 1rem
}

.mx-0\.5 {
  margin-inline: 0.125rem
}

.mx-px {
  margin-inline: 1px
}

.my-0\.5 {
  margin-block: 0.125rem
}

.my-1 {
  margin-block: .25rem
}

.my-px {
  margin-block: 1px
}

.ms-0\.5 {
  margin-inline-start: 0.125rem
}

.ms-1 {
  margin-inline-start: .25rem
}

.ms-px {
  margin-inline-start: 1px
}

.-me-1\.5 {
  margin-inline-end: -0.375rem
}

.me-0\.5 {
  margin-inline-end: 0.125rem
}

.me-1 {
  margin-inline-end: .25rem
}

.me-\[2\.5\%\] {
  margin-inline-end: 2.5%
}

.me-px {
  margin-inline-end: 1px
}

.-mt-1 {
  margin-top: -.25rem
}

.mb-px {
  margin-bottom: 1px
}

.-ml-1 {
  margin-left: -.25rem
}

.block {
  display: block
}

.flex {
  display: flex
}

.hidden {
  display: none
}

.size-0 {
  width: 0;
  height: 0
}

.size-2 {
  width: .5rem;
  height: .5rem
}

.h-2 {
  height: .5rem
}

.h-2\.5 {
  height: 0.625rem
}

.h-5 {
  height: 1.25rem
}

.h-6 {
  height: 1.5rem
}

.min-h-0\.5 {
  min-height: 0.125rem
}

.min-h-4 {
  min-height: 1rem
}

.min-h-px {
  min-height: 1px
}

.w-1\/2 {
  width: 50%
}

.w-1\/4 {
  width: 25%
}

.w-2 {
  width: .5rem
}

.w-5 {
  width: 1.25rem
}

.w-6 {
  width: 1.5rem
}

.w-\[5px\] {
  width: 5px
}

.max-w-40 {
  max-width: 10rem
}

.min-w-0 {
  min-width: 0
}

.min-w-55 {
  min-width: 13.75rem
}

.shrink-0 {
  flex-shrink: 0
}

.shrink-1 {
  flex-shrink: 1
}

.shrink-100 {
  flex-shrink: 100
}

.grow {
  flex-grow: 1
}

.-rotate-45 {
  rotate: -45deg
}

.-rotate-90 {
  rotate: -90deg
}

.rotate-45 {
  rotate: 45deg
}

.flex-col {
  flex-direction: column
}

.flex-row {
  flex-direction: row
}

.items-center {
  align-items: center
}

.items-end {
  align-items: flex-end
}

.items-start {
  align-items: flex-start
}

.justify-center {
  justify-content: center
}

.justify-end {
  justify-content: flex-end
}

.gap-1 {
  gap: .25rem
}

.gap-2 {
  gap: .5rem
}

.gap-4 {
  gap: 1rem
}

.self-start {
  align-self: flex-start
}

.overflow-hidden {
  overflow: hidden
}

.rounded-\(--mui-shape-borderRadius\) {
  border-radius: var(--mui-shape-borderRadius)
}

.rounded-full {
  border-radius: 3.40282e38px
}

.rounded-sm {
  border-radius: .25rem
}

.rounded-s-sm {
  border-start-start-radius: .25rem;
  border-end-start-radius: .25rem
}

.rounded-e-sm {
  border-start-end-radius: .25rem;
  border-end-end-radius: .25rem
}

.rounded-t-sm {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem
}

.rounded-b-sm {
  border-bottom-right-radius: .25rem;
  border-bottom-left-radius: .25rem
}

.border,
.border-1 {
  border-style: var(--fc-forma-border-style);
  border-width: 1px
}

.border-4 {
  border-style: var(--fc-forma-border-style);
  border-width: 4px
}

.border-6 {
  border-style: var(--fc-forma-border-style);
  border-width: 6px
}

.border-x {
  border-inline-style: var(--fc-forma-border-style);
  border-inline-width: 1px
}

.border-s-1 {
  border-inline-start-style: var(--fc-forma-border-style);
  border-inline-start-width: 1px
}

.border-s-4 {
  border-inline-start-style: var(--fc-forma-border-style);
  border-inline-start-width: 4px
}

.border-s-6 {
  border-inline-start-style: var(--fc-forma-border-style);
  border-inline-start-width: 6px
}

.border-e,
.border-e-1 {
  border-inline-end-style: var(--fc-forma-border-style);
  border-inline-end-width: 1px
}

.border-t-1 {
  border-top-style: var(--fc-forma-border-style);
  border-top-width: 1px
}

.border-t-4 {
  border-top-style: var(--fc-forma-border-style);
  border-top-width: 4px
}

.border-b {
  border-bottom-style: var(--fc-forma-border-style);
  border-bottom-width: 1px
}

.border-dotted {
  --fc-forma-border-style: dotted;
  border-style: dotted
}

.border-\(--fc-event-color\) {
  border-color: var(--fc-event-color)
}

.border-\(--mui-palette-divider\) {
  border-color: var(--mui-palette-divider)
}

.border-\(--mui-palette-error-main\) {
  border-color: var(--mui-palette-error-main)
}

.border-\(--mui-palette-primary-main\) {
  border-color: var(--mui-palette-primary-main)
}

.border-\[rgba\(var\(--mui-palette-text-primaryChannel\)_\/_0\.2\)\] {
  border-color: rgba(var(--mui-palette-text-primaryChannel)/.2)
}

.border-\[rgba\(var\(--mui-palette-text-primaryChannel\)_\/_0\.6\)\] {
  border-color: rgba(var(--mui-palette-text-primaryChannel)/.6)
}

.border-transparent {
  border-color: #0000
}

.bg-\(--mui-palette-background-paper\) {
  background-color: var(--mui-palette-background-paper)
}

.bg-\(--mui-palette-primary-main\) {
  background-color: var(--mui-palette-primary-main)
}

.bg-\[color-mix\(in_oklab\,var\(--fc-event-color\)_15\%\,transparent\)\] {
  background-color: var(--fc-event-color)
}

@supports (color:color-mix(in lab, red, red)) {
  .bg-\[color-mix\(in_oklab\,var\(--fc-event-color\)_15\%\,transparent\)\] {
    background-color: color-mix(in oklab, var(--fc-event-color)15%, transparent)
  }
}

.bg-\[color-mix\(in_oklab\,var\(--fc-event-color\)_20\%\,var\(--mui-palette-background-paper\)\)\] {
  background-color: var(--fc-event-color)
}

@supports (color:color-mix(in lab, red, red)) {
  .bg-\[color-mix\(in_oklab\,var\(--fc-event-color\)_20\%\,var\(--mui-palette-background-paper\)\)\] {
    background-color: color-mix(in oklab, var(--fc-event-color)20%, var(--mui-palette-background-paper))
  }
}

.bg-\[color-mix\(in_oklab\,var\(--fc-event-color\)_30\%\,var\(--mui-palette-background-paper\)\)\] {
  background-color: var(--fc-event-color)
}

@supports (color:color-mix(in lab, red, red)) {
  .bg-\[color-mix\(in_oklab\,var\(--fc-event-color\)_30\%\,var\(--mui-palette-background-paper\)\)\] {
    background-color: color-mix(in oklab, var(--fc-event-color)30%, var(--mui-palette-background-paper))
  }
}

.bg-\[color-mix\(in_oklab\,var\(--mui-palette-text-primary\)_16\%\,var\(--mui-palette-background-paper\)\)\] {
  background-color: var(--mui-palette-text-primary)
}

@supports (color:color-mix(in lab, red, red)) {
  .bg-\[color-mix\(in_oklab\,var\(--mui-palette-text-primary\)_16\%\,var\(--mui-palette-background-paper\)\)\] {
    background-color: color-mix(in oklab, var(--mui-palette-text-primary)16%, var(--mui-palette-background-paper))
  }
}

.bg-\[rgba\(var\(--mui-palette-primary-mainChannel\)_\/_0\.1\)\] {
  background-color: rgba(var(--mui-palette-primary-mainChannel)/.1)
}

.bg-\[rgba\(var\(--mui-palette-text-primaryChannel\)_\/_0\.04\)\] {
  background-color: rgba(var(--mui-palette-text-primaryChannel)/.04)
}

.bg-\[rgba\(var\(--mui-palette-text-primaryChannel\)_\/_0\.08\)\] {
  background-color: rgba(var(--mui-palette-text-primaryChannel)/.08)
}

.bg-\(image\:--mui-overlays-8\) {
  background-image: var(--mui-overlays-8)
}

.p-0\.5 {
  padding: 0.125rem
}

.p-1 {
  padding: .25rem
}

.p-2 {
  padding: .5rem
}

.p-3 {
  padding: .75rem
}

.p-4 {
  padding: 1rem
}

.p-px {
  padding: 1px
}

.px-0\.5 {
  padding-inline: 0.125rem
}

.px-1 {
  padding-inline: .25rem
}

.px-2 {
  padding-inline: .5rem
}

.py-0\.5 {
  padding-block: 0.125rem
}

.py-1 {
  padding-block: .25rem
}

.py-2 {
  padding-block: .5rem
}

.py-15 {
  padding-block: 3.75rem
}

.py-\[0\.1875rem\] {
  padding-block: .1875rem
}

.py-px {
  padding-block: 1px
}

.ps-0\.5 {
  padding-inline-start: 0.125rem
}

.ps-1 {
  padding-inline-start: .25rem
}

.pt-0\.5 {
  padding-top: 0.125rem
}

.pt-1 {
  padding-top: .25rem
}

.pb-4 {
  padding-bottom: 1rem
}

.text-end {
  text-align: end
}

.text-\[0\.6875rem\]\/\[1\.090909\] {
  font-size: .6875rem;
  line-height: 1.09091
}

.text-lg {
  font-size: 1.125rem;
  line-height: calc(1.75/1.125)
}

.text-sm {
  font-size: .875rem;
  line-height: calc(1.25/.875)
}

.text-xs {
  font-size: .75rem;
  line-height: calc(1/.75)
}

.font-bold {
  font-weight: 700
}

.font-medium {
  font-weight: 500
}

.font-semibold {
  font-weight: 600
}

.text-ellipsis {
  text-overflow: ellipsis
}

.whitespace-nowrap {
  white-space: nowrap
}

.whitespace-pre {
  white-space: pre
}

.text-\(--mui-palette-action-active\) {
  color: var(--mui-palette-action-active)
}

.text-\(--mui-palette-primary-contrastText\) {
  color: var(--mui-palette-primary-contrastText)
}

.text-\(--mui-palette-text-primary\) {
  color: var(--mui-palette-text-primary)
}

.text-\[rgba\(var\(--mui-palette-text-primaryChannel\)_\/_0\.4\)\] {
  color: rgba(var(--mui-palette-text-primaryChannel)/.4)
}

.text-\[rgba\(var\(--mui-palette-text-primaryChannel\)_\/_0\.6\)\] {
  color: rgba(var(--mui-palette-text-primaryChannel)/.6)
}

.italic {
  font-style: italic
}

.opacity-50 {
  opacity: .5
}

.opacity-75 {
  opacity: .75
}

.shadow-\(--mui-shadows-8\) {
  box-shadow: var(--mui-shadows-8)
}

.shadow-lg {
  box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a
}

.ring {
  box-shadow: 0 0 0 1px var(--fc-forma-ring-color, currentcolor)
}

.ring-2 {
  box-shadow: 0 0 0 2px var(--fc-forma-ring-color, currentcolor)
}

.ring-\(--mui-palette-background-paper\) {
  --fc-forma-ring-color: var(--mui-palette-background-paper)
}

.outline {
  outline-style: solid;
  outline-width: 1px
}

.outline-3 {
  outline-style: solid;
  outline-width: 3px
}

.-outline-offset-3 {
  outline-offset: -3px
}

.outline-offset-1 {
  outline-offset: 1px
}

.outline-\(--mui-palette-primary-main\) {
  outline-color: var(--mui-palette-primary-main)
}

.not-last\:border-b:not(:last-child) {
  border-bottom-style: var(--fc-forma-border-style);
  border-bottom-width: 1px
}

@media not print {
  .not-print\:py-px {
    padding-block: 1px
  }

  .not-print\:pe-px {
    padding-inline-end: 1px
  }

  .not-print\:pt-px {
    padding-top: 1px
  }

  .not-print\:pb-px {
    padding-bottom: 1px
  }
}

@media (hover:hover) {
  .group-hover\:block:is(:where(.group):hover *) {
    display: block
  }

  .group-hover\:text-\(--mui-palette-text-primary\):is(:where(.group):hover *) {
    color: var(--mui-palette-text-primary)
  }

  .group-hover\:underline:is(:where(.group):hover *) {
    text-decoration-line: underline
  }
}

.group-focus-visible\:text-\(--mui-palette-text-primary\):is(:where(.group):focus-visible *) {
  color: var(--mui-palette-text-primary)
}

@media (hover:hover) {
  .hover\:bg-\[color-mix\(in_oklab\,var\(--fc-event-color\)_25\%\,var\(--mui-palette-background-paper\)\)\]:hover {
    background-color: var(--fc-event-color)
  }

  @supports (color:color-mix(in lab, red, red)) {
    .hover\:bg-\[color-mix\(in_oklab\,var\(--fc-event-color\)_25\%\,var\(--mui-palette-background-paper\)\)\]:hover {
      background-color: color-mix(in oklab, var(--fc-event-color)25%, var(--mui-palette-background-paper))
    }
  }

  .hover\:bg-\[color-mix\(in_oklab\,var\(--fc-event-color\)_35\%\,var\(--mui-palette-background-paper\)\)\]:hover {
    background-color: var(--fc-event-color)
  }

  @supports (color:color-mix(in lab, red, red)) {
    .hover\:bg-\[color-mix\(in_oklab\,var\(--fc-event-color\)_35\%\,var\(--mui-palette-background-paper\)\)\]:hover {
      background-color: color-mix(in oklab, var(--fc-event-color)35%, var(--mui-palette-background-paper))
    }
  }

  .hover\:bg-\[color-mix\(in_oklab\,var\(--mui-palette-text-primary\)_20\%\,var\(--mui-palette-background-paper\)\)\]:hover {
    background-color: var(--mui-palette-text-primary)
  }

  @supports (color:color-mix(in lab, red, red)) {
    .hover\:bg-\[color-mix\(in_oklab\,var\(--mui-palette-text-primary\)_20\%\,var\(--mui-palette-background-paper\)\)\]:hover {
      background-color: color-mix(in oklab, var(--mui-palette-text-primary)20%, var(--mui-palette-background-paper))
    }
  }

  .hover\:bg-\[rgba\(var\(--mui-palette-primary-mainChannel\)_\/_0\.9\)\]:hover {
    background-color: rgba(var(--mui-palette-primary-mainChannel)/.9)
  }

  .hover\:bg-\[rgba\(var\(--mui-palette-text-primaryChannel\)_\/_0\.08\)\]:hover {
    background-color: rgba(var(--mui-palette-text-primaryChannel)/.08)
  }

  .hover\:bg-\[rgba\(var\(--mui-palette-text-primaryChannel\)_\/_0\.12\)\]:hover {
    background-color: rgba(var(--mui-palette-text-primaryChannel)/.12)
  }

  .hover\:bg-\[rgba\(var\(--mui-palette-text-primaryChannel\)_\/_0\.16\)\]:hover {
    background-color: rgba(var(--mui-palette-text-primaryChannel)/.16)
  }

  .hover\:underline:hover {
    text-decoration-line: underline
  }
}

.focus-visible\:bg-\[rgba\(var\(--mui-palette-text-primaryChannel\)_\/_0\.08\)\]:focus-visible {
  background-color: rgba(var(--mui-palette-text-primaryChannel)/.08)
}

.focus-visible\:bg-\[rgba\(var\(--mui-palette-text-primaryChannel\)_\/_0\.16\)\]:focus-visible {
  background-color: rgba(var(--mui-palette-text-primaryChannel)/.16)
}

.focus-visible\:outline-3:focus-visible {
  outline-style: solid;
  outline-width: 3px
}

.active\:bg-\[color-mix\(in_oklab\,var\(--fc-event-color\)_30\%\,var\(--mui-palette-background-paper\)\)\]:active {
  background-color: var(--fc-event-color)
}

@supports (color:color-mix(in lab, red, red)) {
  .active\:bg-\[color-mix\(in_oklab\,var\(--fc-event-color\)_30\%\,var\(--mui-palette-background-paper\)\)\]:active {
    background-color: color-mix(in oklab, var(--fc-event-color)30%, var(--mui-palette-background-paper))
  }
}

.active\:bg-\[color-mix\(in_oklab\,var\(--fc-event-color\)_40\%\,var\(--mui-palette-background-paper\)\)\]:active {
  background-color: var(--fc-event-color)
}

@supports (color:color-mix(in lab, red, red)) {
  .active\:bg-\[color-mix\(in_oklab\,var\(--fc-event-color\)_40\%\,var\(--mui-palette-background-paper\)\)\]:active {
    background-color: color-mix(in oklab, var(--fc-event-color)40%, var(--mui-palette-background-paper))
  }
}

.active\:bg-\[color-mix\(in_oklab\,var\(--mui-palette-text-primary\)_25\%\,var\(--mui-palette-background-paper\)\)\]:active {
  background-color: var(--mui-palette-text-primary)
}

@supports (color:color-mix(in lab, red, red)) {
  .active\:bg-\[color-mix\(in_oklab\,var\(--mui-palette-text-primary\)_25\%\,var\(--mui-palette-background-paper\)\)\]:active {
    background-color: color-mix(in oklab, var(--mui-palette-text-primary)25%, var(--mui-palette-background-paper))
  }
}

.active\:bg-\[rgba\(var\(--mui-palette-primary-mainChannel\)_\/_0\.8\)\]:active {
  background-color: rgba(var(--mui-palette-primary-mainChannel)/.8)
}

.active\:bg-\[rgba\(var\(--mui-palette-text-primaryChannel\)_\/_0\.08\)\]:active {
  background-color: rgba(var(--mui-palette-text-primaryChannel)/.08)
}

.active\:bg-\[rgba\(var\(--mui-palette-text-primaryChannel\)_\/_0\.16\)\]:active {
  background-color: rgba(var(--mui-palette-text-primaryChannel)/.16)
}

.active\:bg-\[rgba\(var\(--mui-palette-text-primaryChannel\)_\/_0\.2\)\]:active {
  background-color: rgba(var(--mui-palette-text-primaryChannel)/.2)
}

@media print {
  .print\:border-y {
    border-block-style: var(--fc-forma-border-style);
    border-block-width: 1px
  }

  .print\:border-e {
    border-inline-end-style: var(--fc-forma-border-style);
    border-inline-end-width: 1px
  }

  .print\:border-t {
    border-top-style: var(--fc-forma-border-style);
    border-top-width: 1px
  }

  .print\:border-b {
    border-bottom-style: var(--fc-forma-border-style);
    border-bottom-width: 1px
  }

  .print\:border-black {
    border-color: #000
  }

  .print\:bg-white {
    background-color: #fff
  }
}

[dir=rtl] .\[\[dir\=rtl\]_\&\]\:-rotate-45 {
  rotate: -45deg
}

[dir=rtl] .\[\[dir\=rtl\]_\&\]\:rotate-45 {
  rotate: 45deg
}

[dir=rtl] .\[\[dir\=rtl\]_\&\]\:rotate-90 {
  rotate: 90deg
}

[dir=rtl] .\[\[dir\=rtl\]_\&\]\:rotate-180 {
  rotate: 180deg
}
