
/*
TODO figure out how to do button group
  make bg slightly muted
  don't have any borders between buttons (make transparent)
  hover color will look weird unless buttons go to edges of group container
    so, revive having buttons own their own borders

after doing all this,
  does it look good to have same dimness on header (and timegrid axis)?

DARK-MODE:
  Why does dark mode have blue tint?
  TODO: look at why Classic theme in dark mode seems really blue too

  FIRST,
    Look at all dark-mode calendars in Notion

  should all calendar in dark mode have raised gray bg?
    https://themeforest.net/item/arion-admin-dashboard-ui-kit-sketch-template/23432569
    (whereas light mode is always white)

NOTICE: many of these colors are rgbA

TODO: use these colors!!!
   --card: oklch(1 0 0);
   --card-foreground: oklch(0.145 0 0);
   --popover: oklch(1 0 0);
   --popover-foreground: oklch(0.145 0 0);

can maybe remove some dark-mode colors. repeat of what's in light mode
*/

:root {
  --fc-pulse-background: #fff;

  --fc-pulse-strong: color-mix(in oklab, var(--color-black) 12%, transparent); /* TODO */
  --fc-pulse-strong-hover: color-mix(in oklab, var(--color-black) 16%, transparent); /* TODO */
  --fc-pulse-strong-active: color-mix(in oklab, var(--color-black) 20%, transparent); /* TODO */
  --fc-pulse-muted: color-mix(in oklab, var(--color-black) 7%, transparent); /* TODO */
  --fc-pulse-faint: color-mix(in oklab, var(--color-black) 3%, transparent); /* TODO */
  --fc-pulse-highlight: color-mix(in oklab, var(--color-cyan-100) 40%, transparent);
  --fc-pulse-now: red; /* TODO: better */

  --fc-pulse-foreground: #374151;
  --fc-pulse-muted-foreground: #6b7280;
  --fc-pulse-strong-foreground: #1f2937;

  --fc-pulse-border: #e5e7eb;
  --fc-pulse-strong-border: #d5d5d6;
  --fc-pulse-view-border: #e4e4e5;

  --fc-pulse-tab: #eeeeef;
  --fc-pulse-tab-hover: #f3f4f6;
  --fc-pulse-tab-selected: #fff;

  --fc-pulse-secondary-icon: #9ca3af;
}
[data-color-scheme=dark] {
  --fc-pulse-background: var(--color-gray-950);

  --fc-pulse-strong: color-mix(in oklab, var(--color-white) 12%, transparent); /* TODO */
  --fc-pulse-strong-hover: color-mix(in oklab, var(--color-white) 16%, transparent); /* TODO */
  --fc-pulse-strong-active: color-mix(in oklab, var(--color-white) 20%, transparent); /* TODO */
  --fc-pulse-muted: color-mix(in oklab, var(--color-white) 7%, transparent); /* TODO */
  --fc-pulse-faint: color-mix(in oklab, var(--color-white) 3%, transparent); /* TODO */
  --fc-pulse-highlight: color-mix(in oklab, var(--color-blue-500) 20%, transparent);
  --fc-pulse-now: red; /* TODO: better */

  --fc-pulse-foreground: #a0aec0;
  --fc-pulse-muted-foreground: #718096;
  --fc-pulse-strong-foreground: #cbd5e0;

  --fc-pulse-border: #1a202c;
  --fc-pulse-strong-border: #4a5568;
  --fc-pulse-view-border: #2d3748;

  --fc-pulse-tab: var(--fc-pulse-strong);
  --fc-pulse-tab-hover: #7e8aa0;
  --fc-pulse-tab-selected: #505b70;

  --fc-pulse-secondary-icon: #4a5568;
}

[data-palette=red] {
  --fc-pulse-primary: #d32d50; /* slightly darker than "today" color */
  --fc-pulse-primary-foreground: #fff;
  --fc-pulse-primary-hover: color-mix(in oklab, var(--fc-pulse-primary) 90%, white);
  --fc-pulse-primary-active: color-mix(in oklab, var(--fc-pulse-primary) 80%, white);

  --fc-pulse-today: #fd453b;
  --fc-pulse-today-hover: color-mix(in oklab, var(--fc-pulse-today) 90%, black);
  --fc-pulse-today-active: color-mix(in oklab, var(--fc-pulse-today) 80%, black);
  --fc-pulse-today-foreground: #fff;

  --fc-pulse-event: #631515;
  --fc-pulse-event-contrast: #fff;
}
[data-palette=red][data-color-scheme=dark] {
  --fc-pulse-today: #fd4539;
  --fc-pulse-today-hover: color-mix(in oklab, var(--fc-pulse-today) 90%, black);
  --fc-pulse-today-active: color-mix(in oklab, var(--fc-pulse-today) 80%, black);
}

[data-palette=blue] {
  --fc-pulse-primary: #117aff;
  --fc-pulse-primary-foreground: #fff;
  --fc-pulse-primary-hover: color-mix(in oklab, var(--fc-pulse-primary) 90%, white);
  --fc-pulse-primary-active: color-mix(in oklab, var(--fc-pulse-primary) 80%, white);

  --fc-pulse-today: var(--fc-pulse-primary);
  --fc-pulse-today-hover: color-mix(in oklab, var(--fc-pulse-today) 90%, white);
  --fc-pulse-today-active: color-mix(in oklab, var(--fc-pulse-today) 80%, white);
  --fc-pulse-today-foreground: var(--fc-pulse-primary-foreground);

  --fc-pulse-event: #012e66;
  --fc-pulse-event-contrast: #fff;
}
[data-palette=blue][data-color-scheme=dark] {
  --fc-pulse-today: #1284ff;
  --fc-pulse-today-hover: color-mix(in oklab, var(--fc-pulse-today) 90%, white);
  --fc-pulse-today-active: color-mix(in oklab, var(--fc-pulse-today) 80%, white);
}

[data-palette=purple] {
  --fc-pulse-primary: #ad46ff;
  --fc-pulse-primary-foreground: #fff;
  --fc-pulse-primary-hover: color-mix(in oklab, var(--fc-pulse-primary) 90%, white);
  --fc-pulse-primary-active: color-mix(in oklab, var(--fc-pulse-primary) 80%, white);

  --fc-pulse-today: var(--fc-pulse-primary);
  --fc-pulse-today-hover: color-mix(in oklab, var(--fc-pulse-today) 90%, white);
  --fc-pulse-today-active: color-mix(in oklab, var(--fc-pulse-today) 80%, white);
  --fc-pulse-today-foreground: var(--fc-pulse-primary-foreground);

  --fc-pulse-event: #430575;
  --fc-pulse-event-contrast: #fff;
}

[data-palette=green] {
  --fc-pulse-primary: #26a546; /* slightly darker than "today" color */
  --fc-pulse-primary-foreground: #fff;
  --fc-pulse-primary-hover: color-mix(in oklab, var(--fc-pulse-primary) 90%, white);
  --fc-pulse-primary-active: color-mix(in oklab, var(--fc-pulse-primary) 80%, white);

  --fc-pulse-today: #34c759;
  --fc-pulse-today-hover: color-mix(in oklab, var(--fc-pulse-today) 90%, white);
  --fc-pulse-today-active: color-mix(in oklab, var(--fc-pulse-today) 80%, white);
  --fc-pulse-today-foreground: #fff;

  --fc-pulse-event: #084b19;
  --fc-pulse-event-contrast: #fff;
}
[data-palette=green][data-color-scheme=dark] {
  --fc-pulse-today: #30d157;
  --fc-pulse-today-hover: color-mix(in oklab, var(--fc-pulse-today) 90%, white);
  --fc-pulse-today-active: color-mix(in oklab, var(--fc-pulse-today) 80%, white);
}
