
:root {
  --fc-pulse-canvas-color: #fff;
  --fc-pulse-border0: #e5e7eb;
  --fc-pulse-border1: #e4e4e5;
  --fc-pulse-border2: #d5d5d6;
  --fc-pulse-muted-bg0: #f6f6f6;
  --fc-pulse-muted-bg1: #eeeeef;
  --fc-pulse-muted-bg2: #e5e5e6;
  --fc-pulse-text-color0: #9ca3af;
  --fc-pulse-text-color1: #6b7280;
  --fc-pulse-text-color2: #374151;
  --fc-pulse-text-color3: #1f2937;
  --fc-pulse-control-color: #ffffff;
  --fc-pulse-control-hover-color: #f3f4f6;
  --fc-pulse-icon-color: #9ca3af;
}
[data-color-scheme=dark] {
  --fc-pulse-canvas-color: oklch(0.13 0.028 261.692);
  --fc-pulse-border0: #1a202c;
  --fc-pulse-border1: #2d3748;
  --fc-pulse-border2: #4a5568;
  --fc-pulse-muted-bg0: #0f1419;
  --fc-pulse-muted-bg1: #1a202c;
  --fc-pulse-muted-bg2: #2d3748;
  --fc-pulse-text-color0: #4a5568;
  --fc-pulse-text-color1: #718096;
  --fc-pulse-text-color2: #a0aec0;
  --fc-pulse-text-color3: #cbd5e0;
  --fc-pulse-control-color: #1a202c;
  --fc-pulse-control-hover-color: #2d3748;
  --fc-pulse-icon-color: #4a5568;
}

[data-palette=red] {
  --fc-pulse-primary-color: #d32d50; /* custom */
  --fc-pulse-primary-text-color: #fff;
  --fc-pulse-today-color: #fd453b;
  --fc-pulse-today-text-color: #fff;
  --fc-pulse-event-color: #631515;
  --fc-pulse-event-contrast-color: #fff;
}
[data-palette=red][data-color-scheme=dark] {
  --fc-pulse-today-color: #fd4539;
}

[data-palette=blue] {
  --fc-pulse-primary-color: #117aff;
  --fc-pulse-primary-text-color: #fff;
  --fc-pulse-today-color: #117aff;
  --fc-pulse-today-text-color: #fff;
  --fc-pulse-event-color: #012e66;
  --fc-pulse-event-contrast-color: #fff;
}
[data-palette=blue][data-color-scheme=dark] {
  --fc-pulse-today-color: #1284ff
}

[data-palette=purple] {
  --fc-pulse-primary-color: #ad46ff;
  --fc-pulse-primary-text-color: #fff;
  --fc-pulse-today-color: #ad46ff;
  --fc-pulse-today-text-color: #fff;
  --fc-pulse-event-color: #430575;
  --fc-pulse-event-contrast-color: #fff;
}
[data-palette=purple][data-color-scheme=dark] {
}

[data-palette=green] {
  --fc-pulse-primary-color: #26a546;
  --fc-pulse-primary-text-color: #fff;
  --fc-pulse-today-color: #34c759;
  --fc-pulse-today-text-color: #fff;
  --fc-pulse-event-color: #084b19;
  --fc-pulse-event-contrast-color: #fff;
}
[data-palette=green][data-color-scheme=dark] {
  --fc-pulse-today-color: #30d157;
}
