
/*
TODO figure out how to do button group
  make bg slightly muted
  don't have any borders between buttons (make transparent)
  hover color will look weird unless buttons go to edges of group container
    so, revive having buttons own their own borders

after doing all this,
  does it look good to have same dimness on header (and timegrid axis)?

DARK-MODE:
  Why does dark mode have blue tint?
  TODO: look at why Classic theme in dark mode seems really blue too

  FIRST,
    Look at all dark-mode calendars in Notion

  should all calendar in dark mode have raised gray bg?
    https://themeforest.net/item/arion-admin-dashboard-ui-kit-sketch-template/23432569
    (whereas light mode is always white)

NOTICE: many of these colors are rgbA

TODO: use these colors!!!
   --card: oklch(1 0 0);
   --card-foreground: oklch(0.145 0 0);
   --popover: oklch(1 0 0);
   --popover-foreground: oklch(0.145 0 0);

can maybe remove some dark-mode colors. repeat of what's in light mode
*/

:root {
  /* primary */

  /* secondary */
  --fc-pulse-secondary: var(--fc-pulse-background);
  --fc-pulse-secondary-over: var(--fc-pulse-faint);
  --fc-pulse-secondary-down: var(--fc-pulse-muted);
  --fc-pulse-secondary-icon: var(--fc-pulse-faint-foreground);
  --fc-pulse-secondary-icon-over: var(--fc-pulse-muted-foreground);

  /* tertiary */

  /* calendar content */
  --fc-pulse-background-event: var(--color-green-500); /* TODO */
  --fc-pulse-highlight: color-mix(in oklab, var(--color-cyan-100) 40%, transparent);
  --fc-pulse-now: red; /* TODO */

  /* controls */
  --fc-pulse-unselected: var(--fc-pulse-muted);
  --fc-pulse-unselected-foreground: var(--fc-pulse-foreground);
  --fc-pulse-selected: var(--fc-pulse-background);
  --fc-pulse-selected-foreground: var(--fc-pulse-foreground);

  /* neutral backgrounds */
  --fc-pulse-background: #fff;
  --fc-pulse-faint: color-mix(in oklab, var(--color-black) 3%, transparent); /* TODO */
  --fc-pulse-muted: color-mix(in oklab, var(--color-black) 7%, transparent); /* TODO */
  --fc-pulse-strong: color-mix(in oklab, var(--color-black) 12%, transparent); /* TODO */
  --fc-pulse-stronger: color-mix(in oklab, var(--color-black) 16%, transparent); /* TODO */
  --fc-pulse-strongest: color-mix(in oklab, var(--color-black) 20%, transparent); /* TODO */

  /* neutral foregrounds */
  --fc-pulse-foreground: #374151;
  --fc-pulse-muted-foreground: #6b7280;
  --fc-pulse-faint-foreground: #9ca3af;
  --fc-pulse-strong-foreground: #1f2937;

  /* neutral borders */
  --fc-pulse-border: #e5e7eb;
  --fc-pulse-strong-border: #d5d5d6;
}
[data-color-scheme=dark] {
  /* primary */

  /* secondary */
  --fc-pulse-secondary: var(--fc-pulse-muted);
  --fc-pulse-secondary-over: var(--fc-pulse-strong);
  --fc-pulse-secondary-down: var(--fc-pulse-stronger);
  --fc-pulse-secondary-icon: var(--fc-pulse-muted-foreground);
  --fc-pulse-secondary-icon-over: var(--fc-pulse-strong-foreground);

  /* calendar content */
  --fc-pulse-highlight: color-mix(in oklab, var(--color-blue-500) 20%, transparent);
  --fc-pulse-now: red; /* TODO */

  /* controls */
  --fc-pulse-unselected: var(--fc-pulse-muted);
  --fc-pulse-unselected-foreground: var(--fc-pulse-muted-foreground);
  --fc-pulse-selected: var(--fc-pulse-strong);
  --fc-pulse-selected-foreground: var(--fc-pulse-foreground);

  /* neutral backgrounds */
  --fc-pulse-background: var(--color-gray-950);
  --fc-pulse-faint: color-mix(in oklab, var(--color-white) 3%, transparent); /* TODO */
  --fc-pulse-muted: color-mix(in oklab, var(--color-white) 7%, transparent); /* TODO */
  --fc-pulse-strong: color-mix(in oklab, var(--color-white) 12%, transparent); /* TODO */
  --fc-pulse-stronger: color-mix(in oklab, var(--color-white) 16%, transparent); /* TODO */
  --fc-pulse-strongest: color-mix(in oklab, var(--color-white) 20%, transparent); /* TODO */

  /* neutral foregrounds */
  --fc-pulse-foreground: #a0aec0;
  --fc-pulse-faint-foreground: #4a5568;
  --fc-pulse-muted-foreground: #718096;
  --fc-pulse-strong-foreground: #cbd5e0;

  /* neutral borders */
  --fc-pulse-border: #1a202c;
  --fc-pulse-strong-border: #4a5568;
}

[data-palette=red] {
  /* primary */
  --fc-pulse-primary: #d32d50;
  --fc-pulse-primary-over: color-mix(in oklab, var(--fc-pulse-primary) 90%, white);
  --fc-pulse-primary-down: color-mix(in oklab, var(--fc-pulse-primary) 80%, white);
  --fc-pulse-primary-foreground: #fff;

  /* tertiary */
  --fc-pulse-tertiary: #fd453b; /* slightly lighter than primary */
  --fc-pulse-tertiary-over: color-mix(in oklab, var(--fc-pulse-tertiary) 90%, black);
  --fc-pulse-tertiary-down: color-mix(in oklab, var(--fc-pulse-tertiary) 80%, black);
  --fc-pulse-tertiary-foreground: #fff;

  /* calendar content */
  --fc-pulse-event: #631515;
  --fc-pulse-event-contrast: #fff;
}
[data-palette=red][data-color-scheme=dark] {
  /* tertiary */
  --fc-pulse-tertiary: #fd4539; /* slightly lighter than primary */
  --fc-pulse-tertiary-over: color-mix(in oklab, var(--fc-pulse-tertiary) 90%, black);
  --fc-pulse-tertiary-down: color-mix(in oklab, var(--fc-pulse-tertiary) 80%, black);
}

[data-palette=blue] {
  /* primary */
  --fc-pulse-primary: #117aff;
  --fc-pulse-primary-over: color-mix(in oklab, var(--fc-pulse-primary) 90%, white);
  --fc-pulse-primary-down: color-mix(in oklab, var(--fc-pulse-primary) 80%, white);
  --fc-pulse-primary-foreground: #fff;

  /* tertiary */
  --fc-pulse-tertiary: var(--fc-pulse-primary);
  --fc-pulse-tertiary-over: color-mix(in oklab, var(--fc-pulse-tertiary) 90%, white);
  --fc-pulse-tertiary-down: color-mix(in oklab, var(--fc-pulse-tertiary) 80%, white);
  --fc-pulse-tertiary-foreground: var(--fc-pulse-primary-foreground);

  /* calendar content */
  --fc-pulse-event: #012e66;
  --fc-pulse-event-contrast: #fff;
}
[data-palette=blue][data-color-scheme=dark] {
  /* tertiary */
  --fc-pulse-tertiary: #1284ff; /* slightly lighter than primary */
  --fc-pulse-tertiary-over: color-mix(in oklab, var(--fc-pulse-tertiary) 90%, white);
  --fc-pulse-tertiary-down: color-mix(in oklab, var(--fc-pulse-tertiary) 80%, white);
}

[data-palette=purple] {
  /* primary */
  --fc-pulse-primary: #ad46ff;
  --fc-pulse-primary-over: color-mix(in oklab, var(--fc-pulse-primary) 90%, white);
  --fc-pulse-primary-down: color-mix(in oklab, var(--fc-pulse-primary) 80%, white);
  --fc-pulse-primary-foreground: #fff;

  /* tertiary */
  --fc-pulse-tertiary: var(--fc-pulse-primary);
  --fc-pulse-tertiary-over: color-mix(in oklab, var(--fc-pulse-tertiary) 90%, white);
  --fc-pulse-tertiary-down: color-mix(in oklab, var(--fc-pulse-tertiary) 80%, white);
  --fc-pulse-tertiary-foreground: var(--fc-pulse-primary-foreground);

  /* calendar content */
  --fc-pulse-event: #430575;
  --fc-pulse-event-contrast: #fff;
}

[data-palette=green] {
  /* primary */
  --fc-pulse-primary: #26a546;
  --fc-pulse-primary-over: color-mix(in oklab, var(--fc-pulse-primary) 90%, white);
  --fc-pulse-primary-down: color-mix(in oklab, var(--fc-pulse-primary) 80%, white);
  --fc-pulse-primary-foreground: #fff;

  /* tertiary */
  --fc-pulse-tertiary: #34c759; /* slightly lighter than primary */
  --fc-pulse-tertiary-over: color-mix(in oklab, var(--fc-pulse-tertiary) 90%, white);
  --fc-pulse-tertiary-down: color-mix(in oklab, var(--fc-pulse-tertiary) 80%, white);
  --fc-pulse-tertiary-foreground: #fff;

  /* calendar content */
  --fc-pulse-event: #084b19;
  --fc-pulse-event-contrast: #fff;
}
[data-palette=green][data-color-scheme=dark] {
  /* tertiary */
  --fc-pulse-tertiary: #30d157; /* slightly lighter than primary */
  --fc-pulse-tertiary-over: color-mix(in oklab, var(--fc-pulse-tertiary) 90%, white);
  --fc-pulse-tertiary-down: color-mix(in oklab, var(--fc-pulse-tertiary) 80%, white);
}
