
/*
NOTE: apply this to calendar root AND popover
*/
.reset-root {
  line-height: 1.5;
  --fc-breezy-border-style: solid;
}

/*
NOTE: apply this to buttonClass and popoverCloseClass
*/
.button-reset {
  appearance: button;
  font: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  letter-spacing: inherit;
  color: inherit;
  opacity: 1;
  background-color: #0000;
  border-radius: 0;
  border: 0
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.inset-x-0 {
  inset-inline: 0
}

.inset-y-0 {
  inset-block: 0
}

.-start-1 {
  inset-inline-start: -0.25rem
}

.-start-4 {
  inset-inline-start: -1rem
}

.-end-1 {
  inset-inline-end: -0.25rem
}

.end-0 {
  inset-inline-end: 0
}

.end-2 {
  inset-inline-end: 0.5rem
}

.end-\[-3px\] {
  inset-inline-end: -3px
}

.-top-1 {
  top: -0.25rem
}

.-top-3\.5 {
  top: -0.875rem
}

.-top-4 {
  top: -1rem
}

.top-0 {
  top: 0
}

.top-1\/2 {
  top: 50%
}

.top-2 {
  top: 0.5rem
}

.-bottom-1 {
  bottom: -0.25rem
}

.left-1\/2 {
  left: 50%
}

.order-1 {
  order: 1
}

.-m-\[6px\] {
  margin: -6px
}

.-m-px {
  margin: -1px
}

.m-1 {
  margin: 0.25rem
}

.m-1\.5 {
  margin: 0.375rem
}

.m-2 {
  margin: 0.5rem
}

.m-4 {
  margin: 1rem
}

.-mx-2 {
  margin-inline: -0.5rem
}

.mx-0\.5 {
  margin-inline: 0.125rem
}

.mx-1 {
  margin-inline: 0.25rem
}

.mx-2 {
  margin-inline: 0.5rem
}

.mx-auto {
  margin-inline: auto
}

.mx-px {
  margin-inline: 1px
}

.my-0\.5 {
  margin-block: 0.125rem
}

.my-1 {
  margin-block: 0.25rem
}

.my-2 {
  margin-block: 0.5rem
}

.my-3 {
  margin-block: 0.75rem
}

.my-4 {
  margin-block: 1rem
}

.my-10 {
  margin-block: 2.5rem
}

.my-px {
  margin-block: 1px
}

.ms-0\.5 {
  margin-inline-start: 0.125rem
}

.ms-1 {
  margin-inline-start: 0.25rem
}

.ms-px {
  margin-inline-start: 1px
}

.-me-1\.5 {
  margin-inline-end: -0.375rem
}

.me-0\.5 {
  margin-inline-end: 0.125rem
}

.me-1 {
  margin-inline-end: 0.25rem
}

.me-px {
  margin-inline-end: 1px
}

.-mt-1 {
  margin-top: -0.25rem
}

.mt-1 {
  margin-top: 0.25rem
}

.mt-px {
  margin-top: 1px
}

.mb-1 {
  margin-bottom: 0.25rem
}

.mb-px {
  margin-bottom: 1px
}

.-ml-1 {
  margin-left: -0.25rem
}

.block {
  display: block
}

.flex {
  display: flex
}

.grid {
  display: grid
}

.hidden {
  display: none
}

.size-0 {
  width: 0;
  height: 0
}

.size-2 {
  width: 0.5rem;
  height: 0.5rem
}

.size-5 {
  width: 1.25rem;
  height: 1.25rem
}

.size-6 {
  width: 1.5rem;
  height: 1.5rem
}

.size-8 {
  width: 2rem;
  height: 2rem
}

.h-2 {
  height: 0.5rem
}

.h-5 {
  height: 1.25rem
}

.h-6 {
  height: 1.5rem
}

.h-8 {
  height: 2rem
}

.min-h-0\.5 {
  min-height: 0.125rem
}

.min-h-1 {
  min-height: 0.25rem
}

.min-h-3 {
  min-height: 0.75rem
}

.min-h-px {
  min-height: 1px
}

.w-1\/2 {
  width: 50%
}

.w-1\/4 {
  width: 25%
}

.w-2 {
  width: 0.5rem
}

.w-5 {
  width: 1.25rem
}

.w-6 {
  width: 1.5rem
}

.w-\[5px\] {
  width: 5px
}

.w-full {
  width: 100%
}

.max-w-50 {
  max-width: 12.5rem
}

.max-w-218 {
  max-width: 54.5rem
}

.min-w-0 {
  min-width: 0
}

.min-w-55 {
  min-width: 13.75rem
}

.shrink-0 {
  flex-shrink: 0
}

.shrink-1 {
  flex-shrink: 1
}

.shrink-100 {
  flex-shrink: 100
}

.grow {
  flex-grow: 1
}

.-rotate-90 {
  rotate: -90deg
}

.rotate-90 {
  rotate: 90deg
}

.rotate-180 {
  rotate: 180deg
}

.flex-col {
  flex-direction: column
}

.flex-row {
  flex-direction: row
}

.flex-wrap {
  flex-wrap: wrap
}

.items-center {
  align-items: center
}

.items-start {
  align-items: flex-start
}

.justify-between {
  justify-content: space-between
}

.justify-center {
  justify-content: center
}

.justify-end {
  justify-content: flex-end
}

.gap-1 {
  gap: 0.25rem
}

.gap-2 {
  gap: 0.5rem
}

.gap-3 {
  gap: 0.75rem
}

.gap-4 {
  gap: 1rem
}

.self-start {
  align-self: flex-start
}

.overflow-hidden {
  overflow: hidden
}

.rounded-full {
  border-radius: 3.40282e38px
}

.rounded-lg {
  border-radius: .5rem
}

.rounded-md {
  border-radius: .375rem
}

.rounded-sm {
  border-radius: .25rem
}

.rounded-s-md {
  border-start-start-radius: .375rem;
  border-end-start-radius: .375rem
}

.rounded-s-sm {
  border-start-start-radius: .25rem;
  border-end-start-radius: .25rem
}

.rounded-e-md {
  border-start-end-radius: .375rem;
  border-end-end-radius: .375rem
}

.rounded-e-sm {
  border-start-end-radius: .25rem;
  border-end-end-radius: .25rem
}

.rounded-es-md {
  border-end-start-radius: .375rem
}

.rounded-t-lg {
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem
}

.rounded-b-lg {
  border-bottom-right-radius: .5rem;
  border-bottom-left-radius: .5rem
}

.border,
.border-1 {
  border-style: var(--fc-breezy-border-style);
  border-width: 1px
}

.border-4 {
  border-style: var(--fc-breezy-border-style);
  border-width: 4px
}

.border-6 {
  border-style: var(--fc-breezy-border-style);
  border-width: 6px
}

.border-x {
  border-inline-style: var(--fc-breezy-border-style);
  border-inline-width: 1px
}

.border-y {
  border-block-style: var(--fc-breezy-border-style);
  border-block-width: 1px
}

.border-s {
  border-inline-start-style: var(--fc-breezy-border-style);
  border-inline-start-width: 1px
}

.border-e {
  border-inline-end-style: var(--fc-breezy-border-style);
  border-inline-end-width: 1px
}

.border-t {
  border-top-style: var(--fc-breezy-border-style);
  border-top-width: 1px
}

.border-b {
  border-bottom-style: var(--fc-breezy-border-style);
  border-bottom-width: 1px
}

.border-dotted {
  --fc-breezy-border-style: dotted;
  border-style: dotted
}

.border-\(--fc-breezy-border\) {
  border-color: var(--fc-breezy-border)
}

.border-\(--fc-breezy-muted-border\) {
  border-color: var(--fc-breezy-muted-border)
}

.border-\(--fc-breezy-now\) {
  border-color: var(--fc-breezy-now)
}

.border-\(--fc-breezy-popover-border\) {
  border-color: var(--fc-breezy-popover-border)
}

.border-\(--fc-breezy-primary\) {
  border-color: var(--fc-breezy-primary)
}

.border-\(--fc-breezy-secondary-border\) {
  border-color: var(--fc-breezy-secondary-border)
}

.border-\(--fc-breezy-strong-border\) {
  border-color: var(--fc-breezy-strong-border)
}

.border-\(--fc-event-color\) {
  border-color: var(--fc-event-color)
}

.border-transparent {
  border-color: #0000
}

.border-s-\(--fc-breezy-border\) {
  border-inline-start-color: var(--fc-breezy-border)
}

.border-b-\(--fc-breezy-strong-border\) {
  border-bottom-color: var(--fc-breezy-strong-border)
}

.bg-\(--fc-breezy-background\) {
  background-color: var(--fc-breezy-background)
}

.bg-\(--fc-breezy-faint\) {
  background-color: var(--fc-breezy-faint)
}

.bg-\(--fc-breezy-highlight\) {
  background-color: var(--fc-breezy-highlight)
}

.bg-\(--fc-breezy-muted\) {
  background-color: var(--fc-breezy-muted)
}

.bg-\(--fc-breezy-popover\) {
  background-color: var(--fc-breezy-popover)
}

.bg-\(--fc-breezy-primary\) {
  background-color: var(--fc-breezy-primary)
}

.bg-\(--fc-breezy-secondary\) {
  background-color: var(--fc-breezy-secondary)
}

.bg-\(--fc-breezy-selected\) {
  background-color: var(--fc-breezy-selected)
}

.bg-\[color-mix\(in_oklab\,var\(--fc-event-color\)_15\%\,transparent\)\] {
  background-color: var(--fc-event-color)
}

@supports (color:color-mix(in lab, red, red)) {
  .bg-\[color-mix\(in_oklab\,var\(--fc-event-color\)_15\%\,transparent\)\] {
    background-color: color-mix(in oklab, var(--fc-event-color)15%, transparent)
  }
}

.bg-\[color-mix\(in_oklab\,var\(--fc-event-color\)_20\%\,var\(--fc-breezy-background\)\)\] {
  background-color: var(--fc-event-color)
}

@supports (color:color-mix(in lab, red, red)) {
  .bg-\[color-mix\(in_oklab\,var\(--fc-event-color\)_20\%\,var\(--fc-breezy-background\)\)\] {
    background-color: color-mix(in oklab, var(--fc-event-color)20%, var(--fc-breezy-background))
  }
}

.p-0\.5 {
  padding: 0.125rem
}

.p-1 {
  padding: 0.25rem
}

.p-1\.5 {
  padding: 0.375rem
}

.p-2 {
  padding: 0.5rem
}

.p-3 {
  padding: 0.75rem
}

.p-4 {
  padding: 1rem
}

.p-px {
  padding: 1px
}

.px-0\.5 {
  padding-inline: 0.125rem
}

.px-1 {
  padding-inline: 0.25rem
}

.px-1\.5 {
  padding-inline: 0.375rem
}

.px-2 {
  padding-inline: 0.5rem
}

.px-3 {
  padding-inline: 0.75rem
}

.px-4 {
  padding-inline: 1rem
}

.px-px {
  padding-inline: 1px
}

.py-0\.5 {
  padding-block: 0.125rem
}

.py-1 {
  padding-block: 0.25rem
}

.py-2 {
  padding-block: 0.5rem
}

.py-3\.5 {
  padding-block: 0.875rem
}

.py-4 {
  padding-block: 1rem
}

.py-15 {
  padding-block: 3.75rem
}

.py-px {
  padding-block: 1px
}

.ps-0\.5 {
  padding-inline-start: 0.125rem
}

.ps-1 {
  padding-inline-start: 0.25rem
}

.pt-0\.5 {
  padding-top: 0.125rem
}

.pt-1 {
  padding-top: 0.25rem
}

.pb-1 {
  padding-bottom: 0.25rem
}

.text-\[0\.6875rem\]\/\[1\.090909\] {
  font-size: .6875rem;
  line-height: 1.09091
}

.text-lg {
  font-size: 1.125rem;
  line-height: calc(1.75/1.125)
}

.text-base {
  font-size: 1rem;
  line-height: calc(1.5/1)
}

.text-sm {
  font-size: .875rem;
  line-height: calc(1.25/.875)
}

.text-xs {
  font-size: .75rem;
  line-height: calc(1/.75)
}

.font-bold {
  font-weight: 700
}

.font-medium {
  font-weight: 500
}

.font-semibold {
  font-weight: 600
}

.text-ellipsis {
  text-overflow: ellipsis
}

.whitespace-nowrap {
  white-space: nowrap
}

.whitespace-pre {
  white-space: pre
}

.text-\(--fc-breezy-faint-foreground\) {
  color: var(--fc-breezy-faint-foreground)
}

.text-\(--fc-breezy-foreground\) {
  color: var(--fc-breezy-foreground)
}

.text-\(--fc-breezy-muted-foreground\) {
  color: var(--fc-breezy-muted-foreground)
}

.text-\(--fc-breezy-primary-foreground\) {
  color: var(--fc-breezy-primary-foreground)
}

.text-\(--fc-breezy-secondary-foreground\) {
  color: var(--fc-breezy-secondary-foreground)
}

.text-\(--fc-breezy-secondary-icon\) {
  color: var(--fc-breezy-secondary-icon)
}

.text-\(--fc-breezy-strong-foreground\) {
  color: var(--fc-breezy-strong-foreground)
}

.text-\[color-mix\(in_oklab\,var\(--fc-event-color\)_50\%\,var\(--fc-breezy-foreground\)\)\] {
  color: var(--fc-event-color)
}

@supports (color:color-mix(in lab, red, red)) {
  .text-\[color-mix\(in_oklab\,var\(--fc-event-color\)_50\%\,var\(--fc-breezy-foreground\)\)\] {
    color: color-mix(in oklab, var(--fc-event-color)50%, var(--fc-breezy-foreground))
  }
}

.uppercase {
  text-transform: uppercase
}

.italic {
  font-style: italic
}

.opacity-50 {
  opacity: .5
}

.opacity-75 {
  opacity: .75
}

.shadow-lg {
  box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a
}

.shadow-md {
  box-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -2px #0000001a
}

.shadow-sm {
  box-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a
}

.shadow-xs {
  box-shadow: 0 1px 2px 0 #0000000d
}

.ring {
  box-shadow: 0 0 0 1px var(--fc-breezy-ring-color, currentcolor)
}

.ring-2 {
  box-shadow: 0 0 0 2px var(--fc-breezy-ring-color, currentcolor)
}

.ring-\(--fc-breezy-background\) {
  --fc-breezy-ring-color: var(--fc-breezy-background)
}

.outline {
  outline-style: solid;
  outline-width: 1px
}

.outline-2 {
  outline-style: solid;
  outline-width: 2px
}

.-outline-offset-1 {
  outline-offset: -1px
}

.outline-offset-2 {
  outline-offset: 2px
}

.outline-\(--fc-breezy-primary\) {
  outline-color: var(--fc-breezy-primary)
}

.outline-none {
  outline-style: none !important /* HACK */
}

.\[background\:linear-gradient\(var\(--fc-breezy-strong\)\,var\(--fc-breezy-strong\)\)_var\(--fc-breezy-background\)\] {
  background: linear-gradient(var(--fc-breezy-strong), var(--fc-breezy-strong))var(--fc-breezy-background)
}

.not-last\:border-b:not(:last-child) {
  border-bottom-style: var(--fc-breezy-border-style);
  border-bottom-width: 1px
}

@media (hover:hover) {
  .group-hover\:block:is(:where(.group):hover *) {
    display: block
  }

  .group-hover\:bg-\(--fc-breezy-primary-over\):is(:where(.group):hover *) {
    background-color: var(--fc-breezy-primary-over)
  }

  .group-hover\:text-\(--fc-breezy-foreground\):is(:where(.group):hover *) {
    color: var(--fc-breezy-foreground)
  }

  .group-hover\:text-\(--fc-breezy-secondary-icon-over\):is(:where(.group):hover *) {
    color: var(--fc-breezy-secondary-icon-over)
  }

  .group-hover\:underline:is(:where(.group):hover *) {
    text-decoration-line: underline
  }
}

.group-focus-visible\:text-\(--fc-breezy-foreground\):is(:where(.group):focus-visible *) {
  color: var(--fc-breezy-foreground)
}

.group-focus-visible\:text-\(--fc-breezy-secondary-icon-over\):is(:where(.group):focus-visible *) {
  color: var(--fc-breezy-secondary-icon-over)
}

.group-focus-visible\:outline-2:is(:where(.group):focus-visible *) {
  outline-style: solid;
  outline-width: 2px
}

.first\:rounded-s-md:first-child {
  border-start-start-radius: .375rem;
  border-end-start-radius: .375rem
}

.first\:border-s:first-child {
  border-inline-start-style: var(--fc-breezy-border-style);
  border-inline-start-width: 1px
}

.last\:rounded-e-md:last-child {
  border-start-end-radius: .375rem;
  border-end-end-radius: .375rem
}

.last\:border-e:last-child {
  border-inline-end-style: var(--fc-breezy-border-style);
  border-inline-end-width: 1px
}

@media (hover:hover) {
  .hover\:bg-\(--fc-breezy-faint\):hover {
    background-color: var(--fc-breezy-faint)
  }

  .hover\:bg-\(--fc-breezy-muted\):hover {
    background-color: var(--fc-breezy-muted)
  }

  .hover\:bg-\(--fc-breezy-primary-over\):hover {
    background-color: var(--fc-breezy-primary-over)
  }

  .hover\:bg-\(--fc-breezy-secondary-over\):hover {
    background-color: var(--fc-breezy-secondary-over)
  }

  .hover\:bg-\[color-mix\(in_oklab\,var\(--fc-event-color\)_25\%\,var\(--fc-breezy-background\)\)\]:hover {
    background-color: var(--fc-event-color)
  }

  @supports (color:color-mix(in lab, red, red)) {
    .hover\:bg-\[color-mix\(in_oklab\,var\(--fc-event-color\)_25\%\,var\(--fc-breezy-background\)\)\]:hover {
      background-color: color-mix(in oklab, var(--fc-event-color)25%, var(--fc-breezy-background))
    }
  }

  .hover\:text-\(--fc-breezy-muted-foreground\):hover {
    color: var(--fc-breezy-muted-foreground)
  }

  .hover\:text-\(--fc-breezy-strong-foreground\):hover {
    color: var(--fc-breezy-strong-foreground)
  }

  .hover\:underline:hover {
    text-decoration-line: underline
  }

  .hover\:\[background\:linear-gradient\(var\(--fc-breezy-stronger\)\,var\(--fc-breezy-stronger\)\)_var\(--fc-breezy-background\)\]:hover {
    background: linear-gradient(var(--fc-breezy-stronger), var(--fc-breezy-stronger))var(--fc-breezy-background)
  }
}

.focus-visible\:bg-\(--fc-breezy-faint\):focus-visible {
  background-color: var(--fc-breezy-faint)
}

.focus-visible\:bg-\(--fc-breezy-muted\):focus-visible {
  background-color: var(--fc-breezy-muted)
}

.focus-visible\:outline-2:focus-visible {
  outline-style: solid;
  outline-width: 2px
}

.active\:bg-\(--fc-breezy-muted\):active {
  background-color: var(--fc-breezy-muted)
}

.active\:bg-\[color-mix\(in_oklab\,var\(--fc-event-color\)_30\%\,var\(--fc-breezy-background\)\)\]:active {
  background-color: var(--fc-event-color)
}

@supports (color:color-mix(in lab, red, red)) {
  .active\:bg-\[color-mix\(in_oklab\,var\(--fc-event-color\)_30\%\,var\(--fc-breezy-background\)\)\]:active {
    background-color: color-mix(in oklab, var(--fc-event-color)30%, var(--fc-breezy-background))
  }
}

.active\:\[background\:linear-gradient\(var\(--fc-breezy-strongest\)\,var\(--fc-breezy-strongest\)\)_var\(--fc-breezy-background\)\]:active {
  background: linear-gradient(var(--fc-breezy-strongest), var(--fc-breezy-strongest))var(--fc-breezy-background)
}

@media print {
  .print\:border-\(--fc-event-color\) {
    border-color: var(--fc-event-color)
  }

  .print\:border-black {
    border-color: #000
  }

  .print\:bg-white {
    background-color: #fff
  }
}

[dir=rtl] .\[\[dir\=rtl\]_\&\]\:-rotate-90 {
  rotate: -90deg
}

[dir=rtl] .\[\[dir\=rtl\]_\&\]\:rotate-0 {
  rotate: none
}

[dir=rtl] .\[\[dir\=rtl\]_\&\]\:rotate-90 {
  rotate: 90deg
}

[dir=rtl] .\[\[dir\=rtl\]_\&\]\:rotate-180 {
  rotate: 180deg
}
