
//
// multimonth > inner
//

.fc-media-screen .fc-multimonth-inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*
HACK for Safari. Can't do break-inside:avoid with flexbox items, likely b/c it's not standard:
https://stackoverflow.com/a/60256345
*/
.fc-media-print.fc-direction-ltr .fc-multimonth-inner > * {
  float: left;
}
.fc-media-print.fc-direction-rtl .fc-multimonth-inner > * {
  float: right;
}
.fc-media-print .fc-multimonth-inner::after {
  content: "";
  display: block;
  clear: both;
}

//
// multimonth > month
//

.fc-multimonth-multicol .fc-multimonth-month { // (multicol)
  padding: 1.2em;
}

.fc-multimonth-singlecol .fc-multimonth-title { // (singlecol) > header > title
  padding: 0.5em 0;
}

.fc-multimonth-multicol .fc-multimonth-title { // (multicol) > header > title
  padding-bottom: 1em;
}

.fc-multimonth-title { // > header > title
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}

.fc-multimonth-header-row { // > header > row
  border-top: 1px solid var(--fc-border-color);
}

.fc-multimonth-header-row, // > header > row
.fc-multimonth-body:not(.fc-multimonth-singlecol .fc-multimonth-month-outer:last-child .fc-multimonth-body) { // > body
  border-bottom: 1px solid var(--fc-border-color);
}

.fc-multimonth-multicol .fc-multimonth-header-row, // (multicol) > header > row
.fc-multimonth-multicol .fc-multimonth-body { // (multicol) > body
  border-left: 1px solid var(--fc-border-color);
  border-right: 1px solid var(--fc-border-color);

  // shrink font
  font-size: 0.9em;
  line-height: 1;
}

//
// multimonth > month (sticky)
//

.fc-media-screen {
  & .fc-multimonth-singlecol {
    & .fc-multimonth-header { // > header
      position: sticky;
      top: 0;
      z-index: 2;
      background: var(--fc-page-bg-color);
    }

    & .fc-multimonth-body { // > body
      position: relative;
      z-index: 1;
    }
  }
}
