
//
// multimonth > inner
//

.fc-media-screen .fc-multimonth-inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*
HACK for Safari. Can't do break-inside:avoid with flexbox items, likely b/c it's not standard:
https://stackoverflow.com/a/60256345
*/
.fc-media-print.fc-direction-ltr .fc-multimonth-inner > * {
  float: left;
}
.fc-media-print.fc-direction-rtl .fc-multimonth-inner > * {
  float: right;
}
.fc-media-print .fc-multimonth-inner::after {
  content: "";
  display: block;
  clear: both;
}
