
.fcnew {

  & .fcnew-multimonth-scroller {
    overflow-y: scroll; // HACK to prevent width oscillation, for handleScrollRequest
    overflow-x: hidden;
  }

  & .fcnew-multimonth-flexparent {
    display: flex;
    flex-wrap: wrap;
  }

  // a single month

  & .fcnew-multimonth-month {
    flex-grow: 1;
    flex-shrink: 1; // needed???
    min-width: 0; // needed???
  }

  & .fcnew-multimonth-title {
    padding: 1em 0;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
  }

  & .fcnew-multimonth-header .fcnew-row {
    border-top: 1px solid var(--fcnew-border-color) !important; // HACK
  }

  & .fcnew-multimonth-daygrid { // like the "body"
    border-bottom: 1px solid var(--fcnew-border-color) !important; // HACK
    background: var(--fcnew-page-bg-color);
  }

  // variants

  & .fcnew-multimonth-singlecol {
    & .fcnew-multimonth {
      position: relative;
    }

    & .fcnew-multimonth-header {
      position: relative; // ultimately for stick
      top: 0;
      z-index: 2;
      background: var(--fcnew-page-bg-color);
    }

    & .fcnew-multimonth-daygrid {
      position: relative;
      z-index: 1;
    }
  }

  & .fcnew-multimonth-multicol {
    line-height: 1; // undo themes that have thick line-height

    & .fcnew-multimonth-header .fcnew-row {
      border-left: 1px solid var(--fcnew-border-color) !important; // HACK
      border-right: 1px solid var(--fcnew-border-color) !important; // HACK
    }

    & .fcnew-multimonth-daygrid { // like the "body"
      border-left: 1px solid var(--fcnew-border-color) !important; // HACK
      border-right: 1px solid var(--fcnew-border-color) !important; // HACK
    }

    & .fcnew-multimonth-flexparent {
      margin: 0 1.2em 1.2em;
      gap: 2.4em;
    }

    // +more link look like an event
    & .fcnew-daygrid-more-link {
      border: 1px solid var(--fcnew-event-border-color);
      padding: 1px;
      float: none;
      display: block;
    }
  }

  & .fcnew-multimonth-compact {
    line-height: 1; // undo themes that have thick line-height

    & .fcnew-multimonth-daygrid,
    & .fcnew-multimonth-header .fcnew-row { // TODO: better!
      font-size: 0.9em;
    }
  }
}

.fcnew-media-screen {
  & .fcnew-multimonth-singlecol {
    & .fcnew-multimonth-header {
      position: sticky;
    }
  }
}

.fcnew-media-print {
  & .fcnew-multimonth {
    overflow: visible;
  }
}
