/*
baseline purple color:
https://m3.material.io/styles/color/static/baseline

other colors:
https://anvil.works/docs/how-to/creating-material-3-colour-scheme
https://material-foundation.github.io/material-theme-builder/

TODO: might need to make tertiary colors hotter (like red, like alert color)
TODO: convert all colors to hex
*/

/*
canvas -> background
surface -> popover (for dark-mode)
primary-container -> tint
secondary -> tab-selected
error -> now
*/

:root {
  --fc-monarch-muted: color-mix(in oklab, var(--color-gray-500) 15%, transparent); /* TODO, make opaque */
  --fc-monarch-muted-wash: color-mix(in oklab, var(--color-gray-500) 15%, transparent); /* TODO */
  --fc-monarch-muted-foreground: #8d8d8d; /* TODO */
  --fc-monarch-disabled-foreground: #bebebe; /* TODO */
  --fc-monarch-strong: color-mix(in oklab, var(--color-gray-500) 30%, transparent); /* TODO */
  --fc-monarch-strong-wash: color-mix(in oklab, var(--color-black) 20%, transparent); /* TODO */
  --fc-monarch-strong-border: var(--color-gray-400); /* TODO */
}
[data-color-scheme=dark] {
  --fc-monarch-muted: color-mix(in oklab, var(--color-gray-500) 15%, transparent); /* TODO, make opaque */
  --fc-monarch-muted-wash: color-mix(in oklab, var(--color-gray-500) 15%, transparent); /* TODO */
  --fc-monarch-muted-foreground: #b0b0b0; /* TODO */
  --fc-monarch-disabled-foreground: #898989; /* TODO */
  --fc-monarch-strong: color-mix(in oklab, var(--color-gray-500) 30%, transparent); /* TODO */
  --fc-monarch-strong-wash: color-mix(in oklab, var(--color-white) 30%, transparent); /* TODO */
  --fc-monarch-strong-border: var(--color-gray-700); /* TODO */
}

[data-palette=purple] {
  --fc-monarch-background: #fff;
  --fc-monarch-primary: #6750A4;
  --fc-monarch-primary-foreground: #FFFFFF;
  --fc-monarch-secondary: #EADDFF;
  --fc-monarch-secondary-foreground: #4F378B;
  --fc-monarch-tertiary: #7D5260;
  --fc-monarch-tertiary-foreground: #FFFFFF;
  --fc-monarch-highlight: #ff9dbb; /* TODO: better name! */
  --fc-monarch-tab-selected: #625B71;
  --fc-monarch-tab-selected-foreground: #FFFFFF;
  --fc-monarch-now: #B3261E;
  --fc-monarch-border: #dedce1;
  --fc-monarch-secondary-border: #CAC4D0; /* for outline secondary button */
  --fc-monarch-popover: var(--fc-monarch-background);
  /* --fc-monarch-popover-foreground is left undefined */
}
[data-palette=purple][data-color-scheme=dark] {
  --fc-monarch-background: var(--color-gray-950);
  --fc-monarch-primary: #D0BCFF;
  --fc-monarch-primary-foreground: #381E72;
  --fc-monarch-secondary: #4F378B;
  --fc-monarch-secondary-foreground: #EADDFF;
  --fc-monarch-tertiary: #EFB8C8;
  --fc-monarch-tertiary-foreground: #492532;
  --fc-monarch-highlight: red; /* TODO */
  --fc-monarch-tab-selected: #CCC2DC;
  --fc-monarch-tab-selected-foreground: #332D41;
  --fc-monarch-now: #F2B8B5;
  --fc-monarch-border: #323036;
  --fc-monarch-secondary-border: #49454F;
  --fc-monarch-popover: rgb(26 17 15);
  --fc-monarch-popover-foreground: rgb(241 223 218);
}

[data-palette=red] {
  --fc-monarch-background: #fff;
  --fc-monarch-primary: rgb(143 76 56);
  --fc-monarch-primary-foreground: rgb(255 255 255);
  --fc-monarch-secondary: rgb(255 219 209);
  --fc-monarch-secondary-foreground: rgb(114 53 35);
  --fc-monarch-tertiary: rgb(108 93 47);
  --fc-monarch-tertiary-foreground: rgb(255 255 255);
  --fc-monarch-tab-selected: rgb(119 87 78);
  --fc-monarch-tab-selected-foreground: rgb(255 255 255);
  --fc-monarch-highlight: red; /* TODO */
  --fc-monarch-now: rgb(186 26 26);
  --fc-monarch-border: rgb(216 194 188);
  --fc-monarch-strong-border: var(--color-gray-700); /* TODO */
  --fc-monarch-secondary-border: rgb(216 194 188);
  --fc-monarch-popover: var(--fc-monarch-background);
  /* --fc-monarch-popover-foreground is left undefined */
}
[data-palette=red][data-color-scheme=dark] {
  --fc-monarch-background: var(--color-gray-950);
  --fc-monarch-primary: rgb(255 181 160);
  --fc-monarch-primary-foreground: rgb(86 31 15);
  --fc-monarch-secondary: rgb(114 53 35);
  --fc-monarch-secondary-foreground: rgb(255 219 209);
  --fc-monarch-tertiary: rgb(216 197 141);
  --fc-monarch-tertiary-foreground: rgb(59 47 5);
  --fc-monarch-highlight: red; /* TODO */
  --fc-monarch-tab-selected: rgb(231 189 178);
  --fc-monarch-tab-selected-foreground: rgb(68 42 34);
  --fc-monarch-now: rgb(255 180 171);
  --fc-monarch-border: rgb(83 67 63);
  --fc-monarch-strong-border: var(--color-gray-700); /* TODO */
  --fc-monarch-secondary-border: rgb(83 67 63);
  --fc-monarch-popover: rgb(26 17 15);
  --fc-monarch-popover-foreground: rgb(241 223 218);
}

[data-palette=green] {
  --fc-monarch-background: #fff;
  --fc-monarch-primary: rgb(76 102 43);
  --fc-monarch-primary-foreground: rgb(255 255 255);
  --fc-monarch-secondary: rgb(205 237 163);
  --fc-monarch-secondary-foreground: rgb(53 78 22);
  --fc-monarch-tertiary: rgb(56 102 99);
  --fc-monarch-tertiary-foreground: rgb(255 255 255);
  --fc-monarch-highlight: red; /* TODO */
  --fc-monarch-tab-selected: rgb(88 98 73);
  --fc-monarch-tab-selected-foreground: rgb(255 255 255);
  --fc-monarch-now: rgb(186 26 26);
  --fc-monarch-border: rgb(197 200 186);
  --fc-monarch-strong-border: var(--color-gray-700); /* TODO */
  --fc-monarch-secondary-border: rgb(197 200 186);
  --fc-monarch-popover: var(--fc-monarch-background);
  /* --fc-monarch-popover-foreground is left undefined */
}
[data-palette=green][data-color-scheme=dark] {
  --fc-monarch-background: var(--color-gray-950);
  --fc-monarch-primary: rgb(177 209 138);
  --fc-monarch-primary-foreground: rgb(31 55 1);
  --fc-monarch-secondary: rgb(53 78 22);
  --fc-monarch-secondary-foreground: rgb(205 237 163);
  --fc-monarch-tertiary: rgb(160 208 203);
  --fc-monarch-tertiary-foreground: rgb(0 55 53);
  --fc-monarch-highlight: red; /* TODO */
  --fc-monarch-tab-selected: rgb(191 203 173);
  --fc-monarch-tab-selected-foreground: rgb(42 51 30);
  --fc-monarch-now: rgb(255 180 171);
  --fc-monarch-border: rgb(68 72 61);
  --fc-monarch-strong-border: var(--color-gray-700); /* TODO */
  --fc-monarch-secondary-border: rgb(68 72 61);
  --fc-monarch-popover: rgb(18 20 14);
  --fc-monarch-popover-foreground: rgb(226 227 216);
}

[data-palette=blue] {
  --fc-monarch-background: #fff;
  --fc-monarch-primary: rgb(65 95 145);
  --fc-monarch-primary-foreground: rgb(255 255 255);
  --fc-monarch-secondary: rgb(214 227 255);
  --fc-monarch-secondary-foreground: rgb(40 71 119);
  --fc-monarch-tab-selected: rgb(86 95 113);
  --fc-monarch-tab-selected-foreground: rgb(255 255 255);
  --fc-monarch-tertiary: rgb(112 85 117);
  --fc-monarch-tertiary-foreground: rgb(255 255 255);
  --fc-monarch-highlight: red; /* TODO */
  --fc-monarch-now: rgb(186 26 26);
  --fc-monarch-border: rgb(196 198 208);
  --fc-monarch-strong-border: var(--color-gray-700); /* TODO */
  --fc-monarch-secondary-border: rgb(196 198 208);
  --fc-monarch-popover: var(--fc-monarch-background);
  /* --fc-monarch-popover-foreground is left undefined */
}
[data-palette=blue][data-color-scheme=dark] {
  --fc-monarch-background: var(--color-gray-950);
  --fc-monarch-primary: rgb(170 199 255);
  --fc-monarch-primary-foreground: rgb(10 48 95);
  --fc-monarch-secondary: rgb(40 71 119);
  --fc-monarch-secondary-foreground: rgb(214 227 255);
  --fc-monarch-tertiary: rgb(221 188 224);
  --fc-monarch-tertiary-foreground: rgb(63 40 68);
  --fc-monarch-highlight: red; /* TODO */
  --fc-monarch-tab-selected: rgb(190 198 220);
  --fc-monarch-tab-selected-foreground: rgb(40 49 65);
  --fc-monarch-now: rgb(255 180 171);
  --fc-monarch-border: rgb(68 71 78);
  --fc-monarch-strong-border: var(--color-gray-700); /* TODO */
  --fc-monarch-secondary-border: rgb(68 71 78);
  --fc-monarch-popover: rgb(17 19 24);
  --fc-monarch-popover-foreground: rgb(226 226 233);
}

[data-palette=yellow] {
  --fc-monarch-background: #fff;
  --fc-monarch-primary: rgb(109 94 15);
  --fc-monarch-primary-foreground: rgb(255 255 255);
  --fc-monarch-secondary: rgb(248 226 135);
  --fc-monarch-secondary-foreground: rgb(83 70 0);
  --fc-monarch-tertiary: rgb(67 102 78);
  --fc-monarch-tertiary-foreground: rgb(255 255 255);
  --fc-monarch-highlight: red; /* TODO */
  --fc-monarch-tab-selected: rgb(102 94 64);
  --fc-monarch-tab-selected-foreground: rgb(255 255 255);
  --fc-monarch-now: rgb(186 26 26);
  --fc-monarch-border: rgb(205 198 180);
  --fc-monarch-strong-border: var(--color-gray-700); /* TODO */
  --fc-monarch-secondary-border: rgb(205 198 180);
  --fc-monarch-popover: var(--fc-monarch-background);
  /* --fc-monarch-popover-foreground is left undefined */
}
[data-palette=yellow][data-color-scheme=dark] {
  --fc-monarch-background: var(--color-gray-950);
  --fc-monarch-primary: rgb(219 198 110);
  --fc-monarch-primary-foreground: rgb(58 48 0);
  --fc-monarch-secondary: rgb(83 70 0);
  --fc-monarch-secondary-foreground: rgb(248 226 135);
  --fc-monarch-tertiary: rgb(169 208 179);
  --fc-monarch-tertiary-foreground: rgb(20 55 35);
  --fc-monarch-highlight: red; /* TODO */
  --fc-monarch-tab-selected: rgb(209 198 161);
  --fc-monarch-tab-selected-foreground: rgb(54 48 22);
  --fc-monarch-now: rgb(255 180 171);
  --fc-monarch-border: rgb(75 71 57);
  --fc-monarch-strong-border: var(--color-gray-700); /* TODO */
  --fc-monarch-secondary-border: rgb(75 71 57);
  --fc-monarch-popover: rgb(21 19 11);
  --fc-monarch-popover-foreground: rgb(232 226 212);
}
