/*
baseline:
https://m3.material.io/styles/color/static/baseline

theme builder:
https://anvil.works/docs/how-to/creating-material-3-colour-scheme
https://material-foundation.github.io/material-theme-builder/

TODO: might need to make tertiary colors hotter (like red, like alert color)
*/

[data-palette=purple] {
  --fc-monarch-canvas-color: #fff;
  --fc-monarch-primary: #6750A4;
  --fc-monarch-on-primary: #FFFFFF;
  --fc-monarch-primary-container: #EADDFF;
  --fc-monarch-on-primary-container: #4F378B;
  --fc-monarch-secondary: #625B71;
  --fc-monarch-on-secondary: #FFFFFF;
  --fc-monarch-secondary-container: #E8DEF8;
  --fc-monarch-on-secondary-container: #4A4458;
  --fc-monarch-tertiary: #7D5260;
  --fc-monarch-on-tertiary: #FFFFFF;
  --fc-monarch-tertiary-container: #FFD8E4;
  --fc-monarch-on-tertiary-container: #633B48;
  --fc-monarch-error: #B3261E;
  --fc-monarch-surface: rgb(255 248 246);
  --fc-monarch-on-surface: rgb(35 25 23);
  /* --fc-monarch-on-surface: #1D1B20; /* (12% 38%) */
  --fc-monarch-disabled: rgba(29, 27, 32, .12);
  --fc-monarch-on-disabled: rgba(29, 27, 32, .38);
  --fc-monarch-outline: #79747E;
  --fc-monarch-outline-variant: #dedce1; /* lighter that original. TODO: rename */
  --fc-monarch-outline-variant-original: #CAC4D0;
}
[data-palette=purple][data-color-scheme=dark] {
  --fc-monarch-canvas-color: oklch(0.13 0.028 261.692);
  --fc-monarch-primary: #D0BCFF;
  --fc-monarch-on-primary: #381E72;
  --fc-monarch-primary-container: #4F378B;
  --fc-monarch-on-primary-container: #EADDFF;
  --fc-monarch-secondary: #CCC2DC;
  --fc-monarch-on-secondary: #332D41;
  --fc-monarch-secondary-container: #4A4458;
  --fc-monarch-on-secondary-container: #E8DEF8;
  --fc-monarch-tertiary: #EFB8C8;
  --fc-monarch-on-tertiary: #492532;
  --fc-monarch-tertiary-container: #633B48;
  --fc-monarch-on-tertiary-container: #FFD8E4;
  --fc-monarch-error: #F2B8B5;
  --fc-monarch-surface: rgb(26 17 15);
  --fc-monarch-on-surface: rgb(241 223 218);
  /* --fc-monarch-on-surface: #E6E0E9; /* (12% 38%) */
  --fc-monarch-disabled: rgba(230, 224, 233, .12);
  --fc-monarch-on-disabled: rgba(230, 224, 233, .38);
  --fc-monarch-outline: #938F99;
  --fc-monarch-outline-variant: #323036;  /* lighter that original. TODO: rename */
  --fc-monarch-outline-variant-original: #49454F;
}

[data-palette=red] {
  --fc-monarch-canvas-color: #fff;
  --fc-monarch-primary: rgb(143 76 56);
  --fc-monarch-on-primary: rgb(255 255 255);
  --fc-monarch-primary-container: rgb(255 219 209);
  --fc-monarch-on-primary-container: rgb(114 53 35);
  --fc-monarch-secondary: rgb(119 87 78);
  --fc-monarch-on-secondary: rgb(255 255 255);
  --fc-monarch-secondary-container: rgb(255 219 209);
  --fc-monarch-on-secondary-container: rgb(93 64 55);
  --fc-monarch-tertiary: rgb(108 93 47);
  --fc-monarch-on-tertiary: rgb(255 255 255);
  --fc-monarch-tertiary-container: rgb(245 225 167);
  --fc-monarch-on-tertiary-container: rgb(83 70 25);
  --fc-monarch-error: rgb(186 26 26);
  --fc-monarch-surface: rgb(255 248 246);
  --fc-monarch-on-surface: rgb(35 25 23);
  --fc-monarch-disabled: rgba(35 25 23 .12);
  --fc-monarch-on-disabled: rgba(35 25 23 .38);
  --fc-monarch-outline: rgb(133 115 110);
  --fc-monarch-outline-variant: rgb(216 194 188);
  --fc-monarch-outline-variant-original: rgb(216 194 188); /* ??? */
}
[data-palette=red][data-color-scheme=dark] {
  --fc-monarch-canvas-color: oklch(0.13 0.028 261.692);
  --fc-monarch-primary: rgb(255 181 160);
  --fc-monarch-on-primary: rgb(86 31 15);
  --fc-monarch-primary-container: rgb(114 53 35);
  --fc-monarch-on-primary-container: rgb(255 219 209);
  --fc-monarch-secondary: rgb(231 189 178);
  --fc-monarch-on-secondary: rgb(68 42 34);
  --fc-monarch-secondary-container: rgb(93 64 55);
  --fc-monarch-on-secondary-container: rgb(255 219 209);
  --fc-monarch-tertiary: rgb(216 197 141);
  --fc-monarch-on-tertiary: rgb(59 47 5);
  --fc-monarch-tertiary-container: rgb(83 70 25);
  --fc-monarch-on-tertiary-container: rgb(245 225 167);
  --fc-monarch-error: rgb(255 180 171);
  --fc-monarch-surface: rgb(26 17 15);
  --fc-monarch-on-surface: rgb(241 223 218);
  --fc-monarch-disabled: rgba(241 223 218, .12);
  --fc-monarch-on-disabled: rgba(241 223 218, .38);
  --fc-monarch-outline: rgb(160 140 135);
  --fc-monarch-outline-variant: rgb(83 67 63);
  --fc-monarch-outline-variant-original: rgb(83 67 63); /* ??? */
}

[data-palette=green] {
  --fc-monarch-canvas-color: #fff;
  --fc-monarch-primary: rgb(76 102 43);
  --fc-monarch-on-primary: rgb(255 255 255);
  --fc-monarch-primary-container: rgb(205 237 163);
  --fc-monarch-on-primary-container: rgb(53 78 22);
  --fc-monarch-secondary: rgb(88 98 73);
  --fc-monarch-on-secondary: rgb(255 255 255);
  --fc-monarch-secondary-container: rgb(220 231 200);
  --fc-monarch-on-secondary-container: rgb(64 74 51);
  --fc-monarch-tertiary: rgb(56 102 99);
  --fc-monarch-on-tertiary: rgb(255 255 255);
  --fc-monarch-tertiary-container: rgb(188 236 231);
  --fc-monarch-on-tertiary-container: rgb(31 78 75);
  --fc-monarch-error: rgb(186 26 26);
  --fc-monarch-surface: rgb(249 250 239);
  --fc-monarch-on-surface: rgb(26 28 22);
  --fc-monarch-disabled: rgba(26 28 22 .12);
  --fc-monarch-on-disabled: rgba(26 28 22 .38);
  --fc-monarch-outline: rgb(117 121 108);
  --fc-monarch-outline-variant: rgb(197 200 186);
  --fc-monarch-outline-variant-original: rgb(197 200 186); /* ??? */
}
[data-palette=green][data-color-scheme=dark] {
  --fc-monarch-canvas-color: oklch(0.13 0.028 261.692);
  --fc-monarch-primary: rgb(177 209 138);
  --fc-monarch-on-primary: rgb(31 55 1);
  --fc-monarch-primary-container: rgb(53 78 22);
  --fc-monarch-on-primary-container: rgb(205 237 163);
  --fc-monarch-secondary: rgb(191 203 173);
  --fc-monarch-on-secondary: rgb(42 51 30);
  --fc-monarch-secondary-container: rgb(64 74 51);
  --fc-monarch-on-secondary-container: rgb(220 231 200);
  --fc-monarch-tertiary: rgb(160 208 203);
  --fc-monarch-on-tertiary: rgb(0 55 53);
  --fc-monarch-tertiary-container: rgb(31 78 75);
  --fc-monarch-on-tertiary-container: rgb(188 236 231);
  --fc-monarch-error: rgb(255 180 171);
  --fc-monarch-surface: rgb(18 20 14);
  --fc-monarch-on-surface: rgb(226 227 216);
  --fc-monarch-disabled: rgba(226 227 216 .12);
  --fc-monarch-on-disabled: rgba(226 227 216 .38);
  --fc-monarch-outline: rgb(143 146 133);
  --fc-monarch-outline-variant: rgb(68 72 61);
  --fc-monarch-outline-variant-original: rgb(68 72 61); /* ??? */
}

[data-palette=blue] {
  --fc-monarch-canvas-color: #fff;
  --fc-monarch-primary: rgb(65 95 145);
  --fc-monarch-on-primary: rgb(255 255 255);
  --fc-monarch-primary-container: rgb(214 227 255);
  --fc-monarch-on-primary-container: rgb(40 71 119);
  --fc-monarch-secondary: rgb(86 95 113);
  --fc-monarch-on-secondary: rgb(255 255 255);
  --fc-monarch-secondary-container: rgb(218 226 249);
  --fc-monarch-on-secondary-container: rgb(62 71 89);
  --fc-monarch-tertiary: rgb(112 85 117);
  --fc-monarch-on-tertiary: rgb(255 255 255);
  --fc-monarch-tertiary-container: rgb(250 216 253);
  --fc-monarch-on-tertiary-container: rgb(87 62 92);
  --fc-monarch-error: rgb(186 26 26);
  --fc-monarch-surface: rgb(249 249 255);
  --fc-monarch-on-surface: rgb(25 28 32);
  --fc-monarch-disabled: rgba(25 28 32 .12);
  --fc-monarch-on-disabled: rgba(25 28 32 .38);
  --fc-monarch-outline: rgb(116 119 127);
  --fc-monarch-outline-variant: rgb(196 198 208);
  --fc-monarch-outline-variant-original: rgb(196 198 208); /* ??? */
}
[data-palette=blue][data-color-scheme=dark] {
  --fc-monarch-canvas-color: oklch(0.13 0.028 261.692);
  --fc-monarch-primary: rgb(170 199 255);
  --fc-monarch-on-primary: rgb(10 48 95);
  --fc-monarch-primary-container: rgb(40 71 119);
  --fc-monarch-on-primary-container: rgb(214 227 255);
  --fc-monarch-secondary: rgb(190 198 220);
  --fc-monarch-on-secondary: rgb(40 49 65);
  --fc-monarch-secondary-container: rgb(62 71 89);
  --fc-monarch-on-secondary-container: rgb(218 226 249);
  --fc-monarch-tertiary: rgb(221 188 224);
  --fc-monarch-on-tertiary: rgb(63 40 68);
  --fc-monarch-tertiary-container: rgb(87 62 92);
  --fc-monarch-on-tertiary-container: rgb(250 216 253);
  --fc-monarch-error: rgb(255 180 171);
  --fc-monarch-surface: rgb(17 19 24);
  --fc-monarch-on-surface: rgb(226 226 233);
  --fc-monarch-disabled: rgba(226 226 233 .12);
  --fc-monarch-on-disabled: rgba(226 226 233 .38);
  --fc-monarch-outline: rgb(142 144 153);
  --fc-monarch-outline-variant: rgb(68 71 78);
  --fc-monarch-outline-variant-original: rgb(68 71 78); /* ??? */
}

[data-palette=yellow] {
  --fc-monarch-canvas-color: #fff;
  --fc-monarch-primary: rgb(109 94 15);
  --fc-monarch-on-primary: rgb(255 255 255);
  --fc-monarch-primary-container: rgb(248 226 135);
  --fc-monarch-on-primary-container: rgb(83 70 0);
  --fc-monarch-secondary: rgb(102 94 64);
  --fc-monarch-on-secondary: rgb(255 255 255);
  --fc-monarch-secondary-container: rgb(238 226 188);
  --fc-monarch-on-secondary-container: rgb(78 71 42);
  --fc-monarch-tertiary: rgb(67 102 78);
  --fc-monarch-on-tertiary: rgb(255 255 255);
  --fc-monarch-tertiary-container: rgb(197 236 206);
  --fc-monarch-on-tertiary-container: rgb(44 78 56);
  --fc-monarch-error: rgb(186 26 26);
  --fc-monarch-surface: rgb(255 249 238);
  --fc-monarch-on-surface: rgb(30 27 19);
  --fc-monarch-disabled: rgba(30 27 19 .12);
  --fc-monarch-on-disabled: rgba(30 27 19 .38);
  --fc-monarch-outline: rgb(124 119 103);
  --fc-monarch-outline-variant: rgb(205 198 180);
  --fc-monarch-outline-variant-original: rgb(205 198 180); /* ??? */
}
[data-palette=yellow][data-color-scheme=dark] {
  --fc-monarch-canvas-color: oklch(0.13 0.028 261.692);
  --fc-monarch-primary: rgb(219 198 110);
  --fc-monarch-on-primary: rgb(58 48 0);
  --fc-monarch-primary-container: rgb(83 70 0);
  --fc-monarch-on-primary-container: rgb(248 226 135);
  --fc-monarch-secondary: rgb(209 198 161);
  --fc-monarch-on-secondary: rgb(54 48 22);
  --fc-monarch-secondary-container: rgb(78 71 42);
  --fc-monarch-on-secondary-container: rgb(238 226 188);
  --fc-monarch-tertiary: rgb(169 208 179);
  --fc-monarch-on-tertiary: rgb(20 55 35);
  --fc-monarch-tertiary-container: rgb(44 78 56);
  --fc-monarch-on-tertiary-container: rgb(197 236 206);
  --fc-monarch-error: rgb(255 180 171);
  --fc-monarch-surface: rgb(21 19 11);
  --fc-monarch-on-surface: rgb(232 226 212);
  --fc-monarch-disabled: rgb(232 226 212 .12);
  --fc-monarch-on-disabled: rgb(232 226 212 .38);
  --fc-monarch-outline: rgb(150 144 128);
  --fc-monarch-outline-variant: rgb(75 71 57);
  --fc-monarch-outline-variant-original: rgb(75 71 57); /* ??? */
}
