
.fc.fc-media-print {
  display: block; // undo flexbox. FF doesn't know how to flow
  max-width: 100%; // width will be hardcoded too
}

.fc-event,
.fc-scrollgrid table tr {
  break-inside: avoid;
}

.fc-media-print {

  & .fc-timegrid-slots,
  & .fc-timegrid-slot-labels, // when it's a separate axis
  & .fc-timeline-slots {
    display: none;
  }

  & .fc-timegrid-event {
    margin: 0.5em 0;
  }
}
