
.fc {
  display: flex;
  flex-direction: column;

  &,
  & *,
  & *:before,
  & *:after {
    box-sizing: border-box;
  }
}

.fc-direction-ltr {
  direction: ltr;
  text-align: left; // needed?
}

.fc-direction-rtl {
  direction: rtl;
  text-align: right; // needed?
}

.fcnew-bordered {
  border: 1px solid var(--fc-border-color);
}

.fcnew-view-harness-aspectratio {
  position: relative;
}

.fcnew-view-harness-aspectratio > .fc-view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

// Flexbox Utils
// -------------------------------------------------------------------------------------------------

.fcnew-flex-column {
  display: flex;
  flex-direction: column;
}

.fcnew-flex-grow {
  flex-grow: 1;
}

// Table Utils
// -------------------------------------------------------------------------------------------------

// TODO: apply min-height:0 to all children?
// https://www.joshwcomeau.com/css/interactive-guide-to-flexbox/#the-minimum-size-gotcha-11

.fcnew-rowheader {
  // for setting width/height based on innerWidth/innerHeight
  // NOTE: won't work on equal-width cells that have absolute-positioned overlay with percentages
  box-sizing: content-box;
}

.fcnew-row,
.fcnew-cellgroup {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.fcnew-cell,
.fcnew-cellgroup,
.fcnew-rowheader:only-child {
  flex-grow: 1;
  flex-basis: 0;
}

// theme (TODO: rtl)

.fcnew-row,
.fcnew-rowgroup,
.fcnew-rowdivider {
  border-style: solid;
  border-color: var(--fc-border-color);
  border-width: 0 0 1px; // bottom
}

.fcnew-row:last-child,
.fcnew-rowgroup:last-child,
.fcnew-rowdivider:last-child {
  border-bottom: 0;
}

.fcnew-cell,
.fcnew-rowheader {
  border-style: solid;
  border-color: var(--fc-border-color);
  border-width: 0 1px 0 0; // right
}

.fcnew-cell:last-child,
.fcnew-rowheader:last-child {
  border-right: 0;
}

.fcnew-rowdivider {
  padding-bottom: 2px;
  background: var(--fc-neutral-bg-color);
}

// Misc Utils
// -------------------------------------------------------------------------------------------------

.fcnew-rel {
  position: relative;
}

.fcnew-absfill {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
