
.fc {
  display: flex;
  flex-direction: column;

  &,
  & *,
  & *:before,
  & *:after {
    box-sizing: border-box;
  }
}

.fc-direction-ltr {
  direction: ltr;
  text-align: left; // needed?
}

.fc-direction-rtl {
  direction: rtl;
  text-align: right; // needed?
}

.fcnew-bordered {
  border: 1px solid var(--fc-border-color);
}

.fcnew-view-harness-aspectratio {
  position: relative;
}

.fcnew-view-harness-aspectratio > .fc-view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

// Util
// -------------------------------------------------------------------------------------------------

.fcnew-flex-grow { // TODO: rename to just fcnew-grow
  flex-grow: 1;
}

.fcnew-row,
.fcnew-cellgroup {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.fcnew-rowgroup:last-child,
.fcnew-row:last-child {
  border-bottom: 0;
}

.fcnew-rowgroup,
.fcnew-row {
  border-bottom: 1px solid var(--fc-border-color); // TODO: move to theme
}

.fcnew-row {
  box-sizing: content-box; // for setting height based on innerHeight
}

.fcnew-cell {
  border-right: 1px solid var(--fc-border-color); // TODO: move to theme. TODO: isRTL
}

.fcnew-cell:last-child {
  border-right: 0;
}
