
:root {
  /* neutral foregrounds */
  --fc-monarch-faint-foreground: #bebebe;
  --fc-monarch-muted-foreground: #8d8d8d;
}
@media not print {
  [data-color-scheme=dark] {
    /* neutral foregrounds */
    --fc-monarch-faint-foreground: #898989;
    --fc-monarch-muted-foreground: #b0b0b0;
  }
}

[data-palette=purple] {
  /* primary */
  --fc-monarch-primary: #6750A4;
  --fc-monarch-primary-foreground: #FFFFFF;
  --fc-monarch-primary-over: #7461ae;
  --fc-monarch-primary-down: #8272b7;

  /* secondary */
  --fc-monarch-secondary: #EADDFF;
  --fc-monarch-secondary-foreground: #4F378B;
  --fc-monarch-secondary-over: #ddd1f1;
  --fc-monarch-secondary-down: #d0c4e3;

  /* tertiary */
  --fc-monarch-tertiary: #895264;
  --fc-monarch-tertiary-foreground: #FFFFFF;
  --fc-monarch-tertiary-over: #956272;
  --fc-monarch-tertiary-down: #a17381;

  /* calendar content */
  --fc-monarch-now: #B3261E;
  --fc-monarch-event: var(--fc-monarch-primary);
  --fc-monarch-event-contrast: var(--fc-monarch-primary-foreground);
  --fc-monarch-highlight: #eaddff4D;

  /* controls */
  --fc-monarch-selected: #625B71;
  --fc-monarch-selected-foreground: #FFFFFF;
  --fc-monarch-selected-over: #706a7e;
  --fc-monarch-selected-down: #7f798c;
  --fc-monarch-outline: #ff9dbb;

  /* popover */
  --fc-monarch-popover: var(--fc-monarch-background);

  /* neutral backgrounds */
  --fc-monarch-background: #ffffff;
  --fc-monarch-faint: #79697b1A;
  --fc-monarch-muted: #79697b26;
  --fc-monarch-strong: #79697b4D;
  --fc-monarch-stronger: #79697b59;
  --fc-monarch-strongest: #79697b66;

  /* neutral foregrounds */
  --fc-monarch-foreground: #0c090c;

  /* neutral borders */
  --fc-monarch-border: #dedce1;
  --fc-monarch-strong-border: #bcbabe;
}
@media not print {
  [data-palette=purple][data-color-scheme=dark],
  [data-palette=purple] [data-color-scheme=dark] {
    /* primary */
    --fc-monarch-primary: #D0BCFF;
    --fc-monarch-primary-foreground: #381E72;
    --fc-monarch-primary-over: #d5c3ff;
    --fc-monarch-primary-down: #d9caff;

    /* secondary */
    --fc-monarch-secondary: #4F378B;
    --fc-monarch-secondary-foreground: #EADDFF;
    --fc-monarch-secondary-over: #564191;
    --fc-monarch-secondary-down: #5e4b97;

    /* tertiary */
    --fc-monarch-tertiary: #EFB8C8;
    --fc-monarch-tertiary-foreground: #492532;
    --fc-monarch-tertiary-over: #f1bfcd;
    --fc-monarch-tertiary-down: #f3c6d3;

    /* calendar content */
    --fc-monarch-now: #F2B8B5;
    --fc-monarch-event: var(--fc-monarch-primary);
    --fc-monarch-event-contrast: var(--fc-monarch-primary-foreground);
    --fc-monarch-highlight: #4f378b4D;

    /* controls */
    --fc-monarch-selected: #CCC2DC;
    --fc-monarch-selected-foreground: #332D41;
    --fc-monarch-selected-over: #d1c8e0;
    --fc-monarch-selected-down: #d6cee3;
    --fc-monarch-outline: #ff8a9e;

    /* popover */
    --fc-monarch-popover: rgb(26 17 15);
    --fc-monarch-popover-foreground: rgb(241 223 218);

    /* neutral backgrounds */
    --fc-monarch-background: #030712;

    /* neutral foregrounds */
    --fc-monarch-foreground: #ffffff;

    /* neutral borders */
    --fc-monarch-border: #323036;
    --fc-monarch-strong-border: #615d67;
  }
}

[data-palette=red] {
  /* primary */
  --fc-monarch-primary: rgb(143 76 56);
  --fc-monarch-primary-foreground: rgb(255 255 255);
  --fc-monarch-primary-over: #9b5d4b;
  --fc-monarch-primary-down: #a76e5e;

  /* secondary */
  --fc-monarch-secondary: rgb(255 219 209);
  --fc-monarch-secondary-foreground: rgb(114 53 35);
  --fc-monarch-secondary-over: #f1cfc5;
  --fc-monarch-secondary-down: #e3c3ba;

  /* tertiary */
  --fc-monarch-tertiary: rgb(108 93 47);
  --fc-monarch-tertiary-foreground: rgb(255 255 255);
  --fc-monarch-tertiary-over: #7a6c43;
  --fc-monarch-tertiary-down: #887b57;

  /* calendar content */
  --fc-monarch-now: rgb(186 26 26);
  --fc-monarch-event: var(--fc-monarch-primary);
  --fc-monarch-event-contrast: var(--fc-monarch-primary-foreground);
  --fc-monarch-highlight: #ffdbd14D;

  /* controls */
  --fc-monarch-selected: rgb(119 87 78);
  --fc-monarch-selected-foreground: rgb(255 255 255);
  --fc-monarch-selected-over: #84665e;
  --fc-monarch-selected-down: #91766f;
  --fc-monarch-outline: #ff774f;

  /* popover */
  --fc-monarch-popover: var(--fc-monarch-background);

  /* neutral backgrounds */
  --fc-monarch-background: #ffffff;
  --fc-monarch-faint: #7c6d671A;
  --fc-monarch-muted: #7c6d6726;
  --fc-monarch-strong: #7c6d674D;
  --fc-monarch-stronger: #7c6d6759;
  --fc-monarch-strongest: #7c6d6766;

  /* neutral foregrounds */
  --fc-monarch-foreground: #0c0a09;

  /* neutral borders */
  --fc-monarch-border: #e2dedd;
  --fc-monarch-strong-border: #c9c4c3;
}
@media not print {
  [data-palette=red][data-color-scheme=dark],
  [data-palette=red] [data-color-scheme=dark] {
    /* primary */
    --fc-monarch-primary: rgb(255 181 160);
    --fc-monarch-primary-foreground: rgb(86 31 15);
    --fc-monarch-primary-over: #ffbda9;
    --fc-monarch-primary-down: #ffc4b3;

    /* secondary */
    --fc-monarch-secondary: rgb(114 53 35);
    --fc-monarch-secondary-foreground: rgb(255 219 209);
    --fc-monarch-secondary-over: #793f2d;
    --fc-monarch-secondary-down: #814837;

    /* tertiary */
    --fc-monarch-tertiary: rgb(216 197 141);
    --fc-monarch-tertiary-foreground: rgb(59 47 5);
    --fc-monarch-tertiary-over: #dccb99;
    --fc-monarch-tertiary-down: #e0d1a4;

    /* calendar content */
    --fc-monarch-now: rgb(255 180 171);
    --fc-monarch-event: var(--fc-monarch-primary);
    --fc-monarch-event-contrast: var(--fc-monarch-primary-foreground);
    --fc-monarch-highlight: #7235234D;

    /* controls */
    --fc-monarch-selected: rgb(231 189 178);
    --fc-monarch-selected-foreground: rgb(68 42 34);
    --fc-monarch-selected-over: #eac4ba;
    --fc-monarch-selected-down: #eccac1;
    --fc-monarch-outline: #f94e1b;

    /* popover */
    --fc-monarch-popover: rgb(26 17 15);
    --fc-monarch-popover-foreground: rgb(241 223 218);

    /* neutral backgrounds */
    --fc-monarch-background: #030712;

    /* neutral foregrounds */
    --fc-monarch-foreground: #ffffff;

    /* neutral borders */
    --fc-monarch-border: #34312f;
    --fc-monarch-strong-border: #544f4d;
  }
}

[data-palette=green] {
  /* primary */
  --fc-monarch-primary: rgb(76 102 43);
  --fc-monarch-primary-foreground: rgb(255 255 255);
  --fc-monarch-primary-over: #5c7440;
  --fc-monarch-primary-down: #6d8354;

  /* secondary */
  --fc-monarch-secondary: rgb(205 237 163);
  --fc-monarch-secondary-foreground: rgb(53 78 22);
  --fc-monarch-secondary-over: #c2e09a;
  --fc-monarch-secondary-down: #b7d391;

  /* tertiary */
  --fc-monarch-tertiary: rgb(56 102 99);
  --fc-monarch-tertiary-foreground: rgb(255 255 255);
  --fc-monarch-tertiary-over: #4b7471;
  --fc-monarch-tertiary-down: #5f8380;

  /* calendar content */
  --fc-monarch-now: rgb(186 26 26);
  --fc-monarch-event: var(--fc-monarch-primary);
  --fc-monarch-event-contrast: var(--fc-monarch-primary-foreground);
  --fc-monarch-highlight: #cdeda34D;

  /* controls */
  --fc-monarch-selected: rgb(88 98 73);
  --fc-monarch-selected-foreground: rgb(255 255 255);
  --fc-monarch-selected-over: #67705a;
  --fc-monarch-selected-down: #777f6a;
  --fc-monarch-outline: #9fdb50;

  /* popover */
  --fc-monarch-popover: var(--fc-monarch-background);

  /* neutral backgrounds */
  --fc-monarch-background: #ffffff;
  --fc-monarch-faint: #7c7c671A;
  --fc-monarch-muted: #7c7c6726;
  --fc-monarch-strong: #7c7c674D;
  --fc-monarch-stronger: #7c7c6759;
  --fc-monarch-strongest: #7c7c6766;

  /* neutral foregrounds */
  --fc-monarch-foreground: #0c0c09;

  /* neutral borders */
  --fc-monarch-border: #dddfdc;
  --fc-monarch-strong-border: #c3c5c1;
}
@media not print {
  [data-palette=green][data-color-scheme=dark],
  [data-palette=green] [data-color-scheme=dark] {
    /* primary */
    --fc-monarch-primary: rgb(177 209 138);
    --fc-monarch-primary-foreground: rgb(31 55 1);
    --fc-monarch-primary-over: #b9d696;
    --fc-monarch-primary-down: #c0daa2;

    /* secondary */
    --fc-monarch-secondary: rgb(53 78 22);
    --fc-monarch-secondary-foreground: rgb(205 237 163);
    --fc-monarch-secondary-over: #3e5622;
    --fc-monarch-secondary-down: #475e2e;

    /* tertiary */
    --fc-monarch-tertiary: rgb(160 208 203);
    --fc-monarch-tertiary-foreground: rgb(0 55 53);
    --fc-monarch-tertiary-over: #aad5d0;
    --fc-monarch-tertiary-down: #b3d9d5;

    /* calendar content */
    --fc-monarch-now: rgb(255 180 171);
    --fc-monarch-event: var(--fc-monarch-primary);
    --fc-monarch-event-contrast: var(--fc-monarch-primary-foreground);
    --fc-monarch-highlight: #354e164D;

    /* controls */
    --fc-monarch-selected: rgb(191 203 173);
    --fc-monarch-selected-foreground: rgb(42 51 30);
    --fc-monarch-selected-over: #c5d0b5;
    --fc-monarch-selected-down: #ccd5bd;
    --fc-monarch-outline: #5bcc3a;

    /* popover */
    --fc-monarch-popover: rgb(18 20 14);
    --fc-monarch-popover-foreground: rgb(226 227 216);

    /* neutral backgrounds */
    --fc-monarch-background: #030712;

    /* neutral foregrounds */
    --fc-monarch-foreground: #ffffff;

    /* neutral borders */
    --fc-monarch-border: #313330;
    --fc-monarch-strong-border: #525650;
  }
}

[data-palette=blue] {
  /* primary */
  --fc-monarch-primary: rgb(65 95 145);
  --fc-monarch-primary-foreground: rgb(255 255 255);
  --fc-monarch-primary-over: #526e9c;
  --fc-monarch-primary-down: #647ea7;

  /* secondary */
  --fc-monarch-secondary: rgb(214 227 255);
  --fc-monarch-secondary-foreground: rgb(40 71 119);
  --fc-monarch-secondary-over: #c9d6f2;
  --fc-monarch-secondary-down: #bdc9e5;

  /* tertiary */
  --fc-monarch-tertiary: rgb(133 93 140);
  --fc-monarch-tertiary-foreground: rgb(255 255 255);
  --fc-monarch-tertiary-over: #916c97;
  --fc-monarch-tertiary-down: #9d7ca2;

  /* calendar content */
  --fc-monarch-now: rgb(186 26 26);
  --fc-monarch-event: var(--fc-monarch-primary);
  --fc-monarch-event-contrast: var(--fc-monarch-primary-foreground);
  --fc-monarch-highlight: #d6e3ff4D;

  /* controls */
  --fc-monarch-selected: rgb(86 95 113);
  --fc-monarch-selected-foreground: rgb(255 255 255);
  --fc-monarch-selected-over: #656e7e;
  --fc-monarch-selected-down: #757d8c;
  --fc-monarch-outline: #6687ff;

  /* popover */
  --fc-monarch-popover: var(--fc-monarch-background);

  /* neutral backgrounds */
  --fc-monarch-background: #ffffff;
  --fc-monarch-faint: #64748b1A;
  --fc-monarch-muted: #64748b26;
  --fc-monarch-strong: #64748b4D;
  --fc-monarch-stronger: #64748b59;
  --fc-monarch-strongest: #64748b66;

  /* neutral foregrounds */
  --fc-monarch-foreground: #020617;

  /* neutral borders */
  --fc-monarch-border: #dddee1;
  --fc-monarch-strong-border: #c2c3c7;
}
@media not print {
  [data-palette=blue][data-color-scheme=dark],
  [data-palette=blue] [data-color-scheme=dark] {
    /* primary */
    --fc-monarch-primary: rgb(170 199 255);
    --fc-monarch-primary-foreground: rgb(10 48 95);
    --fc-monarch-primary-over: #b2cdff;
    --fc-monarch-primary-down: #bbd2ff;

    /* secondary */
    --fc-monarch-secondary: rgb(40 71 119);
    --fc-monarch-secondary-foreground: rgb(214 227 255);
    --fc-monarch-secondary-over: #32507e;
    --fc-monarch-secondary-down: #3c5885;

    /* tertiary */
    --fc-monarch-tertiary: rgb(221 188 224);
    --fc-monarch-tertiary-foreground: rgb(63 40 68);
    --fc-monarch-tertiary-over: #e0c3e3;
    --fc-monarch-tertiary-down: #e4c9e6;

    /* calendar content */
    --fc-monarch-now: rgb(255 180 171);
    --fc-monarch-event: var(--fc-monarch-primary);
    --fc-monarch-event-contrast: var(--fc-monarch-primary-foreground);
    --fc-monarch-highlight: #2847774D;

    /* controls */
    --fc-monarch-selected: rgb(190 198 220);
    --fc-monarch-selected-foreground: rgb(40 49 65);
    --fc-monarch-selected-over: #c4cce0;
    --fc-monarch-selected-down: #cbd1e3;

    /* popover */
    --fc-monarch-popover: rgb(17 19 24);
    --fc-monarch-popover-foreground: rgb(226 226 233);

    /* neutral backgrounds */
    --fc-monarch-background: #030712;

    /* neutral foregrounds */
    --fc-monarch-foreground: #ffffff;

    /* neutral borders */
    --fc-monarch-border: #313234;
    --fc-monarch-strong-border: #53555a;
  }
}

[data-palette=yellow] {
  /* primary */
  --fc-monarch-primary: rgb(109 94 15);
  --fc-monarch-primary-foreground: rgb(255 255 255);
  --fc-monarch-primary-over: #7a6d2e;
  --fc-monarch-primary-down: #887d47;

  /* secondary */
  --fc-monarch-secondary: rgb(248 226 135);
  --fc-monarch-secondary-foreground: rgb(83 70 0);
  --fc-monarch-secondary-over: #ead680;
  --fc-monarch-secondary-down: #ddc979;

  /* tertiary */
  --fc-monarch-tertiary: rgb(67 102 78);
  --fc-monarch-tertiary-foreground: rgb(255 255 255);
  --fc-monarch-tertiary-over: #55745e;
  --fc-monarch-tertiary-down: #66836f;

  /* calendar content */
  --fc-monarch-now: rgb(186 26 26);
  --fc-monarch-event: var(--fc-monarch-primary);
  --fc-monarch-event-contrast: var(--fc-monarch-primary-foreground);
  --fc-monarch-highlight: #f8e2874D;

  /* controls */
  --fc-monarch-selected: rgb(102 94 64);
  --fc-monarch-selected-foreground: rgb(255 255 255);
  --fc-monarch-selected-over: #746d52;
  --fc-monarch-selected-down: #827c63;
  --fc-monarch-outline: #ffbd66;

  /* popover */
  --fc-monarch-popover: var(--fc-monarch-background);

  /* neutral backgrounds */
  --fc-monarch-background: #ffffff;
  --fc-monarch-faint: #7c7c671A;
  --fc-monarch-muted: #7c7c6726;
  --fc-monarch-strong: #7c7c674D;
  --fc-monarch-stronger: #7c7c6759;
  --fc-monarch-strongest: #7c7c6766;

  /* neutral foregrounds */
  --fc-monarch-foreground: #0c0c09;

  /* neutral borders */
  --fc-monarch-border: #e0dfdb;
  --fc-monarch-strong-border: #c5c3bf;
}
@media not print {
  [data-palette=yellow][data-color-scheme=dark],
  [data-palette=yellow] [data-color-scheme=dark] {
    /* primary */
    --fc-monarch-primary: rgb(219 198 110);
    --fc-monarch-primary-foreground: rgb(58 48 0);
    --fc-monarch-primary-over: #dfcc7e;
    --fc-monarch-primary-down: #e2d28d;

    /* secondary */
    --fc-monarch-secondary: rgb(83 70 0);
    --fc-monarch-secondary-foreground: rgb(248 226 135);
    --fc-monarch-secondary-over: #5b4e13;
    --fc-monarch-secondary-down: #625722;

    /* tertiary */
    --fc-monarch-tertiary: rgb(169 208 179);
    --fc-monarch-tertiary-foreground: rgb(20 55 35);
    --fc-monarch-tertiary-over: #b2d5ba;
    --fc-monarch-tertiary-down: #bad9c2;

    /* calendar content */
    --fc-monarch-now: rgb(255 180 171);
    --fc-monarch-event: var(--fc-monarch-primary);
    --fc-monarch-event-contrast: var(--fc-monarch-primary-foreground);
    --fc-monarch-highlight: #5346004D;

    /* controls */
    --fc-monarch-selected: rgb(209 198 161);
    --fc-monarch-selected-foreground: rgb(54 48 22);
    --fc-monarch-selected-over: #d6ccaa;
    --fc-monarch-selected-down: #dad1b4;
    --fc-monarch-outline: #ffe6c5;

    /* popover */
    --fc-monarch-popover: rgb(21 19 11);
    --fc-monarch-popover-foreground: rgb(232 226 212);

    /* neutral backgrounds */
    --fc-monarch-background: #030712;

    /* neutral foregrounds */
    --fc-monarch-foreground: #ffffff;

    /* neutral borders */
    --fc-monarch-border: #333230;
    --fc-monarch-strong-border: #56544f;
  }
}
